﻿@model ART.ImageEntity
@using System.IO;
@{
    ViewBag.Title = (Model.ImageId > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
<div class="references edit-page">
<h2>@(Model.ImageId > 0 ? "Edit" : "Add") Image</h2>
<p class="error-message">@(TempData["error"])</p>
@using (Html.BeginForm("Edit", "Image", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { @class = "details", id = "reference-form", enctype = "multipart/form-data" }))
{   <input type="hidden" value="@Model.ImageId" id="imageId" name="imageId" />
    <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="reportid" name="reportid" />
    <input type="hidden" value="@Model.Path" name="path" />
    <ul>
        <li>
            <label class="field-name-text">Name:</label>
            <input class="required" id="name" name="name" value="@Model.Name" />
        </li>
        <li>
            <label class="field-name-text">Caption:</label>
            <textarea class="mceEditor" id="description" name="description">@Model.Description</textarea>
        </li>
                        <li class="edit-doc">
            <label class="field-name-text">Upload Image:</label>
            <input class="required" value="@Model.Path" title="" type="file" id="file" name="file" />
        </li>

<!-- Edit area starts here -->
        <li  class="view-doc">
            <label class="field-name-text">Image file: </label>
            <a href="/download?filename=@HttpUtility.UrlEncode(Model.Path)">@HttpUtility.UrlDecode(Model.Path)</a>
        </li>
        <li class="view-doc update-link image">
           <a>Update Image</a>
        </li>
        <li><a class="save-area submit button-on"><span class="l">Save</span><span class="r"></span></a><span class="cancel-area"> or <a href="@Url.Action("Index", "Image")">Cancel</a></span></li>
    </ul>
}
</div>

<div class="clear"></div>
<script data-main="views/image/edit" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
