﻿@model IList<ImageEntity>
@using ART;
@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="references images">
<a class="button-review bulk-add"  href="@Url.Action("Edit", "Image", new { imageId = 0, id = ViewContext.RouteData.Values["id"] })">
<span class="l">Add New</span>
<span class="r"></span>
<span class="plus"></span>
</a>
<h2>Images</h2>
   @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "images" })
<div id="reference-container">
@Html.Partial("_Images", Model)
</div>
</div>
@Html.Partial("_DeleteConfirmationModal")
<script data-main="views/image/index" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>