﻿@model IList<ReviewFactorColumnEntity>
@using ART;

@{
    Layout = null;
}

@foreach (ReviewFactorColumnEntity innerEntity in Model)
{
    <div class="answer-inner-container">
        <div class="related-combinations">
            <ul>
                @{var temp = "";}
                @foreach (string name in innerEntity.RelevantRows)
                {

                    if (temp == name)
                    {
                        continue;
                    }
                    temp = name;
                    
                    <li>@name</li>   
                }
            </ul>
        </div>
        <div class="details">
            <div class="score-grey"><span>@innerEntity.FactorColumnEntity.FactorScore</span> @innerEntity.FactorColumnEntity.FactorScoreDescription</div>
            <h4>Key Relevant Info:</h4>
            <div class="relevant-info">@Html.Raw(HttpUtility.HtmlDecode(innerEntity.FactorColumnEntity.FactorKeyInfo))</div>
            @if (innerEntity.FactorColumnEntity.FactorDetailedRationale != null && innerEntity.FactorColumnEntity.FactorDetailedRationale.Trim().Length > 0)
            {
                <h4>Detailed Rationale:</h4>
            }
            <div class="rationale">@Html.Raw(MontereyBayAquarium.Swat.Web.Helpers.ParseWithImages(HttpUtility.HtmlDecode(innerEntity.FactorColumnEntity.FactorDetailedRationale), Convert.ToInt16(ViewContext.RouteData.Values["id"])))</div>
            @{
            IList<ReferenceEntity> references = MontereyBayAquarium.Swat.Web.Helpers.GetAllReferences(HttpUtility.HtmlDecode(innerEntity.FactorColumnEntity.FactorKeyInfo + innerEntity.FactorColumnEntity.FactorDetailedRationale), Convert.ToInt16(ViewContext.RouteData.Values["id"])); 
            }
            @if (references.Count > 0)
            {
                <h4 class="reference-title">References:</h4>
                foreach (ReferenceEntity reference in references)
                {
                    string attributes;
                    if (reference.isUrl)
                    {
                        attributes = "class=link";
                        if (reference.Path != null)
                        {
                            attributes += " href=" + reference.Path + " target='_Blank'";
                        }
                    }
                    else
                    {
                        attributes = "class=doc";
                        if (reference.Path != null)
                        {
                            attributes += " href=/download?filename=" + Url.Encode(reference.Path);
                        }
                    }
                <div class="reference">
                    <h4>@reference.ShortName</h4>
                    <a @attributes>@reference.Bibliography</a>
                </div>
                }
            }
        </div>
        <div>
            @if (TempData["Context"] != "Preview")
            {
                @Html.Action("Index", "Comment", new { answerId = innerEntity.FactorColumnEntity.FactorId })
            }
        </div>
    </div>
}