﻿@model MontereyBayAquarium.Swat.Web.Models.Analysis.AppendixViewModel
@using ART.Reporting;
@{
    Layout = "";
}
    <h2>Appendix</h2>
    <div class="clear"></div>

    @*<h3>Appendix A: All Species Evaluated under Criterion 2</h3>
    
    @foreach (IGrouping<string, System.Data.DataRow> group in Model.AppendixA)
    {
        <h4>@group.Key</h4>
       <table class="stock-analysis">
        <tr class="table-header">
            <td class="left-cap dark-bg">Stock</td>
            <td class="">Inherent Vulnerability</td>
            <td>Stock Status</td>
            <td>Fishing Mortality</td>
            <td>Discard Rate</td>
            <td>Score</td>
            <td class="right-cap">Rank</td>
        </tr>
            @foreach (System.Data.DataRow row in group)
            {
             <tr class="table-body">
                <td class="left-cap dark-bg">@row.ItemArray[1]</td>
                <td class="">@if (@row.ItemArray[12].ToString() != "")
                             { @( row.ItemArray[12] + ":" + @row.ItemArray[13]) }</td>
                <td class="">@if (@row.ItemArray[20].ToString() != "")
                             { @( row.ItemArray[20] + ":" + @row.ItemArray[21]) }</td>
                <td class="">@if (@row.ItemArray[28].ToString() != "")
                             { @( row.ItemArray[28] + ":" + @row.ItemArray[29]) }</td>
               <td class="">@if (@row.ItemArray[36].ToString() != "")
                             { @( row.ItemArray[36] + ":" + @row.ItemArray[37]) }</td>
                <td class="score">@row.ItemArray[39]</td>
                <td class="@row.ItemArray[40].ToString().ToLower() score right-cap"><div><span>@row.ItemArray[40]</span></div></td>
            </tr>
            }
        </table>

    }
    *@
    <div class="container">
        @for (int x = 0; x < Model.Appendices.Count; x++)
        {
            <h3>Appendix @((char)('A' + x)): @Model.Appendices.ElementAt(x).Title</h3>
            <div>
                @Html.Partial("_TextBlock", Model.Appendices.ElementAt(x).Appendix)
            </div>
        }
        <h3>Review Schedule</h3>
        <div>
                        @Html.Partial("_TextBlock", Model.ReviewSchedule)
        </div>
    </div>
