﻿@model MontereyBayAquarium.Swat.Web.Models.Review.Criteria2ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@using MontereyBayAquarium.Swat.Web;
@{
    Layout = null;
}
<h2>Criterion 2: Impacts on other retained and bycatch stock</h2>
@if (TempData["Context"] != "Preview")
{
        <ul class="direction">
            <li class="back">
                <a class="button-grey"  href="criteria1"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on" href="criteria3"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
}
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Scoring and Rank", key = "C2Principles" })

        <div class="clear"></div>
@Html.Partial("_Criteria2Summary", Model.Criteria)

<div>@Html.Raw(Model.Synthesis)</div>

<h1>Justification of Rankings</h1>
@foreach (GroupedFactorColumnEntity entity in Model.GroupedAnswers2)
{
       <div class="justification-container">
            <h2>@entity.CommonName</h2>        
            <h3>2.1 - Inherent Vulnerability</h3>
            @Html.Partial("_AnswerContainer", entity.Factor1Entities)
            <h3>2.2 - Stock Status</h3>
            @Html.Partial("_AnswerContainer", entity.Factor2Entities)
            <h3>2.3 - Fishing Mortality</h3>
            @Html.Partial("_AnswerContainer", entity.Factor3Entities)

        </div>
}
@foreach (GroupedFactorColumnEntity entity in Model.GroupedAnswers)
{
       <div class="justification-container">
            <h3>2.4 - Discards + Bait / Landings</h3>
            @Html.Partial("_AnswerContainer", entity.Factor1Entities)
        </div>
}
