﻿@model MontereyBayAquarium.Swat.Web.Models.Review.Criteria4ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@using MontereyBayAquarium.Swat.Web;
@{
    Layout = null;
}
        <h2>
            Criterion 4: Impacts on the habitat and ecosystem</h2>
             @if (TempData["Context"] != "Preview")
             {
        <ul class="direction">
            <li class="back" href="criteria3"><a href="@Url.Action("Criteria3")" class="button-grey"><span class="l"><span class="left">
            </span>Go Back</span><span class="r"></span></a> </li>
            <li class="next"><a class="button-on" href="overall-recommendation"><span class="l">
                <span class="right"></span>Next Step</span><span class="r"></span></a> </li>
        </ul>
             }
        <div class="clear">
        </div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Scoring and Rank", key = "C4Principles" })
        <div class="clear">
        </div>


    @if (Model.Criteria.Count > 0)
    {
       <table class="stock-analysis" cellspacing="0" cellpadding="0" border="0">
            <tr class="table-header collapse">
            <td class="left-cap dark-bg">Region</td>
            <td class="dark-bg">Gear Type</td>
            <td>Fishing Gear on the Substrate</td>
            <td>Mitigation of Gear Impacts</td>
            <td>EBFM</td>
            <td class="right-cap">Score</td>
            </tr>

            @foreach (Criteria4Entity criteria in Model.Criteria)
            {
                <tr class="collapse table-body rec">
                    <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater</td>
                    <td class="dark-bg">@criteria.Method</td>
                    <td>
                        <div class="cell-wrapper">
                            @{
                        AnswerCellViewModel model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                    criteria.Factor1Label, criteria.Factor1CommentCount, criteria.Factor1Title, criteria.Factor1KeyInfo, 7, "Gear Type and Substrate",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                            }
                            @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                        <div class="cell-wrapper">
                        @{
                        model = Helpers.MakeAnswerCellViewModel(criteria.Factor2Id, criteria.Factor2Score, criteria.Factor2ScoreDescription,
                            criteria.Factor2Label, criteria.Factor2CommentCount, criteria.Factor2Title, criteria.Factor2KeyInfo, 8, "Mitigation of Gear Impacts",
                            "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                        model = Helpers.MakeAnswerCellViewModel(criteria.Factor3Id, criteria.Factor3Score, criteria.Factor3ScoreDescription,
                            criteria.Factor3Label, criteria.Factor3CommentCount, criteria.Factor3Title, criteria.Factor3KeyInfo, 9, "EBFM",
                            "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td class="right-cap score @(criteria.Color != null ? criteria.Color.ToLower() : "")">
                            @if (@criteria.Score != null)
                            {
                        <div>
                            <span>@criteria.Score</span>
                        </div>
                            }
                    </td>
                </tr>
            }
        </table>
    }

<div>@Html.Raw(Model.Synthesis)</div>


<h1>Justification of Rankings</h1>
@foreach (GroupedFactorColumnEntity entity in Model.GroupedAnswers)
{
       <div class="justification-container">
            <h3>4.1 - Fishing Gear on the Substrate</h3>
            @Html.Partial("_AnswerContainer", entity.Factor1Entities)
            <h3>4.2 - Mitigation of Gear Impacts</h3>
            @Html.Partial("_AnswerContainer", entity.Factor2Entities)
            <h3>4.3 - EBFM</h3>
            @Html.Partial("_AnswerContainer", entity.Factor3Entities)

        </div>
}
