﻿@model MontereyBayAquarium.Swat.Web.Models.Review.Criteria1ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@using MontereyBayAquarium.Swat.Web;
@{
    Layout = null;
}
<h2>Criterion 1: Impacts of the Fishery on the Stock for which you want a Recommendation</h2>
@if (TempData["Context"] != "Preview")
{
    <ul class="direction">
        <li class="back">
            <a class="button-grey" href="introduction"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
        </li>
        <li class="next">
            <a class="button-on" href="criteria2"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
        </li>
    </ul>
}
<div class="clear"></div>
@Html.Action("GuidingPrinciple", "Analysis", new { title = "Scoring and Rank", key = "C1Principles" })
<div class="clear"></div>

@{
    if (Model.Criteria.Count > 0)
    {
        var curSpecies = "";
        foreach (Criteria1Entity criteria in Model.Criteria)
        {
            if (curSpecies != criteria.CommonName)
            {
                curSpecies = criteria.CommonName;
                if (curSpecies != "") { Html.Raw("</table>"); }
    @Html.Raw("<table class=\"stock-analysis\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">")
    <tr class="click-to-collapse on review">
        <th class="left-cap" colspan="5"><span></span>@curSpecies</th>
        <th class="right-cap"></th>
    </tr>
    <tr class="table-header collapse">
        <td class="left-cap dark-bg">Region</td>
        <td class="dark-bg">Gear Type</td>
        <td>Inherent Vulnerability</td>
        <td>Stock Status</td>
        <td>Fishing Mortality</td>
        <td class="right-cap">Score</td>
    </tr>
            }
    <tr class="collapse table-body rec" id="@criteria.RecId">
        <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater</td>
        <td class="dark-bg">@criteria.Method</td>
        <td>
            <div class="cell-wrapper">
                @{
            AnswerCellViewModel model = Helpers.MakeAnswerCellViewModel(criteria.Factor1, 1, "Inherent Vulnerability",
                    criteria.CommonName, criteria.Location, criteria.BodyOfWater, criteria.Method);
                }
                @Html.Partial("_ReviewAnswerCell", model)
            </div>
        </td>
        <td>
            <div class="cell-wrapper">
                @{
            model = Helpers.MakeAnswerCellViewModel(criteria.Factor2, 2, "Stock Status",
                criteria.CommonName, criteria.Location, criteria.BodyOfWater, criteria.Method);
                }
                @Html.Partial("_ReviewAnswerCell", model)
            </div>
        </td>
        <td>
            <div class="cell-wrapper">
                @{
            model = Helpers.MakeAnswerCellViewModel(criteria.Factor3, 3, "Fishing Mortality",
                criteria.CommonName, criteria.Location, criteria.BodyOfWater, criteria.Method);
                }
                @Html.Partial("_ReviewAnswerCell", model)
            </div>
        </td>
        <td class="right-cap score @(criteria.Color != null ? criteria.Color.ToLower() : "")">
            @if (@criteria.Score != null)
            {
                <div>
                    <span>@criteria.Score</span>
                </div>
            }
        </td>
    </tr>
        }
    }
}
</table>
<div>@Html.Raw(Model.Synthesis)</div>

<h1>Justification of Rankings</h1>
@foreach (GroupedFactorColumnEntity entity in Model.GroupedAnswers)
{
    <div class="justification-container">
        <h2>@entity.CommonName</h2>
        <h3>1.1 - Inherent Vulnerability</h3>
        @Html.Partial("_AnswerContainer", entity.Factor1Entities)
        <h3>1.2 - Stock Status</h3>
        @Html.Partial("_AnswerContainer", entity.Factor2Entities)
        <h3>1.3 - Fishing Mortality</h3>
        @Html.Partial("_AnswerContainer", entity.Factor3Entities)

    </div>
}
