﻿@model MontereyBayAquarium.Swat.Web.Models.Review.Criteria3ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@using MontereyBayAquarium.Swat.Web;
@{
    Layout = null;
}
            <h2>Criterion 3: Management Effectiveness</h2>
            @if (TempData["Context"] != "Preview")
            {
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="criteria2"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on" href="criteria4"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
            }
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Scoring and Rank", key = "C3Principles" })
        <div class="clear"></div>
    @Html.Partial("_Criteria3Summary", Model.SummaryCriteria)
           <div>@Html.Raw(Model.Synthesis3)</div>

   

<h1>Justification of Rankings</h1>
<h2 class="criteria3-subhead">3.1 Harvest Strategy</h2>
 @if (Model.Criteria31.Count > 0)
    {
       <table class="stock-analysis" cellspacing="0" cellpadding="0" border="0">
            <tr class="table-header collapse">
            <td class="left-cap dark-bg">Region</td>
            <td class="dark-bg">Gear Type</td>
            <td>Critical?</td>
            <td>Strategy</td>
            <td>Recovery</td>
            <td>Research</td>
            <td>Advice</td>
            <td>Enforce</td>
            <td>Track</td>
            <td class="right-cap">Inclusion</td>
            </tr>

            @foreach (Criteria31Entity criteria in Model.Criteria31)
            {
                <tr class="collapse table-body rec">
                    <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater</td>
                    <td class="dark-bg">@criteria.Method</td>
                    <td>
                        <div class="cell-wrapper">
                            @{
                AnswerCellViewModel model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                criteria.Factor1Label, criteria.Factor1CommentCount, criteria.Factor1Title, criteria.Factor2KeyInfo, 10, "Critical?",
            "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                            }
                            @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                        <div class="cell-wrapper">
                        @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor2Id, criteria.Factor2Score, criteria.Factor2ScoreDescription,
                criteria.Factor2Label, criteria.Factor2CommentCount, criteria.Factor2Title, criteria.Factor2KeyInfo, 11, "Mgmt Strategy / Implement",
            "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor3Id, criteria.Factor3Score, criteria.Factor3ScoreDescription,
               criteria.Factor3Label, criteria.Factor3CommentCount, criteria.Factor3Title, criteria.Factor3KeyInfo, 12, "Recovery of Stock Concerns",
           "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                     <td>
                    <div class="cell-wrapper">
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor4Id, criteria.Factor4Score, criteria.Factor4ScoreDescription,
                        criteria.Factor4Label, criteria.Factor4CommentCount, criteria.Factor4Title, criteria.Factor4KeyInfo, 13, "Scientific Research / Monitoring",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor5Id, criteria.Factor5Score, criteria.Factor5ScoreDescription,
                        criteria.Factor5Label, criteria.Factor5CommentCount, criteria.Factor5Title, criteria.Factor5KeyInfo, 14, "Scientific Advice",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor6Id, criteria.Factor6Score, criteria.Factor6ScoreDescription,
                        criteria.Factor6Label, criteria.Factor6CommentCount, criteria.Factor6Title, criteria.Factor6KeyInfo, 15, "Enforce",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor7Id, criteria.Factor7Score, criteria.Factor7ScoreDescription,
                        criteria.Factor7Label, criteria.Factor7CommentCount, criteria.Factor7Title, criteria.Factor7KeyInfo, 16, "Track Record",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor8Id, criteria.Factor8Score, criteria.Factor8ScoreDescription,
                        criteria.Factor8Label, criteria.Factor8CommentCount, criteria.Factor8Title, criteria.Factor8KeyInfo, 17, "Stakeholder Inclusion",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    <div>@Html.Raw(Model.Synthesis1)</div>

    @foreach (GroupedFactorColumnEntity entity in Model.GroupedAnswers)
    {
       <div class="justification-container">
            @{
                var count = entity.Factor1Entities.Where(x => x.FactorColumnEntity.FactorScoreDescription != "No").Count();
            }
            @if (count > 0)
            {
                <h3>3.1.0 - Critical?</h3>
                @Html.Partial("_AnswerContainer", entity.Factor1Entities.Where(x => x.FactorColumnEntity.FactorScoreDescription != "No").ToList())
            }
            <h3>3.1.1 - Management strategy and implementation</h3>
            @Html.Partial("_AnswerContainer", entity.Factor2Entities)
            <h3>3.1.2 - Recovery of stocks of concern</h3>
            @Html.Partial("_AnswerContainer", entity.Factor3Entities)
            <h3>3.1.3 - Scientific research and monitoring</h3>
            @Html.Partial("_AnswerContainer", entity.Factor4Entities)
            <h3>3.1.4 - Scientific advice</h3>
            @Html.Partial("_AnswerContainer", entity.Factor5Entities)
            <h3>3.1.5 - Enforcement</h3>
            @Html.Partial("_AnswerContainer", entity.Factor6Entities)
            <h3>3.1.6 - Track Record</h3>
            @Html.Partial("_AnswerContainer", entity.Factor7Entities)
            <h3>3.1.7 - Stakeholder inclusion</h3>
            @Html.Partial("_AnswerContainer", entity.Factor8Entities)
        </div>
}

<h2 class="criteria3-subhead">3.2 Bycatch Strategy</h2>
    @if (Model.Criteria32.Count > 0)
    {
       <table class="stock-analysis" cellspacing="0" cellpadding="0" border="0">
            <tr class="table-header collapse">
            <td class="left-cap dark-bg">Region</td>
            <td class="dark-bg">Gear Type</td>
            <td>All Kept?</td>
            <td>Critical?</td>
            <td>Strategy</td>
            <td>Research</td>
            <td>Advice</td>
            <td  class="right-cap">Enforce</td>
            </tr>

            @foreach (Criteria32Entity criteria in Model.Criteria32)
            {
                <tr class="collapse table-body rec">
                    <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater</td>
                    <td class="dark-bg">@criteria.Method</td>
                    <td>
                        <div class="cell-wrapper">
                        @{
                AnswerCellViewModel model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                        criteria.Factor1Label, criteria.Factor1CommentCount, criteria.Factor1Title, "", 18, "All Species Retained?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                            @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                        <div class="cell-wrapper">
                        @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor2Id, criteria.Factor2Score, criteria.Factor2ScoreDescription,
                    criteria.Factor2Label, criteria.Factor2CommentCount, criteria.Factor2Title, "", 19, "Critical?",
                "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor3Id, criteria.Factor3Score, criteria.Factor3ScoreDescription,
                    criteria.Factor3Label, criteria.Factor3CommentCount, criteria.Factor3Title, "", 20, "Mgmt Strategy / Implement",
                "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                     <td>
                    <div class="cell-wrapper">
                        @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor4Id, criteria.Factor4Score, criteria.Factor4ScoreDescription,
                    criteria.Factor4Label, criteria.Factor4CommentCount, criteria.Factor4Title, criteria.Factor4KeyInfo, 21, "Scientific Research / Monitoring",
                "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor5Id, criteria.Factor5Score, criteria.Factor5ScoreDescription,
                    criteria.Factor5Label, criteria.Factor5CommentCount, criteria.Factor5Title, criteria.Factor5KeyInfo, 22, "Scientific Advice",
                "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                    <td>
                    <div class="cell-wrapper">
                        @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor6Id, criteria.Factor6Score, criteria.Factor6ScoreDescription,
                    criteria.Factor6Label, criteria.Factor6CommentCount, criteria.Factor6Title, criteria.Factor6KeyInfo, 23, "Enforce",
                "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_ReviewAnswerCell", model)
                        </div>
                    </td>
                </tr>
            }
        </table>
    }

        <div>@Html.Raw(Model.Synthesis2)</div>



@foreach (GroupedFactorColumnEntity entity in Model.GroupedAnswers2)
{
       <div class="justification-container">
            @{
                var count = entity.Factor1Entities.Where(x => x.FactorColumnEntity.FactorScoreDescription != "No").Count();
            }
            @if (count > 0)
            {
                <h3>3.2.0 - All Kept?</h3>
                @Html.Partial("_AnswerContainer", entity.Factor1Entities.Where(x => x.FactorColumnEntity.FactorScoreDescription != "No").ToList())
            }
            @{
                var count2 = entity.Factor2Entities.Where(x => x.FactorColumnEntity.FactorScoreDescription != "No").Count();
            }
            @if (count2 > 0)
            {
                <h3>3.2.0 - All Kept?</h3>
                @Html.Partial("_AnswerContainer", entity.Factor2Entities.Where(x => x.FactorColumnEntity.FactorScoreDescription != "No").ToList())
            }
            <h3>3.2.1 - Management strategy and implementation</h3>
            @Html.Partial("_AnswerContainer", entity.Factor3Entities)
            <h3>3.2.2 - Scientific research and monitoring</h3>
            @Html.Partial("_AnswerContainer", entity.Factor4Entities)
            <h3>3.2.3 - Scientific advice</h3>
            @Html.Partial("_AnswerContainer", entity.Factor5Entities)
            <h3>3.2.4 - Enforcement</h3>
            @Html.Partial("_AnswerContainer", entity.Factor6Entities)
        </div>
}