﻿@model MontereyBayAquarium.Swat.Web.Models.Review.GenericViewModel
@using ART.Reporting;
@{
    Layout = "";
}
    <h2>Executive Summary</h2>
    <div class="clear"></div>
    <div class="container">
        @Html.Raw(Model.TextBlock)
    </div>