﻿@using DataDynamics.ActiveReports;
@using ART.Reporting;
@using System.Data;
@model MontereyBayAquarium.Swat.Web.Models.Review.RecommendationViewModel
@{
    Layout = "";
}
    <table class="stock-analysis draft-recommendation">
        <tr class="table-header">
            <td class="left-cap dark-bg">Stock</td>
            <td class="dark-bg">Fishery</td>
            <td>Impacts on the stock</td>
            <td>Impacts on other species</td>
            <td>Management</td>
            <td>Habitat and Ecosystem</td>
            <td class="right-cap">Overall Recommendation</td>
        </tr>
            @foreach (DataRow row in Model.DataTable.Rows)
    {
         <tr class="table-body">
            <td class="left-cap dark-bg">@row.ItemArray[2]</td>
            <td class="dark-bg">@row.ItemArray[3], @row.ItemArray[4]</td>
            <td class="@row.ItemArray[6].ToString().ToLower() score"><div><span>@row.ItemArray[5]</span></div></td>
            <td class="@row.ItemArray[8].ToString().ToLower() score"><div><span>@row.ItemArray[7]</span></div></td>
            <td class="@row.ItemArray[10].ToString().ToLower() score"><div><span>@row.ItemArray[9]</span></div></td>
            <td class="@row.ItemArray[12].ToString().ToLower() score"><div><span>@row.ItemArray[11]</span></div></td>
            <td class="right-cap @row.ItemArray[14].ToString().ToLower() score"><div><span>@row.ItemArray[15] @if(row.ItemArray[13].ToString().Length > 0) { @( " ("+ row.ItemArray[13] +") " ) } </span></div></td>
        </tr>
    }
    </table>
<h3>Summary</h3>

<div>
    @Html.Raw(Model.Summary)
</div>

@if (Model.EcoCertification != null && Model.EcoCertification != "")
{
    <h3>Eco Certification</h3>
    <div>
        @Html.Raw(Model.EcoCertification)
    </div>
}