﻿@model MontereyBayAquarium.Swat.Web.Models.Review.IntroductionViewModel
@using MontereyBayAquarium.Swat.Web;
@using ART.Reporting;
@using ART;
@{
    Layout = "";
}
    <h2>Introduction</h2>
    <div class="clear"></div>
    <h3>Scope of the analysis and ensuing recommendation</h3>

        @Html.Partial("_TextBlock", Model.IntroductionScope)
    <h3>Overview of the species and management bodies</h3>
        @Html.Partial("_TextBlock", Model.IntroductionSpeciesOverview)
    <h3>Production Statistics</h3>
        @Html.Partial("_TextBlock", Model.ProductionStatistics)
    <h3>Importance to the US/North American market.</h3>
        @Html.Partial("_TextBlock", Model.ImportanceToMarket)
    <h3>Common and market names.</h3>
        @Html.Partial("_TextBlock", Model.CommonMarketNames)
     <h3>Primary product forms.</h3>
        @Html.Partial("_TextBlock", Model.ProductForms)