﻿@using DataDynamics.ActiveReports;
@using ART.Reporting;
@using System.Data;
@model System.Data.DataTable
@{
    Layout = "";
}
    <h2>Overall Recommendation</h2>
    <div class="clear"></div>
    <div>
        <p>Final Score = geometric means of the four Scores (Criterion 1, Criterion 2, Crtierion 3, Criterion 4).</p>
        <p>The overall recommendation is as follows:</p>
        <ul class="scoring-options">
            <li><span class="green">Best Choice</span> = Final Score between 3.2 and 5, and no Red Criteria, and no Critical scores </li>
            <li><span class="yellow">Good Alternative</span> = Final score between 2.2 and 3.199, and Management is not Red, and no more than one Red Criterion other than Management, and no Critical scores </li>
            <li><span class="red">Avoid</span> =  Final Score between 0 and 2.199, or Management is Red, or two or more Red Criteria, or one or more Critical scores.  </li>
        </ul>
    </div>
    <div>
        @foreach (DataRow row in Model.Rows)
        {
            <div class="recommendation-container">
            <h3>@row.ItemArray[1]</h3>
            <div class="overall-score @row.ItemArray[14].ToString().ToLower()">
                @row.ItemArray[15]
            </div>
            <table class="stock-analysis overall-recommendation">
                <tbody >
                    <tr class="table-body">
                        <td>Impact on the stock</td><td>@row.ItemArray[5]</td><td class="score @row.ItemArray[6].ToString().ToLower()"><div><span>@row.ItemArray[6]</span></div></td>
                        <td>Overall Score</td><td>@row.ItemArray[13]</td>
                    </tr>
                     <tr class="table-body">
                        <td>Impact on other stocks</td><td>@row.ItemArray[7]</td><td class="score @row.ItemArray[8].ToString().ToLower()"><div><span>@row.ItemArray[8]</span></div></td>
                        <td>Any Criticals?</td><td>@row.ItemArray[17]</td>
                    </tr>
                     <tr class="table-body">
                        <td>Management</td><td>@row.ItemArray[9]</td><td class="score @row.ItemArray[10].ToString().ToLower()"><div><span>@row.ItemArray[10]</span></div></td>
                        <td>Number of Reds</td><td>@row.ItemArray[16]</td>
                    </tr>
                     <tr class="table-body">
                        <td>Habitat & Ecosystem</td><td>@row.ItemArray[11]</td><td class="score @row.ItemArray[12].ToString().ToLower()"><div><span>@row.ItemArray[12]</span></div></td>
                    </tr>
                </tbody>
            </table>
            </div>
        }

    </div>