﻿@model MontereyBayAquarium.Swat.Web.Models.References.ReferencesViewModel
@{
    Layout = "";
}
    <h2>References</h2>
    <div class="clear"></div>
    <div id="reference-container">
        @Html.Partial("_References", Model)
    </div>
