﻿@model MontereyBayAquarium.Swat.Web.Models.Shared.AnswerCellViewModel
@if (Model.Answer.FactorId > 0)
{
<div class="cell-wrapper">
    <ul class="risk-factor">
        <li>
            <span class="risk-number">@Model.Answer.Score </span>
            <span class="risk-text">@Model.Answer.ScoreDescription </span>
        </li>
    </ul>
</div>
}
