﻿@model string
@using MontereyBayAquarium.Swat.Web;
@using ART.Reporting;
@using ART;
@{
    Layout = "";
}
        <div class="container details">
        @Html.Raw(Helpers.ParseWithImages(HttpUtility.HtmlDecode(Model), Convert.ToInt16(ViewContext.RouteData.Values["id"])))
        @{ IList<ReferenceEntity> references = Helpers.GetAllReferences(HttpUtility.HtmlDecode(Model), Convert.ToInt16(ViewContext.RouteData.Values["id"])); }
         @if (references.Count > 0)
         {
            <h4 class="reference-title">References:</h4>
             foreach (ReferenceEntity reference in references)
             {
                 string attributes;
                 if (reference.isUrl)
                 {
                     attributes = "class=link";
                     if (reference.Path != null)
                     {
                         attributes += " href=" + Url.Encode(reference.Path);
                     }
                 }
                 else
                 {
                     attributes = "class=doc";
                     if (reference.Path != null)
                     {
                         attributes += " href=/download?filename=" + Url.Encode(reference.Path);
                     }
                 }
                <div class="reference">
                    <h4>@reference.ShortName</h4> <a @attributes>@reference.Bibliography</a>
                </div>
             }
         }
    </div>