﻿@using ART;
@{
    ViewBag.Title = "Appendix";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}
<div class="review-tabbed-content appendix">
    <ul class="direction">
            <li class="back">
                <a class="button-grey" href="@Url.Action("References")"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
        </ul>
        @Html.Action("AppendixList", new { id = ViewContext.RouteData.Values["id"] })
</div>
<script data-main="views/review/appendix" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>