﻿@using ART.Reporting;
@using DataDynamics.ActiveReports;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{
    ViewBag.Title = "Criteria2";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}

<div class="criteria-2">
    <ul class="sub-tabs">
        <li>
            <a href="criteria1">Criterion 1</a>
            <span></span>
        </li>
        <li class="on">
            <a href="criteria2">Criterion 2</a>
            <span></span>
        </li>
        <li>
            <a href="criteria3">Criterion 3</a>
            <span></span>
        </li>
        <li>
            <a href="criteria4">Criterion 4</a>
            <span></span>
        </li>
    </ul>
    <div class="clear"></div>
    <div class="review-content">
        

        @Html.Action("Criteria2Review", new { id = ViewContext.RouteData.Values["id"] })
        
    </div>
</div>
<script data-main="views/review/criteria2" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>