﻿@using DataDynamics.ActiveReports;
@using ART.Reporting;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{
    ViewBag.Title = "Criteria1";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}

<div class="criteria-1">
    <ul class="sub-tabs">
        <li class="on">
            <a href="criteria1">Criterion 1</a>
            <span></span>
        </li>
        <li>
            <a href="criteria2">Criterion 2</a>
            <span></span>
        </li>
        <li>
            <a href="criteria3">Criterion 3</a>
            <span></span>
        </li>
        <li>
            <a href="criteria4">Criterion 4</a>
            <span></span>
        </li>
    </ul>
    <div class="clear"></div>
    <div class="review-content">


        @Html.Action("Criteria1Review", new { id = ViewContext.RouteData.Values["id"] })








        @*Html.Partial("ActiveReportControl", (DataDynamics.ActiveReports.ActiveReport)ViewBag.GridReport)*@

        

        @*foreach (FactorReportViewModel model in (IList<FactorReportViewModel>)ViewBag.JustificationReports)
        {
            @Html.Partial("ActiveReportControl", (DataDynamics.ActiveReports.ActiveReport)model.Report)
            @Html.Action("Index", "Comment", new { answerId = model.AnswerId})
        }*@
    </div>
</div>
<script data-main="views/review/criteria1" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
