﻿@model MontereyBayAquarium.Swat.Web.Models.Review.GenericViewModel
@using DataDynamics.ActiveReports;
@using ART.Reporting;
@{
    ViewBag.Title = "ExecutiveSummary";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}

<div class="review-tabbed-content executive-summary">
    <ul class="direction">
            <li class="next">
                <a class="button-on" href="introduction"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
    @Html.Action("ExecutiveSummaryText", new { id = ViewContext.RouteData.Values["id"] })
</div>
<script data-main="views/review/executiveSummary" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>



