﻿@using DataDynamics.ActiveReports;
@using ART.Reporting;
@using System.Data;
@{
    ViewBag.Title = "Draft Recommendations";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}
<div class="review-tabbed-content final-recommendation">
    <a class="button-on" href="references"><span class="l"><span class="right"></span>Next</span><span class="r"></span></a>
    <h2>Draft Recommendations</h2>
    <div class="clear"></div>
    @Html.Action("FinalRecommendationTable", new { id = ViewContext.RouteData.Values["id"] })

</div>
<script data-main="views/review/finalRecommendation" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>


