﻿@model MontereyBayAquarium.Swat.Web.Models.Review.GenericViewModel
@using DataDynamics.ActiveReports;
@using ART.Reporting;@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}

<div class="review-tabbed-content introduction">
    <ul class="direction">
            <li class="back">
                <a class="button-grey" href="executive-summary"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on" href="criteria1"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>

        @Html.Action("IntroductionText", new { id = ViewContext.RouteData.Values["id"] })
</div>
<script data-main="views/review/introduction" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>