﻿@using ART.Reporting;
@using DataDynamics.ActiveReports;
@using System.Data;
@model System.Data.DataTable
@{
    ViewBag.Title = "Draft Recommendation";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}

<div class="review-tabbed-content overall-recommendation">
    <ul class="direction">
            <li class="back">
                <a class="button-grey" href="criteria4"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on" href="references"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
    @Html.Action("OverallRecommendationTable", new { id = ViewContext.RouteData.Values["id"] })

</div>
<script data-main="views/review/overallRecommendation" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>

