﻿@model string
@{
    ViewBag.Title = "References";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
}

<div class="review-tabbed-content references">
    <ul class="direction">
            <li class="back">
                <a class="button-grey" href="overall-recommendation"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on" href="appendix"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        @Html.Action("ReferencesTable", "Review", new { id = ViewContext.RouteData.Values["id"] , keywords = Model})


</div>
@*<script data-main="views/review/references" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>*@
