﻿@{
    ViewBag.Title = "ContactFormSuccess";
}

<div class="public-wrapper">
    <h1>Thank you for your submission!</h1>
    <p>We appreciate you took the time to submit data regarding a fishery or aquaculture production system assessed by Seafood Watch.</p>
    <p>Our program is grounded in credible and rigorous science and input is always welcome. If you would like to submit data relating to another report, click <a href="/">here</a> to go back to the landing page.</p>
    <p>Depending on the nature of your submission(s), we may contact you for further information at the email address you provided.</p>
    <p>Thank you for your participation.</p>
    <ul>
        <li><a class="red-link" href="/reports">See list of seafood watch reports</a></li>
        <li><a class="red-link" href="/">Return to homepage</a></li>
    </ul>
</div>