﻿@model ART.RecSummaryEntity
@{
    ViewBag.Title = "ContactForm";
}
<div class="public-wrapper contact-page">
    <h2>Contact Details</h2>
   
    @using (Html.BeginForm("ContactForm", "Home", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { @class = "details", id = "contact-form" , enctype = "multipart/form-data"}))
    {
        <ul>
            <li>
                 <p>
                    Please complete the following form. All fields are required except as noted optional.
                </p>
            </li>
            <li>
                <label>First Name</label>
                <input value="" title=""  class="required" id="firstname" name="firstname"/>
            </li>
            <li>
                <label>Last Name</label>
                <input value="" title=""  class="required" id="lastname" name="lastname"/>
            </li>
            <li class="affiliation">
                <label>Affiliation (Organization/Corporation)</label>
                <input value="" title=""  class="required" id="affiliation" name="affiliation"/>
                <span class="helper">Enter "none" if you do not have an affiliation <br /> (eg. If you are a student)</span>
            </li>
            <li>
                <label>Title/Position</label>
                <input value="" title=""  class="required" id="title" name="title"/>
            </li>
            <li>
                <label>Email</label>
                <input value="" title=""  class="required" id="email" name="email"/>
            </li>
            <li>
                <label>Phone (Optional)</label>
                <input value="" title="" id="phone" name="phone"/>
            </li>
            <li class="comments">
                <label>Comments</label>
                <textarea id="comments" name="comments"></textarea>
            </li>
            <li>
                <a class="attach red-link">Attach files to this comment...</a>
            </li>
            <li class="attach-file" data-count="0">
                <label>Attach Files:</label>
                <input title="" type="file" class="file" name="files[0]"/>
            </li>
            <li>
                <a class="submit button-on"><span class="l">submit</span><span class="r"></span></a>
            </li>
        </ul>
    }
    <div class="species-input">
        <p>You are submitting input for:</p>
        <ul  class="species-callout">
            <li>
                <p class="species"><span>@Model.Species</span> <span class="greek">(@Model.Scientific)</span></p>
                <div class="clear"></div>
            </li>
            <li>
                <label>Region:</label> <p>@Model.Location</p>
                <div class="clear"></div>
            </li>
            <li>
                <label>Method:</label> <p>@Model.Method</p>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
</div>
<script data-main="views/home/contactForm" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>