﻿@using ART;
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div class="public-wrapper help-page">
    <h1>
        Help
    </h1>
    <ul class="help-documents">
        <li><a class="red-link" href="@Url.Content("Content/documents/Additional%20Guidance%20for%20Unknown%20Bycatch%20Species.pdf")">Additional Guidance for Unknown Bycatch Species</a></li>
        <li><a class="red-link" href="@Url.Content("Content/documents/Contacting%20experts%20email%20template.pdf")">Bycatch mitigation measures</a></li>
        <li><a class="red-link" href="@Url.Content("Content/documents/Resources.pdf")">List of data sources</a></li>
        <li><a class="red-link" href="@Url.Content("Content/documents/Contacting%20experts%20email%20template.pdf")">Contacting experts email template</a></li>
        <li><a class="red-link" href="@Url.Content("Content/documents/MBA_SeafoodWatch_CaptureFisheriesCriteria-new1.3.pdf")">Wild fisheries criteria</a></li>
        <li><a class="red-link" href="@Url.Content("Content/documents/Sea%20Scallop%20draft%20for%20Ranking%20Session%20August%202012.pptx")">Seafood Watch example Finalization and Education Session powerpoint</a></li>
        <li><a class="red-link" href="@Url.Content("Content/documents/Unknown%20Bycatch%20Matrix%20boiler%20plate%20text.pdf")">Examples of justification text for unknown species (Criterion 2)</a></li>
    </ul>
    <h2>Video Tutorials</h2>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/4sljvAwNP-I">Seafood Watch Fisheries Training - 1. Overview/Process</a>
    <p>This video runs through a brief description of Seafood Watch and our report process.</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/mJQe4jNSBaw">Seafood Watch Fisheries Training - 2. Before you start, basic SWAT navigation</a>
    <p>This video runs through the key responsibilities you have as an analyst, and provides guidance and instruction on the data gathering phase of writing a report. It also provides an overview of navigation within the Seafood Watch Assessment Tool (SWAT).</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/fhtOfFcFo90">Seafood Watch Fisheries Training - 3. Determining Main Species</a>
    <p>This video explains how to determine the main species to be used in your assessment.</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/jxQzVp_6Js8">Seafood Watch Fisheries Training - 4. Inherent Vulnerability, SWAT scoring modal navigation</a>
    <p>This video provides guidance and instruction on how to assess inherent vulnerability and basic navigation of the SWAT scoring popups (modals).</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/DbfLzqPY134">Seafood Watch Fisheries Training - 5. Stock Status (factor 1.2/2.2)</a>
    <p>This video provides instruction and guidance on assessing stock status (factor 1.2/2.2)</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/x2LS_F0RLDA">Seafood Watch Fisheries Training - 6. Fishing Mortality (factor 1.3/2.3)</a>
    <p>This video provides instruction and guidance on assessing fishing mortality (Factors 1.3 and 2.3)</p>
    <ul>
        <li>Intro to the tables 00:15</li>
        <li>Substantial contributor definition 02:09</li>
        <li>Table 1 (Fishing mortality for fishery that IS a substantial contributor) 07:54</li>
        <li>Table 2 (Fishing mortality when fishery is not a substantial contributor) 13:50</li>
        <li>Table 3 (Marine mammal bycatch in US fisheries) 18:41</li>
        <li>Unknown bycatch species 24:44</li>
        <li>Glossary terms, guidance and examples 30:21</li>
    </ul>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/4ZsoNiyouBA">Seafood Watch Fisheries Training - 7.  Criterion 2, with a focus on factor 2.4</a>
    <p>This video provides instruction and guidance on understanding how Criterion 2 works and in particular on assessing the discard+bait/landings ratio</p>
    <p>Seafood Watch Fisheries Training - 8.  Management Effectiveness (Criterion 3)</p>
    <p>Coming Soon: This video provides instruction and guidance on understanding how to assess Criterion 3</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/1C14YoUzNfk">Seafood Watch Fisheries Training - 9. Habitat and Ecosystem Impacts (Criterion 4)</a>
    <p>This video runs through how to assess the habitat and ecosystem effects of the fishery (Criterion 4).</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/6RLA4o5Xv_0">Seafood Watch Fisheries Training - 10. Introductory sections</a>
    <p>This video runs through the Executive Summary, Introduction, Acknowledgements, and Appendices</p>
    <a href="#" class="video-link" data-video-link="http://www.youtube.com/embed/LaA8gb_g2CI">Seafood Watch Fisheries Training – Adding references and images</a>
    <p>This video takes you through how to add references and images to their respective libraries and subsequently insert them into the text of the assessment</p>
    <h2>Getting Assistance</h2>
    <ul>
        <li>Questions related to the criteria document or the report process; contact your Seafood Watch Representative or <a href="mailto:SFWresearch@mbayaq.org">SFWresearch@mbayaq.org</a></li>
        <li>Questions related to the specifics of the fishery under assessment; contact the experts in that fishery</li>
    </ul>
    <div id="video-modal">
        <iframe width="960" height="600" src="http://www.youtube.com/embed/aSdIKqQie0o?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>



<script data-main="views/home/help" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>