﻿@{
    ViewBag.Title = "Index";
}

<div class="public-wrapper home">

    <div class="splash"></div>
    <div class="welcome">
        <h3>We Welcome Expert Input!</h3>
        <p>The Seafood Watch program assesses the sustainability of fisheries and fish farms by compiling relevant science-based information and evaluating that information against our criteria (available on our <a href="http://www.montereybayaquarium.org/cr/cr_seafoodwatch/sfw_aboutsfw.aspx?c=ln" target="_blank">website</a>).</p>
        <p>In order to ensure that our science is up-to-date and accurate, we welcome input from experts in the field, government or academia, with verifiable data that can be used in our assessments. Please note that as a science-based organization, Seafood Watch cannot make use of anecdotal information.</p>
        <p>Provide your input using the search box to the right.</p>
        <p>For a short video on how to use the SWAT to provide expert input please click <a href="http://youtu.be/aifx7zVevjc" target="_blank">here</a></p>
    </div>
    @using (Html.BeginForm("Reports", "Home", FormMethod.Get, new { id = "login", @class = "login" }))
    {
        <ul>
            <li class="list-header">
                <p>Provide Your Expert Input</p>
            </li>
            <li>
                <img src="../content/images/home/fish.png" />
            </li>
            <li>
                <p class="login-text">Enter the species you are interested in providing input for:</p>
            </li>
            <li>
                <input value="" title="" name="search" id="password"/>
                <div class="clear"></div>
            </li>
            <li class="login-validation">
            </li>
            <li>
                <a class="button-on login-button"><span class="l">Search</span><span class="r"></span></a>
                <div class="clear"></div>
            </li>
        </ul>
    }
    <div class="clear"></div>

</div>

<script data-main="views/home/index" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
