﻿@using ART;
@{
    ViewBag.Title = "Login";
}
<div class="public-wrapper login-page">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "login", @class = "login" }))
    {
        @Html.ValidationSummary()
        if (!Html.ViewData.ModelState.IsValid){
              <p class="try-again">Please try again</p>
        }
        <ul>
            <li>
                <h2>
                    Please Login:</h2>
            </li>
            <li>
                <label>
                    Username:</label>
                <input type="text" name="username" id="username" />
            </li>
            <li>
                <label>
                    Password:</label>
                <input type="password" name="password" id="password" />
            </li>
            <li><a class="button-on login-button"><span class="l">Login</span><span class="r"></span></a>
            </li>
            <li class="login-validation"></li>
        </ul>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
    }
</div>
<script data-main="views/home/login" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
