﻿@model MontereyBayAquarium.Swat.Web.Models.ReportsViewModel
@using ART;
@{
    ViewBag.Title = "Reports";
}

<div class="public-wrapper report-page">
<h2>Seafood Watch Reports</h2>

<div class="species-search">
     @using (Html.BeginForm("Reports", "Home", FormMethod.Post, new {id = "search-form" }))
     {
    <p>Please enter the species you are interested in providing input for:</p>
    <input type="text" title="Enter Seafood" class="search" name="search" id="" value="@{if(ViewBag.specie != null){@(ViewBag.specie)}}" />
         <a class="button-review">
        <span class="l">GO</span>
        <span class="r"></span>
    </a>
     }
</div>
<div class="report-list">
    <p>
    Type in the name of the seafood you are interested in the box above. The SWAT will generate a list of all of our reports that match your search term below, including those already published (and viewable at www.seafoodwatch.org) and any reports currently in progress (not available for public viewing). Then identify the report that you'd like to submit input on from the list, and click 'Submit Input.'  For a list of all reports that are currently being written or updated, type in 'In Progress' into the search bar.
    </p>
    @if (Model != null && Model.RecSummaries.Count > 0)
    {

    <ul>
        @foreach (RecSummaryEntity rec in Model.RecSummaries)
        {
        <li class="specie-container">
            <ul class="species-callout">
                <li>
                    <p class="species"><span>@rec.Species</span> <span class="greek">(@rec.Scientific)</span></p>
                    <div class="clear"></div>
                </li>
                <li>
                    <label>Region:&nbsp;</label><p>@rec.Location</p>
                    <div class="clear"></div>
                </li>
                <li>
                    <label>Method:&nbsp;</label><p>@rec.Method</p>
                    <div class="clear"></div>
                </li>
            </ul>
             <a class="submit button-on" href="@Url.Action("ContactForm", new { id = rec.Id })"><span class="l">Submit Input</span><span class="r"></span></a>
             <div class="clear"></div>
            <!--<p class="report-progress"></p>-->
        </li>
        }  
    </ul>
    }
</div>
</div>
<script data-main="views/home/reports" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>