﻿@using System.Configuration;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@using System.Web.WebPages;
@{
    ViewBag.Title = "Create";
    Layout = null;
}
@model CommentViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="/scripts/jquery-1.4.4.js" type="text/javascript"></script>
</head>
<body>
        @if (Model != null)
        {
            if (Model.IsRoot) 
            {
                <div id="content">@Html.Partial("_Comment", Model)</div>
            }
            else if(Model.Comment != null)
            {
                <div id="commentId">@Model.Comment.FactorCommentId</div>
            }
            else if (Model.NewPath != null )
            {
                <div id="newPath">@if (Model.NewPath.Length > 0) { @(Url.Content(@Model.NewPath)) }</div>
                <div id="newFileName">@Path.GetFileName(@Model.NewPath)</div>
            }
        }
    <script src="/Scripts/views/comment/comment.js" type="text/javascript"></script>
    <script type="text/javascript">
        comment.init();
    </script>
</body>
</html>
