﻿@model IList<FeedbackEntity>
@using ART;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="references">

<h2>Expert Input</h2>

   <div id="pager" data-pagesize="@HttpContext.Current.Session["pageSize"]">
   <form>
        
        <a class="first"></a>
		<a class="prev"></a>

		<span class="pagedisplay"></span>

		<a class="next"></a>
        <a class="last"></a>

        <span class="answer-amount">@Model.Count Inputs</span>
        @{
            int pageSize;
            if (HttpContext.Current.Session["pageSize"] != null)
            {
                pageSize = (int)HttpContext.Current.Session["pageSize"];
            }
            else
            {
                pageSize = 10;   
            }
         }
		<select class="pagesize">
			<option @(pageSize == 10 ? "selected='selected'" : "") value="10">10</option>
			<option @(pageSize == 20 ? "selected='selected'" : "") value="20">20</option>
			<option @(pageSize == 30 ? "selected='selected'": "") value="30">30</option>
			<option @(pageSize == 40 ? "selected='selected'": "")  value="40">40</option>
		</select>
        <span class="pagesize-text">Inputs per page</span>
        <div class="clear"></div>
	</form>
   </div>
    <table cellspacing="1" class="tablesorter">             
        <thead>
            <tr> 
                <th class="left-cap">Date Submitted</th> 
                <th>Contributor</th> 
                <th>Affiliation </th> 
                <th class="comment">Comment </th> 
            </tr> 
        </thead> 
        <tbody> 
        @foreach (FeedbackEntity feedback in Model)
        {
            <tr> 
                <td class="left-cap copy">@feedback.DateSubmitted.ToShortDateString()</td> 
                <td>@Html.Raw(feedback.FirstName + " " + feedback.LastName)</td> 
                <td>@feedback.Affiliation</td> 
                
                <td class="right-cap2">
                    @(feedback.Comment.Length > 250 ? feedback.Comment.Substring(0, 247) + "..." : feedback.Comment)
                    <a class="more" href="@Url.Action("Details", "ExpertInput", new { Id = ViewContext.RouteData.Values["id"], expertInputId = feedback.Id })">more</a>
                </td>
            </tr> 
        }
        </tbody> 
    </table>
</div>

<script data-main="views/expertInput/index" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>

