﻿@using ART;
@using System.IO;
@model FeedbackEntity
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
<div class="references expert-input-details">
<h2 class="expert-details"><a href="@Url.Action("Index", "ExpertInput", new { Id = ViewContext.RouteData.Values["id"] })">Expert Input</a> > Details</h2>
<h4>Contributed by: @Html.Raw(Model.FirstName + " " + Model.LastName), @Model.Affiliation</h4>
<p>@Model.Comment</p>
@if (Model.Documents.Count > 0)
{
    <h4>Attachments:</h4>
    foreach (string document in Model.Documents)
    {
        if (document == "") { break; }
        string name = Path.GetFileName(document);
        <p><a href="@Url.Content("~/download/?filename="+document)">@name</a></p>
    }

}
</div>
<script data-main="views/expertInput/view" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>