@import "shared/_colors.less";
@import "shared/_lib.less";

body
{
    font-size: 13px;
    font-family: 'Open Sans','Questrial', Helvetica, "Helvetica Neue", Arial, Sans-Serif, Verdana, Tahoma;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0px;
 }
 
 table
 {
     border-spacing: 0px;
 }

/* Styles for basic forms
-----------------------------------------------------------*/


fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
    width:700px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

/* Regular List */

.regular-ulist li
{
    background: url(images/bullet-blue.png) 0px -2px no-repeat;
    padding: 0px 0px 0px 20px;
    margin-bottom: 5px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors, .try-again
{
    font-weight: bold;
    color: #ff0000;
}

.login-page {
	.login{
		margin-top:75px;
	}
	.validation-summary-errors ul, .try-again{
		margin:0 auto;
		width:300px;
		li{
			//text-align:center;
			margin-bottom:5px;
		}
	}
}



 

.validation-summary-valid
{
    display: none;
}

.clear 
{
    clear: both;
}

/* There is no bold option for Questrial, use font-weight: bold if necessary */
/* h1 applied to all top header titles */ 
/* h2 applied to all sub-head titles */
h1, h2, p, ul, table, a
{
    font-family: 'Open Sans','Questrial', Helvetica, "Helvetica Neue", Arial, Sans-Serif, Verdana, Tahoma;
}

h2 
{
    font-size: 31px;
}

/* bold weight options for Cabin: font-weight: 700 */
/* used for tier three titles */
h3 { font-family: 'Cabin', Helvetica, Arial, "Helvetica Neue", Arial, Sans-Serif, Verdanda, Tahoma; }

ul  
{
    padding: 0px; 
    margin: 0px; 
    list-style-type: none;
}

ul p { margin: 0px; }

/* Header */

.main-header
{
    width: 100%;
    height: 100px;
    background: #000;
}

.main-header .logo
{
    display: block;
    float: left;
    background: url(images/logo.png) top left no-repeat;
    height: 100px;
    width: 640px;
}

.main-header .nav
{
    float: right;
    height: 100px;
}

.main-header .nav li
{
    margin: 43px 0px 0px 30px;
    float: left;
}

.main-header .nav li a
{
 
    font-size: 12px;
    color: #b1b1b1;
    cursor: pointer;
    text-decoration: none;
}

.main-header .nav li a:hover
{
    color: #FFF;
    text-decoration: underline;
}

/* Footer */

.footer
{
    width: 960px;
    margin: 20px auto 0px auto;
    border-top: 1px dotted #CCC;
}

.footer ul
{
    margin-top: 20px;
}

.footer ul li
{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #53626f;
}

.footer ul li .social
{
    width: 116px;
    margin: 0 auto;
}

.footer ul li .social a
{
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    cursor: pointer;
}

.footer ul li .social a.facebook
{
    background: url(images/social/facebook.png) top left no-repeat;
    margin-right: 10px;
}

.footer ul li .social a.email
{
    background: url(images/social/email.png) top left no-repeat;
}

.footer ul li .social a.twitter
{
    background: url(images/social/twitter.png) top left no-repeat;
    margin-left: 10px;
}

.footer ul li.copyright
{
    font-size: 11px;
}

/* Home Page */

.home .splash
{
    height: 350px;
    width: 960px;
    background: url(images/home/splash.png) top left no-repeat;
    margin: 20px 0px;
}

.home .welcome
{
    width: 610px;
    float: left;
}

.home .welcome h3
{
    text-transform: uppercase;
}

.home .welcome p, .home .welcome a
{
    font-size: 12px;
}

.home .welcome a
{
    cursor: pointer;
}

.home .login
{
    width: 330px;
    margin-left: 20px;
    float: left;
}

.home .login ul
{
    width: 100%;
    border: 1px solid #CCC;
}

.home .login ul li
{
    text-align: center;
    margin-bottom: 10px;
}

.home .login ul li.list-header
{
    border-bottom: 1px solid #CCC;
    height: 24px;
    text-align: left;
}

.home .login ul li.list-header p
{
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 10px;
	font-weight:bold;
	text-align:center;
}

.home .login ul li p.login-text
{
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    color: #53626f;
    font-weight: bold;
	padding: 0 40px;
}

.home .login ul li label
{
    float: left;
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    color: #7e8993;
    line-height: 18px;
    width: 90px;
    text-align: right;
}

.home .login ul li input
{
    margin-left: 5px;
    font-size: 12px;
    padding: 2px;
    width: 180px;
}

.home .login ul li a.login-button
{

}

.home .login ul li a.forgot-password
{
    float: left;
    line-height: 31px;
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    color: #7e8993;
    margin-left: 15px;
    cursor: pointer;
	display:none;
}



.home .login ul li.login-validation, .login-page ul li.login-validation {
	clear:both;
}

/* Contact Page content */

.public-wrapper
{
    width: 960px;
    display: block;
    margin: 0px auto;
}

.contact-page form.details 
{
    width: 610px;
    display: inline-block;
    float: left;
}

.contact-page form.details ul li  
{
    display: block; 
    clear: both; 
    margin-bottom: 20px;
    position: relative;
}

.contact-page form.details ul li label  
{
    display: block; 
    margin-bottom: 3px;
}

.contact-page form.details ul li span.helper
{
    position: absolute;
    font-size: 11px;
    font-style: italic;
    color: #999;
    display: block;
    top: 18px;
    left: 217px;
}

.contact-page form.details ul li input { width: 204px; }
.contact-page form.details ul li textarea { width: 580px; }

.species-input 
{
    display: inline-block;
    float: right;
    width: 266px;
}

.contact-page form.details ul li.error
{
    background: rgba(255,255,0,.1);
    left: -10px;
    padding: 10px 0px 10px 10px;
    border: 1px solid rgba(255,200,0,.6);
}

.contact-page form.details ul li.error label.error
{
    position: absolute;
    top: 31px;
    left: 230px;
    color: #C83A34;
}

.contact-page form.details ul li.error.affiliation span.helper
{
    top: 23px;
    left: 392px;
}

.contact-page form.details ul li.error.comments label.error
{
    top: 9px;
    left: 420px;
}







/* buttons */

.button-on
{
    position: relative;
    display: inline-block;
    height: 32px;
    cursor: pointer;
    max-width: 300px;
    text-decoration: none;
}

.button-grey span.left
{
    background-image: url(images/buttons/left.png);
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
}

.button-on span.right
{
    background-image: url(images/buttons/right.png);
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: -5px;
}

.button-on span
{
    background-image: url(images/buttons/red.png);
    background-repeat: no-repeat;
    height: 32px;
    display: block;
    float: left;
    color: #FFF;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0px -1px rgba(0,0,0,.5);
}

.button-on span.l
{
    background-position: top left;
    min-width: 60px;
    text-align: center;
    padding-left: 20px;
}

.button-on span.r 
{
    background-position: top right;
    margin-right:-5px;
    width: 20px;
}

.button-grey
{
    position: relative;
    display: inline-block;
    height: 32px;
    cursor: pointer;
    max-width: 300px;
    text-decoration: none;
}

.button-grey span
{
    background-image: url(images/buttons/grey-button.png);
    background-repeat: no-repeat;
    height: 32px;
    display: block;
    float: left;
    color: #FFF;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0px -1px rgba(0,0,0,.5);
}

.button-grey span.l
{
    background-position: top left;
    min-width: 60px;
    text-align: center;
    padding-left: 20px;
}

.button-grey span.r 
{
    background-position: top right;
    margin-right:-5px;
    width: 20px;
}

.button-review
{
    position: relative;
    height: 24px;
    cursor: pointer;
    max-width: 300px;
    display: block;
}

.button-review span
{
    background-image: url(images/buttons/button-review.png);
    background-repeat: no-repeat;
    height: 24px;
    display: block;
    float: left;
    color: #354857;
    line-height: 26px;
    font-size: 12px;
    font-weight: 600;
}

.button-review.grey span
{
    background-image: url(images/buttons/button-grey-secondary.png);
}

.button-review span.l
{
    background-position: top left;
    text-align: center;
    padding-left: 10px;
    text-indent: 0px;
}

.button-review span.r 
{
    background-position: top right;
    margin-right:-5px;
    width: 10px;
}

.button-review span.information
{
    background-image: url(images/buttons/information.png);
    height: 16px;
    width: 16px;
    display: block;
    position: relative;
    z-index: 2;
    top: 4px;
    left: -5px;
}

.button-off 
{
    background: url() no-repeat 0px 0px transparent;
}

.button-on .next 
{
    background: url() no-repeat 0px 0px transparent;
}

button-on .prev 
{
    background: url() no-repeat 0px 0px transparent;
}

a.red-link
{
    color: #C83802;
}

/* Information Box */

.information-box
{
    padding: 10px;
    background: #fffde9;
    border: 1px solid #D7CDB6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.information-box a
{
    color: #C83934;
    cursor: pointer;
}

.information-box a:hover
{
    text-decoration: underline;
}

.information-box h3
{
    margin-top: 0px;
}

/*Synthesis*/

.synthesis h3
{
    margin: 30px 0px 5px 0px;
    font-size: 20px;
    color: #6d808e;
	span{
		font-weight:normal;
	}
}

.synthesis textarea
{
    width: 895px;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #6d808e;
}

/* Login page */
.login-page ul
{
    display: block;
    width: 250px;
    margin: 0 auto 200px;
}

.login-page ul li 
{
    margin-bottom: 20px;
}

.login-page ul li h2 
{
    font-size: 20px;
}

.login-page ul li label 
{
    display: block;
    clear: both;
    margin-bottom: 3px;
}

.login-page ul li input 
{
    width: 200px;
}

.home ul li.login-validation label 
{
    display: block;
    width: auto;
    clear: both;
    margin-left: 96px;
    color: #c30000;
    margin-bottom: 5px;
}


/* Report Page */

.report-page .species-search 
{
    padding-bottom: 10px;
    display: inline-block;
	width:100%;
}    

.report-page .species-search form{
	width:100%;
}

.report-page .species-search p 
{
    margin: 3px 10px 10px 0;
    font-weight: bold;
	float:left;
}

.report-page .species-search input.search 
{
    width: 200px;
    height: 22px;
    line-height: 20px;
    color: #6d808e;
    margin-bottom: 0;
    padding-left: 5px;
    border: solid 1px #d0d0d0;
    margin-left: 0px;
	float:left;
}

.report-page .species-search .button-review{
	width:50px;
	float: left;
	margin-left: 10px;
	margin-top: 1px;
}

.report-page .species-search .categories a 
{
    display: inline-block;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 2px;
    width: 32px;
    letter-spacing: .1em;
    color: @standardColor;
    line-height: 16px;
    height: 18px;
    text-align: center;
}

.report-page .species-search .categories a.active, .report-page .species-search .categories a:hover 
{
    background-color: #f2f5f9;
}

.report-page .species-search .category-list 
{
    margin-top: 30px;
}

.report-page .species-search .category-list a 
{
    display: inline-block;
    clear: both;
    color: @standardColor;
    font-size: 12px;
    line-height: 18px;
    float: left;
}

.report-page .species-search .category-list a.active, .report-page .species-search .category-list a:hover
{
    color: #C83802;
    text-decoration: none;
}

.report-page .report-list 
{
    display: inline-block;
	min-height:300px;
	width:100%;
	.blank-results{
		margin-top:100px;
		text-align:center;
		width:100%;
	}
}

.report-page .report-list p 
{
    margin-top: 0px;
}

.report-page .report-list ul li a.submit 
{
    float: right;
}

.report-page .species-callout 
{
    background-color: transparent;
    padding: 0px;
    width: auto;
    float: left;
    display: inline-block;
}

.report-page .species-callout li
{
    margin-left: 0px;
}

/* Species Callout */
.species-callout
{
    background-color: #f5f2f2;
    width: 266px;
    padding: 15px 0px;
}

.species-callout li 
{
    margin: 3px 27px 5px;
    display: block;
    clear: both;
}   

.species-callout li p, .species-callout li label,  .species-callout li span
{
    display: inline-block;
    float: left;
}

.species-callout li p.species 
{
    font-weight: bold;
}

.species-callout li p.species span 
{
    float: left;
    display: inline-block;
}

.species-callout li p.species span.greek
{
    font-style: italic;
}

.report-page p.report-progress 
{
    margin-bottom: 15px;
    display: block;
    font-style: italic;
    color: #526271;
	padding-bottom:15px;
	border-bottom:1px solid #DFDFDF;
}

/* Table */

table
{
    width: auto;
    border: none;
    margin-bottom: 20px;
    position: relative;
}

table .left-align
{
    text-align: left;
}

table .right-align
{
    text-align: right;
}

table .center-align
{
    text-align: center;
}

table tr
{
    width: 960px;
    position: relative;
}

table tr th, table tr.header th
{
    font-size: 14px;
    background-image: url(images/table-header.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Open Sans',Helvetica,Arial,"Helvetica Neue",Arial,Sans-Serif,Verdanda,Tahoma;
    color: #354857;
    text-transform: uppercase;
    position: relative;
    font-weight:normal;
    height: 30px;
    padding: 5px;
	cursor:pointer;
}

table tr th.left-cap
{
    background-position: top left;
    text-align: left;
}

table tr th.right-cap
{
    background-position: top right;
    text-align: right;
    padding-right: 15px;
}

table tr td
{
    font-size: 12px;
    font-family: 'Open Sans',Helvetica,Arial,"Helvetica Neue",Arial,Sans-Serif,Verdanda,Tahoma;
    color: #354857;
    text-indent: 0px;
    position: relative;
    border-bottom: 1px solid #d5dfe0;
    padding: 5px;
    vertical-align: top;
}

.tablesorter tr td
{
    vertical-align: top;
}

table tr td.left-cap
{
    border-left: 1px solid #d5dfe0;
    text-align: left;
}

.tablesorter tr td a
{
    color: #C83934;
    cursor: pointer;
}

h2.expert-details a
{
    color: #C83934;
    cursor: pointer;
}

.tablesorter tr td a:hover
{
    text-decoration: underline;
}

h2.expert-details a
{
    text-decoration: underline;
}

table tr td.right-cap
{
    background-position: top right;
    text-align: right;
    border-right: 1px solid #d5dfe0;
	padding-right:15px;
} 


table tr td.right-cap2
{
	background-position: top right;
    border-right: 1px solid #d5dfe0;
    padding: 12px 15px;
	line-height: 12pt;
	text-align: left;
	text-indent: 0px;
}


table tr td.status
{
    text-align: center;
    text-indent: 0px;
    width: 16%;
}

table tr td.status span
{
    padding: 0px 7px;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
    width: 127px;
    margin-left: 5px;
    height: 20px;
    line-height: 21px;
}

.status.in-progress span, 
{
    background: #079cf6;
}

.status.external-peer-review span
{
    background: #c93803;
}

.status.internal-review-1 span
{
    background: #825d88;
}

.status.internal-review-2 span
{
    background: #e27e02;
}

.status.finalization span
{
    background: #3f925c;
}

.status.complete span{
	background:#94c725;
}


table tr td.date
{
    background: #f3f7f8;
    text-align: right;
}

table tr td.left-cap a
{
    color: #20557b;
    cursor: pointer;
}

table tr td.left-cap a:hover
{
    text-decoration: underline;
}

table tbody
{
    position: relative;
}

table tr.edit td
{
    position: relative;
}

table tr.edit td .predictive-typing-results, .list-wrapper ul li.edit .predictive-typing-results
{
    position: absolute;
    max-height: 215px;
    overflow-x: hidden;
    overflow-y: auto;
	width:136px;
	z-index:100;
}

#bulk-add .list-wrapper ul li.edit .predictive-typing-results{
	width:175px;
}

.list-wrapper ul li.edit .predictive-typing-results
{
    top: 36px;
    left: 8px;
    position: absolute;
	max-height:215px;
	overflow-y:auto;
	overflow-x:hidden;
}

table tr.edit td.left-cap .predictive-typing-results ul, .list-wrapper ul li.edit .predictive-typing-results ul
{
    //left: 10px;
}

table tr.edit td .predictive-typing-results ul, .list-wrapper ul li.edit .predictive-typing-results ul
{
    //position: absolute;
    display: block;
    left: 0px;
    width: 134px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    top: -7px;
    left: 0;
    z-index: 100;
    background: #fff;
    height: auto !important;
    padding-bottom: 0px !important;
}

#bulk-add .list-wrapper ul li.edit .predictive-typing-results ul
{
    width: 172px;
	height:inherit;
}

.button-review.add-row
{
    position: relative;
    width: 59px;
}

.references .button-review.add-row{
	width:88px;
}

.button-review.add-row .l
{
    padding-left: 26px;
}

.button-review.add-row .plus
{
    background: url(images/buttons/plus.png) top left no-repeat;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 5px;
    position: absolute;
}

table tr.edit td .predictive-typing-results ul li, .list-wrapper ul li.edit .predictive-typing-results ul li
{
    //line-height: 14px;
    font-size: 12px;
    width: 118px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
    //padding: 3px;
    -moz-box-sizing: padding-box;

	height: inherit;
	line-height: 15px;
	padding: 5px 7px 5px 7px;
	text-indent: 0;
	//width: 158px;
}

table tr.edit td .predictive-typing-results ul li:hover, .list-wrapper ul li.edit .predictive-typing-results ul li:hover
{
    background: #f4efed;
}


.list-wrapper ul li.edit .predictive-typing-results ul li
{
//    width: 174px !important;
}

.stock-analysis tr.table-body td
{
    cursor: pointer;
}

.review-layout, .report-preview{
	 .stock-analysis tr.table-body td{
		curor:default;
	}
}

.stock-analysis tr.table-body td a.add-score
{
    color: #999;
    font-style: italic;
    font-size: 12px;
}

.stock-analysis tr.table-body td:hover
{
    background: #F4EFDE;
}

.review-layout, .report-preview{
	.stock-analysis tr.table-body td{
		&:hover{
			background:inherit;
		}
		&.dark-bg:hover{
			background-color: #f5f6f8;
		}
		cursor:default;
	}
}

.stock-analysis tr.table-body td.disabled:hover
{
    background: inherit;
	cursor:default;
}

.stock-analysis tr.table-body td:hover .risk-factor-popup, .discard-rate-container .cell-wrapper:hover .risk-factor-popup
{
    display: block;
}

.risk-factor-popup
{
    width: 400px;
    height: auto;
    display: block;
    position: absolute;
    border: 1px solid #D7CDB6;
    background: #fffce9;
    z-index: 100;
    left: 10px;
    top: 28px;
    display: none;
    font-size: 11px;
	overflow:hidden;
}

.risk-factor-popup li.popup-head
{
    background: #dcd1bd;
    font-weight: bold;
    position: relative;
    padding: 3px;
}

.risk-factor-popup li.popup-head span
{
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
}

.risk-factor-popup li.priority
{
    font-weight: bold;
}

.risk-factor-popup li.priority p
{
    background: #FFF;
    height: 20px;
    width: auto;
    position: relative;
    border: 1px solid #818588;
    font-size: 12px;
    margin: 12px 0px 0px 14px;
    display: inline-block;
    padding-right: 3px;
}

.risk-factor-popup li.priority p span.number
{
    background: #818588;
    height: 100%;
    width: auto;
    line-height: 20px;
    color: #FFF;
    padding-right: 5px;
    float: left;
    text-indent: 4px;
	display:inline-block;
}

.risk-factor-popup li.priority p span.text
{
    background: #FFF;
    height: 100%;
    width: auto;
    line-height: 20px;
    color: #333;
    padding-left: 5px;
    float: left;
    text-indent: 0px;
}

.risk-factor-popup li.key-info span
{
    font-weight: bold;
    margin: 3px 0px 3px 16px;
    display: block;
}

.risk-factor-popup li.key-info p
{
    text-indent: 0px;
    padding: 0px 16px 20px 16px;
    line-height: 18px;
    margin-top: -5px;
}
    

/* Dashboard */

table.review-table, table.report-table, table.analysis-table
{
    width: 960px;
}


table.review-table tr td.date span
{
    margin-right: 10px;
}

table.review-table tr td.right-cap .button-review
{
   left: 10px;
}

table.analysis-table tr td.right-cap a
{
    margin-left: 15px;
}


/* Analysis */

/* Layout */

.analysis-layout
{
    height: 100%;
    width: 100%;
    background: #f0f5f8;
    background: -moz-linear-gradient(top,  #f0f5f8 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f5f8), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #f0f5f8 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #f0f5f8 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #f0f5f8 0%,#ffffff 100%);
    background: linear-gradient(top,  #f0f5f8 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5f8', endColorstr='#ffffff',GradientType=0 );
    position: relative;
    top: -24px;
}

.analysis-wrapper
{
    width: 960px;
    position: relative;
    margin: 0 auto;
    top: 20px;
}

/* Typography */

.analysis-wrapper h2
{
    font-size: 22px;
    display: inline-block;
    margin-left: 15px;
	margin-right:10px;
}

.analysis-wrapper .status span{
	position: absolute;
	margin-top: 22px;
}

/* Status Styles */

.analysis-wrapper h2 a.status
{
    position: relative;
    top: -3px;
}

a.status span
{
    padding: 4px 7px;
    border-radius: 5px;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
}

a.status.in-progress span
{
    background: #079cf6;
}

a.status.external-review span
{
    background: #c83803;
}

a.status.internal-review-1 span
{
    background: #825d88;
}

a.status.internal-review-2 span
{
    background: #e27e02;
}

a.status.finalization span
{
    background: #3f925c;
}


/* Tabbed Content Wrapper */

.tabbed-wrapper
{
    position: relative;
    width: 960px;
}

ul.tabs
{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
}

ul.tabs li
{
    float: left;
    margin-left: 10px;
    width: 180px;
    height: 35px;
    background: url(images/analysis/tab.png) top left no-repeat;
    cursor: pointer;
}

ul.tabs li a
{
    color: @standardColor;
    text-decoration: none;
}

ul.tabs li.on
{
    background: url(images/analysis/tab-on.png) top left no-repeat;
}

ul.tabs li span, ul.tabs li p
{
    display: block;
    height: 35px;
    width: 100%;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    font-family: 'Open Sans','Questrial',Helvetica,"Helvetica Neue",Arial,Sans-Serif,Verdana,Tahoma;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

ul.tabs li label
{
    margin: 0px;
    font-size: 14px;
}

ul.tabs li.on span
{
    color: #c83934;
}

.tabbed-wrapper a.resources
{
    display: block;
    position: absolute;
    width: 77px;
    font-size: 13px;
    font-family: 'Open Sans','Questrial',Helvetica,"Helvetica Neue",Arial,Sans-Serif,Verdana,Tahoma;
    font-weight: 600;
    color: #636f77;
    top: 10px;
    right: 10px;
    z-index: 4;
    cursor: pointer;
}

.tabbed-wrapper a.resources:hover
{
    color: #333;
}

.tabbed-wrapper a.resources span
{
    height: 0px;
    width: 0px;
    border-top: 6px solid #636f77;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: none;
    position: absolute;
    top: 7px;
    right: 0px;
}

.tabbed-wrapper ul.resources-drop
{
    position: absolute;
    width: 130px;
    height: 88px;
    display: none;
    top: 5px;
    right: 0px;
    background: url(images/analysis/tab_recources.png) 30px 0px no-repeat;
    z-index: 3;
    padding-top: 30px;
}

.tabbed-wrapper ul.resources-drop li
{
    width: 115px;
    display: block;
    position: relative;
    right: -3px;
    background: #fff;
    padding: 10px 5px;
    border-right: 1px solid #d1d6de;
    border-left: 1px solid #d1d6de;
    cursor: pointer;
}

.tabbed-wrapper ul.resources-drop li.bottom
{
    border-bottom: 1px solid #d1d6de;
}

.tabbed-wrapper ul.resources-drop li:hover
{
    background: #F4EfEd;
}

.tabbed-wrapper ul.resources-drop li a
{
    text-decoration:none;
}
.tabbed-content
{
    width: 960px;
    position: relative;
    top: -1px;
}

.tabbed-content .top
{
    position: relative;
    width: 960px;
    height: 10px;
    background: url(images/analysis/tabbed-content-top.png) top left no-repeat;
}

.tabbed-content .middle
{
    width: 958px;
    position: relative;
    border-left: #D1D5DB 1px solid;
    border-right: #D1D5DB 1px solid;
    background: #FFF;
    padding: 0px;
    min-height: 100px;
}

.tabbed-content .bottom
{
    position: relative;
    width: 960px;
    height: 10px;
    background: url(images/analysis/tabbed-content-bottom.png) top left no-repeat;
}

.tabbed-content .middle table
{
    width: 918px;
}

/* Define Scope */

.define-scope
{
    position: relative;
    padding: 20px;
}

.define-scope a.button-on
{
    position: absolute;
    right: 20px;
    top: 20px;
}

.define-scope h2
{
    margin: 0px;
    color: #354857;
}

.define-scope h3
{
    margin-top: 5px;
}

.define-scope table
{
    margin-top: 10px;
}

.define-scope table tr th.eighteen
{
    width: 160px;
}

.define-scope table tr th.eighteen.name{
	width:260px;
}

.define-scope table th
{
    text-align: left;
}

.define-scope table th.recommendation{
	width:160px;
}

.define-scope table td
{
    text-indent: 0px;
    position: relative;
    line-height: 20px;
}

.define-scope table td .edit-row
{
    height: 16px;
    width: 16px;
    background: url(images/buttons/btn_icons.png) -28px -4px no-repeat;
    top: 2px;
    float: left;
    display: block;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.define-scope table td .delete-row
{
    height: 16px;
    width: 16px;
    background: url(images/buttons/Trash.png) 0px 0px no-repeat;
    top: 2px;
    float: left;
    display: block;
    position: relative;
    cursor: pointer;
}

.define-scope table tr.edit td .save-row
{
    height: 16px;
    width: 16px;
    background: url(images/buttons/btn_icons.png) -3px -4px no-repeat;
    top: 7px;
    float: left;
    display: block;
    position: relative;
    cursor: default;
	opacity:0.5;
	margin-right: 10px;
}

.define-scope table tr.edit td .save-row.available{
	opacity:1;
	cursor: pointer;
}

.define-scope table tr.edit td .cancel-row
{
    height: 16px;
    width: 16px;
    background: url(images/buttons/btn_icons.png) -52px -4px no-repeat;
    top: 7px;
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
}

.define-scope table tr.edit td
{
    background: #fffde9;
}

.define-scope table tr td.right-cap
{
    padding-right: 5px;
	width:55px;
}

.define-scope table tr.edit td input
{
    width: 130px;
    height: 25px;
    padding: 2px;
}

.define-scope table tr.edit td select
{
    width: 150px;
    padding: 6px 3px;
}

/* Define Scope Modal */

#bulk-add .list-wrapper
{
    position: relative;
    margin-right: 10px;
    width: 210px;
    float: left;
    margin-bottom: 10px;
}

#bulk-add .list-wrapper h5
{
    color: #666;
    font-size: 16px;
    font-weight: 800;
    margin: 20px 0px 5px 0px;
}

#bulk-add .list-wrapper ul
{
    width: 100%;
    display: block;
    position: relative;
    height: 180px;
    border: 1px solid #CCC;
    padding-bottom: 40px;
	margin-top:7px;
	overflow-x:hidden;
	overflow-y:auto;
}

#bulk-add .list-wrapper ul li
{
    min-height: 30px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #CCC;
}

#bulk-add .list-wrapper .predictive-typing-results ul li{
	height:inherit;
	line-height: 15px;
	padding: 5px 7px 5px 7px;
	text-indent: 0;
	width:158px;
}

#bulk-add .list-wrapper ul li p
{
    width: 190px;
    display: block;
    font-size: 12px;
	padding:5px 0 5px 10px;
}

#bulk-add .list-wrapper ul li a.delete
{
    height: 16px;
    width: 16px;
    position: absolute;
    background: url(images/buttons/btn_icons.png) -50px -4px no-repeat;
    right: 6px;
    top: 8px;
    cursor: pointer;
}

#bulk-add .list-wrapper ul li.add
{
    height: 40px;
    border-bottom: none;
}

#bulk-add .list-wrapper ul li.none.hidden
{
    display:none;
}

#bulk-add .list-wrapper ul li.none p
{
    color: #CCC;
    font-style: italic;
}

#bulk-add .list-wrapper ul li.add a.grey
{
    position: relative;
    top: 8px;
    left: 8px;
}

#bulk-add .list-wrapper ul li.add a.save
{
    top: 20px;
}

#bulk-add .list-wrapper ul li.add a.grey span.r
{
    width: 13px;
}

#bulk-add .list-wrapper ul li.add.edit
{
    background: #FFFDE9;
    height: 80px;
}

#bulk-add .list-wrapper ul li.add.edit .cancel
{
    position: absolute;
    width: auto;
    left: 69px;
    top: 49px;
    font-size: 12px;
    color: #c83802;
    text-decoration: none;
    cursor: pointer;
}

#bulk-add .list-wrapper ul li.add.edit .cancel:hover
{
    text-decoration: underline;
}

#bulk-add .list-wrapper ul li.add.edit .add-new-item
{
    position: relative;
    top: 13px;
    left: 8px;
    width: 170px;
}

#bulk-add .list-wrapper ul li.add .save, #bulk-add .list-wrapper ul li.add .cancel, #bulk-add .list-wrapper ul li.add .add-new-item
{
    display: none;
}
    

#bulk-add .list-wrapper ul li.add.edit .save, #bulk-add .list-wrapper ul li.add.edit .cancel, #bulk-add .list-wrapper ul li.add.edit .add-new-item
{
    display: block;
}

#bulk-add .list-wrapper ul li.add.edit .add-button
{
    display: none;
}

#bulk-add .status
{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    width: auto;
    display: block;
}

#bulk-add .status-list
{
    float: left;
    width: 100px;
}

#bulk-add .create-combination
{
    float: left;
    margin-left: 290px;
    margin-top: 20px;
}

#bulk-add .cancel-add
{
    font-size: 12px;
    color: #c83802;
    float: left;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 28px;
}

#bulk-add .cancel-add:hover
{
    text-decoration: underline;
}

/* Analysis Review */


.analysis-review .sub-tabs
{
    width: 100%;
    height: 45px;
    background: url(images/analysis/sub-tabs.png) top left repeat-x;
}

.analysis-review .sub-tabs li
{
    width: 150px;
    float: left;
    line-height: 40px;
    font-size: 12px;
    font-family: 'Open Sans','Questrial',Helvetica,"Helvetica Neue",Arial,Sans-Serif,Verdana,Tahoma;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    cursor: pointer;
	&.draft-overall-recommendations{
		line-height:14px;
		margin-top:5px;
	}
}

.analysis-review .sub-tabs li a
{
    color: #333;
    text-decoration: none;
}

.analysis-review .sub-tabs li.on a
{
    color: #C83934;
}

.analysis-review .sub-tabs li.on span
{
    width: 100%;
    height: 45px;
    background: url(images/analysis/sub-tabs-ind.png) top center no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
}

.analysis-review .analysis-review-content
{
    padding: 20px;
}

.analysis-review .analysis-review-content .subheader
{
    position: relative;
}

.analysis-review .analysis-review-content .subheader h3
{
    font-weight: bold;
}

.analysis-review .analysis-review-content .subheader h3 span
{
    cursor:pointer;
}

.analysis-review .analysis-review-content h2
{
    margin: 15px 0px;
    float: left;
    display: block;
    width: 650px;
    color: #354857;
    font-size: 18px;
}

.analysis-review .direction
{
    float: right;
    display: block;
    position: relative;
    margin: 10px 0px;
}

.analysis-review .direction li
{
    float: left;
    margin: 0px 0px 0px 15px;
    position: relative;
}

.analysis-review .button-review
{
    float: left;
    margin: 0px 10px 10px 0px;
}


.appendix-item input.title{
clear:both;
}

/* Stock Health */

.stock-health
{
    position: relative;
}

/* Stock Health Table */

.analysis-review .analysis-review-content table
{
    margin-bottom: 10px;
}

.stock-analysis tr .toggle-all-species
{
    cursor: pointer;
}

.stock-analysis tr .toggle-all-species span span
{
    background: url("/Content/images/analysis/risk-factor.png") no-repeat scroll -60px 0 transparent;
    height: 10px;
    top: 15px;
    width:13px;
    display:inline-block;
    margin-left:8px;
}

/*.criteria-2 table tr th, table tr.header th
{
    font-size: 12px;
    color: #6f8092;
    text-align: left;
    line-height: 12px;
    border-bottom: 3px solid #fff;
}*/

.criteria-2 .table-body.collapse
{
    
}

.criteria-2 .table-body.collapse .left-cap
{
    border-bottom: 1px solid #EEF7F6;
}



.criteria-2 .table-body td
{
    border-top: 3px solid #c3d1d2;
}

.criteria-2 .table-body.collapse td
{
    border-top: 0;
}


.criteria-2 .table-body.collapse.row-2 td
{
    border-top: 0px;
}

.criteria-2 .table-body.collapse .light-bg
{
    background: #e4eeef;
    width: 100px;
}

.criteria-2 .table-body .light-bg
{
    width: 100px;
}

.stock-analysis tr td.show-other-species
{
    margin-top: 5px;
}

.stock-analysis tr .toggle-all-species.on span span
{
    background: url("/Content/images/analysis/risk-factor.png") no-repeat scroll -100px 0px transparent;
    top: 14px;
    height:12px;
}

.stock-analysis .click-to-collapse
{
    cursor:pointer;
}

.stock-analysis .collapse
{
    display:none;
}

.review-layout , .report-preview{
	.stock-analysis .collapse{
		display:table-row;
	}
}

.stock-analysis tr th.left-cap
{
    text-indent: 24px;
}

.stock-analysis tr th.left-cap span
{
    width: 14px;
    display: block;
    background: url(images/analysis/risk-factor.png) -80px 0px no-repeat;
    position: absolute;
    height: 14px;
    top: 13px;
    left: 6px;
}

.stock-analysis tr.on th.left-cap span
{
    background: url(images/analysis/risk-factor.png) -60px 0px no-repeat;
    height: 10px;
    top: 15px;
}

.review-layout .stock-analysis tr.on th.left-cap span, .report-preview .stock-analysis tr.on th.left-cap span{
	display:none;
}

.stock-analysis td.right-cap
{
    text-align: center;
}

.stock-analysis tr th, .criteria2-table tr th
{
    color: #333;
    font-weight: 800;
}

.stock-analysis tr.table-header td
{
    background-color: #e9efef;
    text-transform: uppercase;
    font-weight: 800;
    color: #6d808e;
}

.criteria-2 .stock-analysis tr.table-header td
{
    text-indent: 0px !important;
    padding: 0px 5px;
    font-size: 11px;
}

.stock-analysis tr.table-header td.dark-bg
{
    background-color: #dfe8e7;
    border-right: 1px solid #fff;
}

.stock-analysis tr.table-body td.dark-bg
{
    background-color: #f5f6f8;
    border-right: 1px solid #fff;
    font-weight: 800;
    color: #666666;
    cursor: text;
    width: 100px;
}

.stock-analysis tr.table-body td.light-bg
{
    background-color: #f5f6f8;
    border-right: 1px solid #fff;
    font-weight: 800;
    color: #666666;
}

.cell-wrapper
{
	position: relative;
	width: 150px;
}

ul.risk-factor
{
	display: block;
}

ul.risk-factor li:nth-child(1) {  

  height: 15px;
}

ul.risk-factor li.answer-reference {  
  margin-top:4px;
  background: #EFEFEF;
  padding: 2px 4px;
  border-radius: 3px;
  height: 13px;
}

ul.risk-factor li span
{
	float: left;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #354857;
}



ul.risk-factor li span.risk-number, .criteria-33 .risk-number, .region-container .risk-number
{
	padding: 1px 2px;
	background: #999;
	color: #FFF;
	border-radius: 3px;
	margin-right: 5px;
	display: inline-block;
}

.criteria-3 .stock-analysis .table-body .right-cap span.risk-number{
	margin-right:0;
	float: left;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
}

ul.risk-factor li span.risk-text, .criteria-33 .risk-text, .region-container .risk-text
{
	max-width: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	line-height: 16px;
}

.criteria-33 .risk-text{
	margin-top:2px;
	float: left;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:13px;
}

ul.risk-factor li span.risk-answer-ref
{
	color: #C1705D;
	font-style: italic;
}

ul.risk-factor li span.risk-comment
{
	background: url("images/comment_left.png") top left no-repeat;
	padding-left: 14px;
	float: right;
}

.checkbox, .radio {
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(images/checkbox.png) 0px 0px no-repeat;
  display: block;
  margin-top: -3px;
  clear: left;
  float: left;
}

.reviewer-comment.completed, .swat-comment.completed
{
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
  background: #CCC;
}

table ul.risk-factor li.risk-comment
{
    background: url(images/analysis/risk-factor.png) -30px 0px no-repeat;
    display: block;
    margin-left: 6px;
    top: 2px;
    width: 22px
}

table ul.risk-factor li.risk-comment span
{
    display: block;
    width: 22px;
    text-align: center;
    color: #6d808e;
    font-weight: 800;
    line-height: 15px;
    font-size: 11px;
}

table ul.risk-factor li.risk-answer-ref
{
    text-indent: 5px;
}

table ul.risk-factor li.risk-answer-ref span
{
    color: #c1705d;
    font-style: italic;
    font-size: 11px;
}

table tr td.score
{
    text-indent: 0px;
    cursor: text !important;
}

table tr td.score:hover
{
    background: none !important;
}

table tr td.score div
{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #999;
	height:25px;
}

table tr td.score div span
{
    height: 25px;
    line-height: 25px;
    position: relative;
    //color: #FFF;
    font-weight: 800;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70px;
}

.document-insert
{
    margin-bottom: 10px;
}

#answe-modal #answer-list
{
    margin: 868px;
}

table tr.click-to-collapse th.left-cap
{
    text-indent: 20px;
}

table tr td.score.green div, .region-container .scores-container li .score.green, .overall-score.green, .scoring-options .green, .appendix table tr td.score.green div
{
    background: #b4e7b4;
    color: #2a653e;
}

table tr td.score.yellow div, .region-container .scores-container li .score.yellow, .overall-score.yellow, .scoring-options .yellow, .appendix table tr td.score.yellow div
{
    background: #ffffcc;
    color: #9c7c00;
}

table tr td.score.critical div, .region-container .scores-container li .score.critical, .overall-score.critical, .scoring-options .critical, .appendix table tr td.score.critical div
{
	background:black;
	color:#ccc;
}

table tr td.score.red div, .region-container .scores-container li .score.red, .overall-score.red, .scoring-options .red, .appendix table tr td.score.red div
{
    background: #ffd7d7;
    color: #cc3300;
}

.guiding-principles
{
    margin-bottom: 10px;
	overflow:hidden;
}

.guiding-principles a.button-review
{
 
}

.guiding-principles .information-box{
	   display: none;
}

/*TinyMCE styles and Overrides*/
.mceToolbar, .mceToolbar .toolbar-div, #mce_31_toolbargroup, #mce_0_toolbargroup
{
    width:917px;
}

/* Modal */

.ui-dialog
{
    width: 920px; // !important;
}

#answer-modal
{
    width: 920px; // !important;
}

.ui-dialog .ui-dialog-titlebar
{
    background: #A9B5BD;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    border: 2px solid #95a3ad;
    border-bottom: none;
	overflow:hidden;
}

.ui-dialog .ui-dialog-title
{
    font-size: 18px;
    position: relative;
    line-height: 38px;
    left: 15px;
    margin: 0px;
}

.ui-dialog .ui-dialog-titlebar .ui-icon
{
    background: url(images/modal/close.png) top left no-repeat;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close
{
    padding: 0px;
    right: 0.5em;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover
{
    border: none;
    background: none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover span
{
    background: url(images/modal/close.png) top left no-repeat;
    border: none;
}

.ui-dialog .ui-dialog-content
{
    background: #FFF;
    border: 2px solid #95a3ad;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}

.ui-dialog .ui-dialog-content h3
{
    color: #000;
    font-size: 16px;
    margin: 0px;
}

.criteria-3 .stock-analysis .table-body .right-cap span
{
    float: right;
    margin-right: 10px;
}

.analysis-wrapper .references h2
{
    margin-top: -5px;
    margin-left: 0px;
}

.references .button-review span.plus
{
    background: url(images/buttons/plus.png) top left no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    top: 4px;
    left: 5px;
}

.references .button-review span.l
{
    padding-left: 26px;
}

/*tooltip classes */

.tip 
{
    display:none;
    position:absolute;
    background: #FFFDEC;
    border:1px solid #A89B2D;
    z-index: 1000;
    -moz-border-radius: 5px;
    padding: 5px;
    font-size: 11px;
    z-index:1000;
}

/*appendix*/
.appendix-item h2
{
    font-size:16px;
    color:#354857
}
.appendix-item h2 a
{
    text-decoration: underline;
    font-size: 12px;
    margin-left:10px;
    color: #20557b;
	cursor:pointer;
}

.appendix-item input
{
    width: 500px;
    margin-left: 10px;
    margin-bottom: 20px;
}

/*reference list*/
.references table td .edit-row
{
    height: 16px;
    width: 16px;
    background: url(images/buttons/btn_icons.png) -28px -4px no-repeat;
    top: 10px;
    left: -20px;
    display: block;
    position: relative;
}

.references table td .delete-row
{
    height: 16px;
    width: 16px;
    background: url(images/buttons/trash.png) 0px 0px no-repeat;
    top: -6px;
    left: 3px;
    display: block;
    position: relative;
}

.answers-info
{
    padding-right: 40px;
}

.references.edit-page a
{
    color: #C83A34;
    text-decoration: none;
}

.references.edit-page a:hover
{
    color: #C83A34;
    text-decoration: underline;
}

#pager
{
	margin-left:20px;
}

.ref-table
{
	margin-left:20px;
}

.pagesize
{
	float: right;
	margin-right: 22px;
}

/*Preview*/
.report-preview {
    padding: 20px;
    position: relative;
}

.report-preview h2 {
    color: #354857;
    margin: 0;
}

.report-preview a.button-on {
    position: absolute;
    right: 20px;
    top: 20px;
}

.report-preview h3 {
    color: #6D808E;
    font-size: 20px;
    margin: 30px 0 5px;
}

.report-preview h4 {
    color: #6D808E;
    font-size: 15px;
    margin: 10px 0 5px;
}

/*Reviewer header tabs*/

.review-layout {
    background: -moz-linear-gradient(center top , #F0F5F8 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    height: 100%;
    position: relative;
    top: -24px;
    width: 100%;
}

.review-wrapper {
    margin: 0 auto;
    position: relative;
    top: 20px;
    width: 960px;
}

.review-wrapper h2 {
    display: inline-block;
    font-size: 22px;
    margin-left: 15px;
}

.review-wrapper .tabbed-wrapper ul.tabs li {
    background: url("/Content/images/review/tab.png") no-repeat scroll left top transparent;
	/*
	background:#D2E0ED;
	border: 1px solid #D1D5DD;
	border-bottom:0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	*/
    height: 35px;
    margin-left: 10px;
    width: 147px;
}

.review-wrapper .tabbed-wrapper ul.tabs li.on {
    background: url("/Content/images/review/tab-on.png") no-repeat scroll left top transparent;
	//background:#FFFFFF;
}

.review-wrapper .tabbed-wrapper ul.tabs li span {
    font-size: 12px;
    line-height: 14px;
    margin-top: 11px;
}

.review-wrapper .tabbed-wrapper ul.tabs li span.double-line
{
    margin-top: 4px;
}



.review-wrapper .tabbed-content h2 {
    display: block;
    float: left;
    margin: 10px 0;
    width: 650px;
}
.review-wrapper .direction {
    display: block;
    float: right;
    margin: 10px 0;
    position: relative;
}

.review-wrapper .direction li {
    float: left;
    margin: 0 0 0 15px;
    position: relative;
}

/*review tabbed content*/
.review-tabbed-content{
    padding: 20px;
    position: relative;
}

.review-tabbed-content h2 {
    color: #354857;
    margin: 0;
}

.review-tabbed-content.references{
	.edit-row, .delete-row{
		display:none;
	}
}

.review-wrapper .tabbed-content .sub-tabs {
    background: url("/Content/images/analysis/sub-tabs.png") repeat-x scroll left top transparent;
    height: 45px;
    width: 100%;
}

.review-wrapper .tabbed-content .sub-tabs li {
    cursor: pointer;
    float: left;
    font-family: 'Open Sans','Questrial',Helvetica,"Helvetica Neue",Arial,Sans-Serif,Verdana,Tahoma;
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}

.review-wrapper .tabbed-content .sub-tabs li a {
    color: #333333;
    text-decoration: none;
}

.review-wrapper .tabbed-content .sub-tabs li.on a {
    color: #C83934;
}

.review-wrapper .tabbed-content .sub-tabs li.on span {
    background: url("http://localhost:64099/Content/images/analysis/sub-tabs-ind.png") no-repeat scroll center top transparent;
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.review-wrapper .tabbed-content .button-review {
    float: left;
    margin: 0 10px 10px 0;
}

.review-wrapper .review-content
{
   padding: 20px;
   position: relative;
}

.final-recommendation a.button-on {
    position: absolute;
    right: 20px;
    top: 20px;
}
/*References List/Edit*/

.references
{
   padding: 20px;
    position: relative; 
}

.references .button-review
{
    position: absolute;
    right: 20px;
    top: 20px;    
}

.references .button-review.bulk-add{
	//top:40px;
}
.search 
{
    margin-left:0px;
    margin-bottom:20px;  
}
.search input
{
    height:23px;  
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #ccc;
    margin-left: 5px;
    float: left;
	padding-left:3px;
}

.search .bulk-add
{
    top: 1px;
    left: 5px;
}

.references  .search .bulk-add .l
{
    padding-left: 8px;
}

.references .button-on span.l
{
    min-width: 15px; 
      
}

.references .search .button-review, .images .search .button-review
{
    position: relative;
    float:left;     
}
.report-preview {
    padding: 20px;
    position: relative;
}
.field-name-text {
	float: left;
	width: 50px;
	margin: 0 0 15px 15px;
	top: 2px;
	position: relative;
	color: #414f59;
	font-weight: bold;
	font-size: 12px;
}

.references .field-name-text {
	width:115px;
}

.field-name-text.full-line-reg
{
    width: 100%;
    padding-bottom: 4px;
    margin-top: 10px;
}

.field-name-text.full-line
{
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid #c3d1d2;
    margin-top: 10px;
}

.field-name-text.full-line span
{
    font-style: italic;
    font-weight: normal;
    margin-left: 2px;
}

#fulltitle
{
    width:877px;
    margin-left:17px;
}

.answers .button-review
{
    left: 15px;
    margin: 5px 0px;
}

.answers.edit-page .button-review{
	left:0;
}

.answers.edit-page h2
{
    margin-top: 0px;
}

.answers.edit-page .references, #answer-modal .references
{
    background: none repeat scroll 0 0 #FFFFFF;
    display:none;
    width:870px;
    height:600px;
}

.answers.edit-page .references{
	padding:20px;
}

#answer-modal .references{
	padding:0;
}

.answers.edit-page .references{
	    top: 0;
}

#answer-modal .references{
}

#answer-modal .search{
	overflow-y:hidden;
	height:30px;
}

.answers.edit-page .references table, .answers.edit-page .references #pager form
{
    width:770px
}

.answers .button-review.document-insert span.document-insert-icon
{
    background: url(images/buttons/document-insert.png) top left no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 4px;
    left: 5px;
}

.answers .button-review.document-insert span.l
{
    padding-left: 26px;
}

.answers .save-area
{
    margin-left: 12px;
}

.search label
{
    float: left;
    line-height: 26px;
}

.currPage
{
    width: 30px;
}


#shortname {
	margin: 0 0 0px 0;
}

#bibliography {
	margin: 0 0 15px 0;
}

#documentation {
	margin: 0 0 15px 0;
}

#documentation-select {
	margin: 0 0 15px 0;
}

.save-area {
	float: left;
	margin: 0 0 0 130px;
}

.cancel-area, .cancel-edit-nested-comment, .cancel-add-nested-comment, .cancel-edit-comment {
	float: left;
	margin: 5px 0 0 15px;
	cursor:pointer;
}

.comment .edit-mode p.cancel-edit-comment{
	font-size:12px;
	margin: 5px 0 0 15px;
	font-weight:normal;
}

.documentation-text {
	margin: 15px 0 15px 0;
	background-image: url("/Content/images/word-icon.png");
	background-repeat: no-repeat;
	padding: 0 0 25px 30px;
}

.update-link {
	margin: 15px 0 15px 130px;
	&.image{
		margin-left:115px;
	}
}


/* edit-page */

.scoring-legend
{
    position: absolute;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #414f59;
	font-weight: bold;
	text-indent: 21px;
	display: block;
	top: 96px;
	right:0px;
	cursor: pointer;
}

.scoring-legend span
{
    background: url(images/buttons/info.png) top left no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 16px;
    width: 16px;
    display: block;
} 


.edit-page form.details 
{
    width: 880px;
    display: inline-block;
    float: left;
}
.edit-page form.details ul li, #answer-modal form.details ul li
{
    clear: both; 
    margin-bottom: 10px;
    position: relative;
}

.edit-page form.details ul li label,   #answer-modal form.details ul li label
{
    display: block; 
    margin-bottom: 12px;
    margin-left: 0px;
}

.details textarea
{
    margin-top: 10px;
}

.details .save-area
{
    margin-left: 0px;
}

.edit-page form.details ul li span.helper
{
    position: absolute;
    font-size: 11px;
    font-style: italic;
    color: #999;
    display: block;
    top: 13px;
    left: 217px;
}

.edit-page form.details ul li input { width: 279px; }
.edit-page form.details ul li textarea { width: 100%; resize: none; position: relative; left: 15px; }

.edit-page form.details ul li.error
{
    background: rgba(255,255,0,.1);
    left: -10px;
    padding: 10px 0px 10px 10px;
    border: 1px solid rgba(255,200,0,.6);
}

.edit-page form.details ul li.error label.error
{
    position: absolute;
    top: 31px;
    left: 150px;
    color: #C83A34;
}

.edit-page form.details ul li.error.affiliation span.helper
{
    top: 23px;
    left: 392px;
}

.edit-page form.details ul li.error.comments label.error
{
    top: 9px;
    left: 420px;
}

.edit-page form.details #link
{
    display:none;
}

/* Styles for answers table
-----------------------------------------------------------*/

#pager form
{
    position: relative;
    width: 940px;
    margin-bottom: 10px;
    left: -20px
}

#pager .prev
{
    height: 24px;
    width: 24px;
    background: url(images/buttons/pagination.png) top left no-repeat;
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
}

#pager .next
{
    height: 24px;
    width: 24px;
    background: url(images/buttons/pagination.png) -26px 0px no-repeat;
    display: block;
    position: relative;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

#pager .page-text
{
    float: left;
    height: 26px;
    line-height: 26px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #6d808e;
}

#pager .pagedisplay
{
    float: left;
    height: 20px;
    line-height: 26px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #6d808e;
    width: auto;
}

#pager .pagesize-text
{
    float: right;
    height: 26px;
    line-height: 20px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #6d808e;
}

#pager .answer-amount
{
    height: 26px;
    line-height: 26px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #6d808e;
    position: absolute;
    left: 410px;
}

#answer-list .answer-info a
{
    width: 100%;
    color: #c83802;
    font-size: 12px;
    cursor: pointer;
}

#answer-list .answer-info a:hover
{
    text-decoration: underline;
}

#answer-list td.left-cap
{
    font-weight: bold;
    color: #20557b;
}

.answers
{
   padding: 20px;
    position: relative; 
}

#answer-list tr th
{
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}

#answer-list td
{
    vertical-align:top;
    text-indent: 0px;
	max-width:550px;
	&.answer-info{
		overflow:hidden;
		padding-right: 20px;
	}
}
#answer-list .detail-rationale
{
    display:none
}

.detail-rationale
{
    padding-right: 40px;
}

#answer-list h4
{
    width:100%;
    margin: 0 0 4px;
	line-height: 100%;
}
#answer-list h4 a
{
    width:10px;
    height:10px;
    border:1px solid #ccc;
    display:block;
    float:right;
    /* put in down arrow here*/
}

#answer-list h4 a.collapse
{
    /* put in up arrow here*/
}

#answer-list p
{
    display:inline;
    line-height:16px;
    overflow: hidden;
    max-height: 40px;
}

.key-relevant-info
{
    margin-bottom: 10px;
	overflow:hidden;
}

.answers #mce_0_toolbargroup, #mce_31_toolbargroup
{
    width: 780px !important;
}

/*Legend Styles*/
.legend
{
    margin:10px
}
.legend .tabs
{
    border-bottom: 1px solid #D1D5DD;
    display: block;
    height: 31px;
    width: 100%;
    overflow: hidden;
}

.legend .tabs li
{
    float:left;
    list-style:none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #D2E0ED;
    color: #333333;
    padding:5px;
    margin: 3px;
    border-top: 1px solid #D1D5DD;
    border-left: 1px solid #D1D5DD;
    border-right: 1px solid #D1D5DD;
    cursor:pointer;
}

.legend .tabs li.on
{
    color: #C83934;
    background: #fff;
}

.legend h2
{
    color: #52636f;
    font-size: 16px;
    border-bottom: 1px solid #D1D5DD;
}

.legend .content
{
    position:relative;
}

.legend .content li
{
    position:absolute;
    top:0px;
    left:0px;
    background-color: #fff;
}


.justification
{
	width: 600px;
}




/* Styles for expert details
-----------------------------------------------------------*/

h2.expert-details
{
	margin-left: 0px;
}


/* Comments */

.comment
{
    position: relative;
    width: 100%;
}

.comment .swat-comment, .comment .reviewer-comment, .comment .new-comment
{
    position: relative;
    width: 100%;
    padding: 0px;
    padding-bottom: 20px;
    background: #e7f5f5;
    margin-bottom: 10px;
}

.comment .new-comment
{
    display:none;
}

.comment .comment-author
{
    width: 20%;
    float: left;
}

.comment .comment-author h5
{
    width: 100px;
    position: relative;
    margin: 0px;
}

.comment .comment-author h5 .author-name
{
    margin-left: 30px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.comment .comment-author h5 .comment-date
{
    margin-left: 30px;
    font-size: 12px;
    font-weight: normal;
    color: #666;
    margin-top: 0px;
    width: 100%;
}

.comment .comment-author h5 input
{
    position: absolute;
    //top: -2px;
    left: 0px;
    margin: 0px;
    display: block;
}

.comment .comment-content
{
    float: left;
    width: 80%;
}

.comment .edit-mode .comment-content
{
    padding-bottom: 60px;
    position: relative;
    font-size:12px;
}

.comment .reviewer-comment
{
    //background: #e9f4e3;
}

.comment .view-mode
{
    display:block;
}
.comment .edit-mode
{
    display:none;
}

.comment .new-comment .view-mode
{
    display:none;
}

.comment .new-comment .edit-mode
{
    display:block;
}

.comment .view-mode p
{
    width: 440px;
}

.comment .view-mode ul
{
    margin: 10px 0px;
}

.comment .edit-mode p
{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 3px 0px;
}

.comment .edit-mode .comment-author h5 .author-name
{
    margin-bottom: 0px;
}

.comment .comment-rule
{
    padding: 0px 15px;
}

.comment .comment-rule div
{
    height: 0px;
    width: 100%;
    border-bottom: 1px dotted #666;
}

.comment .nested-comment-container
{
    position: relative;
    padding: 0px 15px;
}

.comment .nested-comment
{
    width: 80%;
    left: 20%;
    position: relative;
    border-bottom: 1px dotted #666;
    padding: 10px 0px;
} 

.comment .nested-comment-author-name
{
    font-weight: bold;
    float: left;
}

.comment .nested-comment-content
{
    margin-top: 3px;
}

.comment .add-nested-comment a
{
    left: 20%;
    display: block;
    position: relative;
    margin-top: 10px;
    color: #c83802;
    text-decoration: none;
    cursor: pointer;
    margin-left: 0px;
    font-size: 12px;
}

.word a
{
    font-size: 12px;
    line-height: 16px;
}

.comment .add-nested-comment a:hover
{
    text-decoration: underline;
}

.comment .nested-comment-date
{
    font-weight: normal;
    float: left;
    color: #666;
    margin-left: 4px;
}

.comment .edit-mode p.cancel-comment
{
    margin: 0px;
    position: absolute;
    bottom: 70px;
    left: 107px;
    font-size: 12px;
    font-weight: normal;
}
.comment .edit-mode p.cancel-comment a
{
    color: #C83802;
}


.comment .edit-mode textarea
{
    width: 420px;
    padding: 10px;
    font-family: 'Open Sans','Questrial',Helvetica,"Helvetica Neue",Arial,Sans-Serif,Verdana,Tahoma;
}

.final-recommendation .comment a.button-on
{
    bottom: 20px;
    left: 0px;
    top: auto;
}

.comment a.edit-comment, .comment a.edit-nested-comment
{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(images/buttons/edit.png) top left no-repeat;
    cursor:pointer;
}

.comment a.edit-nested-comment
{
    top: 5px;
    right: -3px;
}

.comment .edit-mode a.attach
{
    margin: 10px 0px;
    color: #f00;
    text-decoration: underline;
    display: block;
    cursor: pointer;
}

.comment .edit-mode ul.files
{
    margin: 10px 0px;
}

.comment .edit-mode ul.files .word
{
    margin-bottom: 5px;
    line-height: 18px;
}

.comment ul.files .word span
{
    height: 16px;
    width: 16px;
    float: left;
    display: block;
    background: url(images/buttons/document.png);
    margin-right: 3px;
}

.comment .edit-mode ul.files .word .remove
{
    color: #F00;
    margin-left: 3px;
    text-decoration: underline;
    cursor: pointer;
}

.comment .add-comment
{
    float: none !important;
}

.comment .add-comment span.comment-icon
{
    width: 16px;
    height: 16px;
    display: block;
    background: url(images/buttons/balloon-plus.png) top left no-repeat;
    position: absolute;
    left: 5px;
    top: 4px;
}

.comment .add-comment span.l
{
    padding-left: 26px;
}

.comment .files .add-new-file
{
    display:none;
}

.comment .files .add-new-file .upload
{
    cursor:pointer;
    text-decoration: underline;
    color: #C83802;
}

/* Answers Modal */


#answer-modal
{
    overflow-y: scroll;
    resize: none;
	height:560px !important;
}



#answer-modal h2
{
    color: #52636f;
    font-size: 16px;
    margin-top: 0px;
	&#modal-title{
		font-size:13px;
	}
}

#answer-modal .edit-answer span span
{
    background: url("images/buttons/edit.png") no-repeat scroll left top transparent;
    height:20px;
    width:20px;
}

#answer-modal .details, #answer-modal .comments
{
    display: none;
	 position: relative;
}

#answer-modal .details.on, #answer-modal .comments.on
{
    display: block;

    top: -1px;
}

#answer-modal .comments
{
    padding-bottom: 20px;
}

#answer-modal ul.tabs li
{
    margin-left: 0px;
    margin-right: 10px;
}

#answer-modal ul.tabs li p
{
    font-size: 14px;
    text-transform: uppercase;
}

#answer-modal ul.tabs li.on p
{
    color: #C83934;
}

#answer-modal .answer-list
{
    display:none;
    border-top: 1px solid #D0D5DB;
    padding-top: 10px;
    position: relative;
    top: -1px;    
}

#answer-modal #answer-list
{
    width: 868px;
}

#answer-modal .answer-form
{
    display:none;
    border-top: 1px solid #D0D5DB;
    padding-top: 10px;
    position: relative;
    top: -1px;    
}
#answer-modal #pager form
{
    width:889px;
}

#answer-modal .edit-answer
{
    float:right;
}
.comment .view-mode, .comment .edit-mode
{
    padding: 15px;
}

.details .score-grey, #answer-list .score-grey
{
    max-width: 70px;
    height: 20px;
    font-size: 13px;
	padding-right: 3px;
    position: relative;
    border: 1px solid #666;
    background: #999;
    text-transform: uppercase;
    color: #FFF;
	border-radius: 3px;
}

.details .score-grey{
    padding-left: 34px;
}

#answer-list .score-grey{
    padding-left: 3px;
}

.details .score-grey span
{
    height: 18px;
    background: #666;
    position: absolute;
    border: 1px solid #666;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    left: 0px;
    top: 0px;
	width:20px;
	padding:0 3px;
}

#answer-modal{
	h3{
		margin-top:5px;
	}
	.details .score-grey{
		background: white;
		color:#333;
		display:inline;
		margin-bottom:5px;
		padding-top:1px;
		span{
			width:auto;
		}
	}
}

span.score-grey
{
    height: 19px;
    background: #666;
    border: 1px solid #666;
    width: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    padding: 0px 3px;
    margin-right: 3px;
}

td.grey-score
{
    padding-right: 10px;
    width: 200px;
}

#answer-list tr th.left-cap
{
    text-indent: 10px;
    padding-right: 10px;
}

#answer-list tr th.factor
{
    padding-right: 10px;
	width:140px;
}

.references .tablesorter tr td.right-cap
{
    padding-right: 5px;
}
.references .edit-doc
{
    display:none;
}
.details h3
{
    margin: 10px 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
}

.details p
{
    font-size: 12px;
    width: 100%;
}

.nested-comment-edit-mode
{
    display:none;
}
.new-nested-comment
{
    display:none;
}

.new-nested-comment .nested-comment-edit-mode
{
    display:block;
}

.new-nested-comment .nested-comment
{
    display:none;
}
.nested-comment-edit-mode .comment-content, .add-nested-comment-edit-mode .comment-content
{
    border-bottom: 1px dotted #666666;
    padding: 10px 0px;
    position: relative;
    left: 20%;
}   

.nested-comment-edit-mode .comment-content textarea, .add-nested-comment-edit-mode .comment-content textarea
{
    width: 660px;
    margin-top: 10px;
    font-size: 12px;
}

.nested-comment-edit-mode .comment-content .button-on, .add-nested-comment-edit-mode .comment-content .button-on
{
    float: left;
}

.nested-comment-edit-mode .comment-content .attach, .add-nested-comment-edit-mode .comment-content .attach
{
    margin: 10px 0px;
    display: block;
    cursor:pointer;
    font-size:12px;
}
    

.details p.apply-all
{
    padding-left: 24px;
    position: relative;
    font-weight: bold;
	display:none;
}

.details .apply-all.stockhealth{
	display:block;
}

.details p.apply-all input
{
    position: absolute;
    top: 0px;
    left: 0px;
    //display: none;
}

.details p.apply-all .checkbox
{
    position: absolute;
    left: 0px;
    top: 1px;
	display:none;
}

.details p.cancel-area
{
    width: auto;
}

.details a.button-on
{
    float: left;
}

#answer-modal .tab-rule
{
    position: relative;
    border-top: 1px solid #d0d5db;
    z-index: 1;
    top: -1px;
    margin-bottom: 15px;
}

#answer-modal .select-different-answer
{
    position: absolute;
    top: -75px;
    right: 0px;
    padding-left: 26px;
    height: 16px;
    line-height: 16px;
    color: #c83802;
    font-size: 12px;
    cursor: pointer;
}

#answer-modal .add-answer
{
    position: absolute;
    top: 15px;
    right: 0px;
    padding-left: 26px;
    height: 16px;
    line-height: 16px;
    color: #c83802;
    font-size: 12px;
    cursor: pointer;
}

#answer-modal .select-different-answer span
{
    height: 16px;
    width: 16px;
    background: url(images/switch.png) top left no-repeat;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.comment p
{
    font-size: 12px;
}

.criteria-tabs
{
    border-bottom: 1px solid #a6bdc0;
    width: 917px;
    height: 34px;
    margin-bottom: 5px;
}

.criteria-tabs li
{
    width: 292px;
    margin-right: 20px;
    background-image: url(images/criteria3_tabs.png);
    background-repeat: no-repeat;
    background-position: top right;
    float: left;
    text-align: center;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    cursor: pointer;
}


.criteria-2 .criteria-tabs li{
    background-image: url(images/criteria2_tabs.png);
	position:relative;
}

.criteria-2 .criteria-tabs li.on span
{
    display:block;
	position:absolute;
	height:20px;
	width:20px;
	background-image: url(images/analysis/risk-factor.png);
    background-repeat: no-repeat;
    background-position: -54px 0;
	top: 13px;
	left: 13px;
}

.criteria-tabs li.right-tab
{
    margin-right: 0px;
}

.criteria-tabs li.on
{
    background-position: top left;
}

 .criteria-tabs li.no-margin
 {
     margin-right: 0px;
 }
  .criteria-content
  {
      display:none;
	  &.on{
		display:block;
	  }
  }
 .criteria-scroll
 {
     width: 917px;
     overflow-x: scroll;
	 overflow-y:hidden;	 
		table{
			positon:inherit;
		}
 }

 .criteria-3 .parentTable{
	position: relative;
 }

 .criteria-3 .criteria-tabs{

 }
 
  .criteria-scroll table
  {
      width: 1385px !important;
  }
  
   .criteria-scroll table.criteria-32
   {
       width: 1095px !important;
   }
  
  .criteria-scroll table tr td.if-yes, .criteria-scroll table tr td.if-yes:hover
  {
      background: #EEE;
      cursor: normal;
  }
  
  .criteria-scroll table tr td.fixed-size
  {
      width: 175px;
  }
  
  .criteria-scroll table tr td a.critical-link
  {
      color: #C83934;
  }
  
  .criteria-scroll table tr.table-header td
  {
      text-indent: 0px;
      padding: 7px 0px 7px 7px;
      line-height: 14px;
  }
  
  .criteria-scroll table tr td.all-retained
  {
      width: 90px;
      text-indent: 0px;
      padding: 7px 0px 7px 7px;
      line-height: 14px;
      text-align: center;
  }
  
    .criteria-scroll table tr.table-header td.all-retained
  {
      width: 80px;
      text-indent: 0px;
      padding: 7px 0px 7px 7px;
      line-height: 14px;
      text-align: left;
  }
  
  
  #answer-modal .add-answer.add-row
  {
      width: 90px;
      padding-left: 0px;
  }
  
  .contact-page{
	 form.details .attach-file{
		display:none;
	}

	form.details ul li input.file{
		width:100%;
	}
  }

  #delete-modal{
	a{
		cursor:pointer;
		text-decoration:underline;
	}
	.no{
		float:right;
	}
  }

  .edit-page {
		.select-different-answer, .scoring-legend, .tabs, .tabs-rule{
			display:none;
		}
		h2{
			margin-left:0;
		}
  }

 #answer-modal .references .button-review#insert-reference,  #answer-modal .images .button-review#insert-image{
	position:relative;
	top:inherit;
	right:inherit;
	float:left;
	span.l {
		padding-left:10px;
	}
 }

 #reference-modal, #image-modal{
	#pager form{
		width:auto;
	}
	h2{
		color: #52636F;
		font-size: 16px;
		margin-top: 0px;
	}
	.search-reference{
		display:inline;
	}
	#insert-reference, #insert-image{
		float:left;
		display:inline;
	}	
 }

 .cancel-add-reference{
	 float: left;
	margin: 5px 0 0 15px;
 }

.right-cap-align-left
{
background-position: top right;
text-align: center;
}

.references table tr th{
	font-size:12px;
	text-align:left;
}

.references.edit-page input#title{
	width:100%;
}

#answer-list th.name{
	width:140px;
}

#answer-list th.reference-id{
	width:40px;
}

.tabbed-content #answer-list a.factor-id{
	cursor:default;
	&:hover{
		text-decoration:none;
	}
}

.criteria-31.stock-analysis .table-body .right-cap span{
	margin:0 3px;
}

.comment .edit-mode p.cancel-area{
	font-size: 12px;
	font-weight:normal;
	margin: 5px 0 0 15px;
}

.new-comment .save-comment.button-on{
	float:left;
}


.criteria-33.stock-analysis tr.table-body td{
	&:hover .risk-factor-popup{
		display:none;
	}
	&.no-popup:hover{
		background:inherit;
	}
	cursor:default;
}

.review-wrapper .status{
	display:none;
}

.save-comment{
	float:left;
}

.references{
	.author, .short-name{
		min-width:120px;
	}
}

.immovable-td {
	background-color: #F5F6F8;
	border-right: 1px solid white;
	font-weight: 800;
	color: #666;
	cursor: text;
	width: 100px;
	font-size: 12px;
	font-family: 'Open Sans', Helvetica, Arial, "Helvetica Neue", Arial, Sans-Serif, Verdanda, Tahoma;
	text-indent: 0px;
	position: relative;
	border-bottom: 1px solid #D5DFE0;
	padding: 5px;
	vertical-align: top;
	&.header-color{
		background-color: #DFE8E7;
	}
}

.scientific-name{
	font-style:italic;
}

.criteria-3 tbody{
	overflow-y:hidden;
}

.search .bulk-add.search-answer{
	display:inline;
}

.comment .edit-mode a.attach.hasFile{
	display:none;
}

.define-scope .information-box{
	margin:10px 0;
}

.species-search p.search-instruction{
	font-weight:normal;
	margin:0;
}

#answer-modal #reference-container{
	.edit-row, .delete-row{
		display:none;
	}
	table{
		width:100%;
	}
}

table.criteria-33 tr td.score div{
	display:inline-block;
	float:left;
}

.criteria-3 .stock-analysis.criteria-33 .table-body .right-cap span{
	float:left;
	padding-left:3px;
	&.description{
		background:none;
		color:#354857;
		margin-top:4px;
	}
}

.dashboard-reports-container{
	min-height:490px;
	padding-top:10px;
}

#notification-modal p{
	display:none;
}

#notification-modal h3{
	font-weight:normal;
}

#notification-modal p.on{
	display:block;
}

.ajax-spinner{
	background: url(images/spinner.gif) no-repeat;
	width:32px;
	height:32px;
	position: absolute;
	bottom: 17px;
	left: 260px;
	display:none;
}

.references .button-review.go-back-button, .images .button-review.go-back-button{
	right:0;
	position:absolute;

}

.references .button-review.go-back-button span.l{
	padding-left:10px;
}

.analysis-table{
	tr .date{
		width:180px;
		text-align:center;
	}
	tr th.left-cap{
		width:510px;
	}
}

.report-table{
	.date{
		width:180px;
	}
}

#answer-modal .ajax-spinner{
	bottom:inherit;
	left:225px;
}

.no-reports{
	line-height:500px;
	text-align:center;
	font-weight:normal;
}

.criteria-3 {
	.cell-wrapper{
		width:135px;
	}
	table tr td.fixed-size {
		width: 135px;
	}
	ul.risk-factor li span.risk-number{
		display:none;
	}
}

.custom-popup.risk-factor-popup li.priority p span.number{
	display:none;
}

.criteria3 {
	.details .score-grey{
		padding-left:0;
		span{
			display:none;
		}
	}
}

.review-layout .review-content h3{
	font-family: Arial;
	font-size: 15.75pt;
	color: #005A74;
	font-weight: bold;
}

#timeout-modal{
	.button-review{
		display:inline-block;
		margin-right:10px;
	}
	display:none;
}

#introductionForm .document-insert, .mceEditor{
display:block;
	clear:both;
}

.defaultSkin .mceStatusbar.mceLast *{
	text-indent:-9999px;
}

.define-scope td.left-cap{
	text-align:center;
}

.define-scope-table .yes{
	background:#FFFBE5;
}

.analysis-review .analysis-review-content .discard-rate-table{
	h1{
		text-transform: uppercase;
		font-weight: 800;
		color: #6D808E;
		font-size:12px;
		background:#DFE8E7;
		float:left;
		height:28px;
		line-height:28px;
		padding-left:1%;
		&.discard{
			background:#E9EFEF
		}
		margin:0;
	}
	.region{
		width:39%;
	}
	.method{
		width:39%;
	}
	.discard{
		width:19%;
	}
	h2{
		float:left;
		font-weight: 800;
		color: #666;
		font-size:12px;
		margin:0;
		padding-left:1%;
		background:#F5F6F8;
		height:45px;
		padding-top:5px;
	}
	.discard-rate-container{
		float:left;
		width:20%;
		.cell-wrapper{
			padding:5px;
			cursor:pointer;
			width:175px;
		}
	}
}

.dashboard-help-content{
	ul{
		list-style-type:disc;
		padding-left:40px;
	}
	&.guiding-principles a.button-review{
		display:block;
	}
	.information-box{
		display:none;
	}

}

.introduction{
	.tip{
		p{
			margin:0;
		}
	}
}

.guiding-principles {
	margin-top:5px;
	a.button-review{
		background:#FFFDE9;
		display:inline-block;
		padding:3px 11px 1px 15px;
		border: 1px solid #D7CDB6;
		font-weight:bold;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-transform:capitalize;
		top:inherit;
		right:inherit;
		position:inherit;
		color:inherit;
		span.information{
			top:2px;
			left:-5px;
			
		}
	}
	h3{
		display:inline-block;
		margin-right:5px;
		font-size:16px;
	}
	ul{
		list-style:disc;
		padding-left:40px;
	}
	li{
		font-size:12px;
	}
}

.ui-dialog .ui-dialog-content .guiding-principles h3{
	margin-right:10px;
}

.assessment-guide{
	border-bottom:1px dotted #666;
	margin-bottom:10px;
	ul{
		list-style:disc;
		padding-left:40px;
	}
}

.hide-information-box.top-hide{
	float:right;
}

.region-container{
	margin-bottom:20px;
	h1{
		color: #333;
		font-weight: 800;
		background-image: url(images/table-header.png);
		font-size:14px;
		text-transform: uppercase;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		height:30px;
		line-height:30px;
		padding:5px 10px;
		margin:0;
	}
	.scores-container{
		border:1px solid #D5DFE0;
		ul{
			padding-left:5px;
		}
		li{
			float:left;
			margin:0 50px 0 5px;
			text-transform: uppercase;
			font-weight: 800;
			color: #6D808E;
			.score{
				background: #EBEBEB;
				height: 25px;
				padding:3px 5px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				color:#354857;
				&.green{

				}
			}
		}
		height:50px;
		line-height:50px;
	}
	.table-header div{
		float:left;
		width:205px;
		background-color: #E9EFEF;
		color:#6D808E;
		text-transform:uppercase;
		font-weight:800;
		text-indent:10px;
		height:25px;
		line-height:25px;
		&.specie{
			background-color:#DFE8E7;
			color: #6D808E;

		}
		&.subscore{
			width:98px;
			text-align:center;
			text-indent:0;
		}
	}
	.table-row div{
		float:left;
		width:185px;
		height:45px;
		padding:0 10px;
		white-space: nowrap;
		line-height:45px;
		overflow: hidden;
		text-overflow: ellipsis;
		&.specie{
			background-color: #F5F6F8;
			color: #666;
			font-weight: 800;
			&.none{
				font-weight:normal;
			}
		}
		&.subscore{
			width:94px;
			text-align:center;
			padding:0;
			color:#6D808E;
			font-weight:bold;
		}
		.risk-number, .risk-text{
			font-size: 11px;
			margin-right:3px;
			display:inline;
			font-weight:bold;
		}
		.risk-text{
			color:#6D808E;
		}
	}
	.table-row{
		border:1px solid #D5DFE0;
		overflow:hidden;
	}

}

.draft-recommendation {
	.score div, &.stock-analysis tr.table-header td{
		text-align:center;
	}
	tr td.score div{
		background:none;
	}
}



.discard-rate-container:hover{
	background: #F4EFDE;
}

.define-scope-table .recommendation span{
	background: url(images/buttons/tool-tip.png);
	display:inline-block;
	height:16px;
	width:16px;
}

.discard-rate-container .add-score{
	height:40px;
	padding:10px 10px 0;
	cursor:pointer;
	display:block;
	color: #999;
	font-style: italic;
	font-size: 12px;
}

.answers .new{
	.guiding-principles{
		display:none;
	}
}

.details .hide{
	display:none;
}

#answer-modal #answer-list tr{
	cursor:pointer;
	&:hover{
		background: #FFFBE5;
	}
}

.specie-container{
	border-bottom: 1px solid #DFDFDF;
	margin-bottom:10px;
}

#go-back{
	display:none;
}

#answer-modal #go-back{
	position:absolute;
	right:5px;
	top:-55px;
	display:block;
	z-index:99;	
}

#answer-modal .answer-header{
	display:none;
}

#answer-modal #validation-modal{
	display:none;
}

.define-scope table tr.edit td input.recCheckbox{
	text-align:center;
	width:inherit;
}

.cell-wrapper ul.risk-factor li{
	display:block;
	clear:both;
	width:100%;
}

.help-documents{
	text-transform: capitalize;
	list-style:disc;
	li{
		margin-bottom:5px;
	}
}

.help-page{
	h2{
		margin-top:30px;
		font-size:13px;
	}
	ul{
		list-style:disc;
		margin-left:40px;
	}
	a{
		color: #c83802;
	}
	#video-modal{
		display:none;

	}
	p{
		margin:0 0 5px;
	}
}

#video-modal{
	padding-top:10px;
}

.tabs .report-preview{
	display:none;
}


.define-scope .button-review{
	display: inline-block;
}

.define-scope .add-row{
	width:90px;
}

.define-scope .button-review.add-row .l{
	padding-left:10px;
}	

#reference-modal {
	overflow-y:scroll;
	.cancel-add-reference{
		display:none;
	}
	#reference-container{
		overflow:auto;
	}
	table{
		margin-bottom:10px;
		width:100%;
	}
}

.references.images{
	table td {
		.edit-row, .delete-row{
			position: absolute;
			top:6px;
		}
	}
}

.answers.edit-page{
	.button-review.document-insert, .button-review.image-insert{
		display:inline-block;
		margin-right:10px;
	}
}

#image-modal{
	.tablesorter{
		width:100%;
		th{
			text-align:left;
		}
	}
	.cancel-add-reference{
		display:none;
	}
	.bulk-add.search-image{
		display:inline-block;
	}
}

#answer-modal{
	.document-insert, .image-insert{
		display:inline-block;
		margin-right:10px;
		float:left;
	}
	.images{
		display:none;
		position:relative;
		.tablesorter{
			width:100%;
			th{
				text-align:left;
			}
		}
	}
}

.cancel-add-image{
	margin-left:20px;
}

#answer-modal.reference .cancel-add-image, .ui-dialog-content.reference .cancel-add-image{
	display:none;
}

#ecoCertification_parent{
	margin-bottom:20px;
}

.edit-page .error-message{
	color:red;
}

.review-wrapper .tabbed-content .justification-container,.review-wrapper .tabbed-content .introduction, .analysis-layout .tabbed-content .report-preview .justification-container{
	h2{
		color: #333;
		font-weight: 800;
		background-image: url(images/table-header.png);
		font-size:14px;
		text-transform: uppercase;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		height:30px;
		line-height:30px;
		padding:5px 10px;
		margin:0 0 10px;
		width:98%;
	}
	h3{
		color:black;
		text-transform: uppercase;
		font-size:15px;
		margin-left:3px;
		margin-bottom:5px;
		border-bottom: 1px dotted #666666;
	}
	.comments-header{
		font-size:15px;
	}
	.rationale, .relevant-info{
		min-height:50px;
	}
	.related-combinations {
		background-color:#dfe8e7;
		padding: 5px 15px;
		li{
			font-weight: 800;
			color: #666666;

		}
	}
	.score-grey
	{
		background: white;
		color:#333;
		display:inline;
		margin-bottom:5px;
		padding-top:1px;
		span{
			width:auto;
		}
	}
	.details{
		padding:10px;
		background:#f5f6f8;
		margin-bottom:5px;
		h4{
			margin:5px 0;
		}
		.reference-title{
			border-top: 1px dotted #666666;
			padding-top:3px;
			margin-bottom:15px;
		}

		.image-container{
			margin:5px 0;
			p{
				margin:0;
			}
		}
	}
}

.review-wrapper .tabbed-content		.details {

	div.reference {
			a{
				text-overflow: ellipsis;
				width: 700px;
				white-space: nowrap;
				overflow: hidden;
				display:block;
				padding-left:40px;
				background-image: url("/Content/images/word-icon.png");
				background-repeat: no-repeat;
				
			}
			h4{
				float:left;
				width:110px;
				margin:0;
				font-style: italic;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow:hidden;
				margin-right:10px;
			}
			margin-bottom:20px;

		}
			.reference-title{
				border-top: 1px dotted #666666;
				padding-top:3px;
				margin-bottom:15px;
			}

			}
.review-layout , .report-preview{
	ul.risk-factor li {
		span, span.risk-text{
			font-size:12px;
			line-height:20px;
			margin:5px 5px 5px 0;
			white-space: normal;
			text-overflow:visible;
		}
	}
	table tr td.score div{
		margin-top:5px;
	}
	.stock-analysis .click-to-collapse, table tr th{
		cursor: default;
	}
	.criteria-3 {
		.cell-wrapper{
			width:70px;
		}
		.criteria-content{
			display: table;
		}
	}

}

.review-tabbed-content{
	.container{
		//min-height:300px;
	}
}

.tabbed-content .middle table.overall-recommendation{
	width:600px;
	td{
		padding:0 10px 0 0;
		vertical-align:middle;
		border:0;
	}
	tr td.score div{
	}
}

table.overall-recommendation tr td div{
	background:none;
	text-align:center;
}

.recommendation-container{
	border:1px solid #d5dfe0;
	padding:10px;
	margin-bottom:10px;
}

.overall-recommendation, .report-preview{
	 .overall-score{
		float:right;
		width:200px;
		font-size:24px;
		font-weight:bold;
		text-align:center;
		padding:10px 0;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
}

.scoring-options span{
	width: 105px;
	display:inline-block;
	padding:5px;
	margin:0 5px 5px 0;
	text-align:center;
	&.yellow{
		float:left;
	}
}

.scoring-options{
	margin-bottom:10px;
}

.report-preview #reference-container{
	.search, #pager{
		display:none;
	}
	table{
		margin-top:10px;
	}
}

.review-tabbed-content.appendix td{
	vertical-align:middle;
}

.review-layout .appendix table tr td.score div{
	margin-top:0;
}

.appendix table tr td.score div{
	background:none;
}

.analysis-table td.right-cap{
	width:250px;
	.button-review{
		float:left;
	}
}

.review-wrapper .tabbed-content div.introduction {
	h2{
		background:none;
		font-size:18px;
		padding:0;
		margin:0;
	}

	.details{
		background:none;
		padding:0;
		.reference-title{
			margin-top:20px;
		}
	}

	 h3{
		margin:40px 0 5px 0;
		border:0;
	}
}

.review-wrapper .tabbed-content h2.criteria3-subhead{
	float:none;
}

.review-wrapper .tabbed-content .justification-container .score-grey{
	padding-left:38px;
}

.review-tabbed-content #reference-container{
	.search, #pager{
		display:none;
	}
}

.submit-button-container{
	position: absolute;
	right:0;
	top:25px;
}