﻿/* Start: _lib.less */

.boxShadow(@horiz: 3px, @vert: 3px, @blur: 3px, @spread: 3px, @color: @standardColor) {
    -webkit-box-shadow:  @horiz @vert @blur @spread @color;
    box-shadow:  @horiz @vert @blur @spread @color;
}
/* end: _lib.less */