﻿@model MontereyBayAquarium.Swat.Web.Models.ReportsViewModel
@using ART;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div class="public-wrapper dashboard-reports-container">
    <!--Reviewer table-->
    @if (Model.Reports.Where(r => r.HasAccess(ReportEntity.Permission.CompleteReview)).Count() > 0 && Model.User.IsSFWStaff == false)
    {
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Before You Start", key = "ReviewerStart" })
        
        <h3>The following reports are ready for your review:</h3>
        <table class="review-table" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <th class="left-cap seventy">Report
                </th>
                <th class="fifteen">Last Commented
                </th>
                <th class="right-cap fifteen"></th>
            </tr>

            @foreach (ReportEntity report in Model.Reports)
            {
                if (report.HasAccess(ReportEntity.Permission.CompleteReview))
                {
                <tr>
                    <td class="left-cap">
                        <a href="@Url.Action("ExecutiveSummary", "Review", new { id = report.Id })">@report.Title</a>
                    </td>
                    <td class="date">
                        <span>@report.LastUpdated</span>
                    </td>
                    <td class="right-cap">
                        <a class="button-review review-complete" href="@Url.Action("CompleteReview", "Dashboard", new { id = report.Id })"><span class="l">Submit Review to Seafood Watch</span><span class="r"></span></a>
                    </td>
                </tr>
                }
            }
        </table>
    }
    <!--Analyst table-->

    @if (Model.Reports.Where(r => r.HasAccess(ReportEntity.Permission.Answer)).Count() > 0 && Model.User.IsSFWStaff == false)
    {
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "What's New", key = "WhatsNew" })
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Before You Start", key = "BeforeYouStart" })
        <h3>You are analyzing the following reports:</h3>
        <table class="analysis-table" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <th class="left-cap forty-five">Report
                </th>
                <th class="fifteen">Last Updated
                </th>
                <th class="fifteen">Status
                </th>
                <th class="right-cap ten"></th>
            </tr>
            @foreach (ReportEntity report in Model.Reports)
            {
                if (report.HasAccess(ReportEntity.Permission.Answer))
                {
                <tr>
                    <td class="left-cap">
                        <a href="@Url.Action("DefineScope", "Analysis", new { id = report.Id })">@report.Title</a>
                    </td>
                    <td class="date">
                        <span>@report.LastUpdated</span>
                    </td>
                    <td class="status @report.ReportStatus.ToLowerInvariant().Replace(" ", "-")">
                        <span>@report.ReportStatus</span>
                    </td>
                    <td class="right-cap">
                        @if (report.HasAccess(ReportEntity.Permission.ExportReport))
                        {
                            <a class="button-review" href="@Url.Action("Export", "Analysis", new { id = report.Id })"><span class="l">Export</span><span class="r"></span></a>
                            <a class="button-review" href="@Url.Action("SubmitReport", "Analysis", new { id = report.Id })"><span class="l">Submit For Review</span><span class="r"></span></a>
                        }
                    </td>
                </tr>
                }
            }
        </table>
    }
    <!--SWAT Table-->

    @if (Model.Reports.Where(r => r.HasAccess(ReportEntity.Permission.UpdateStatus)).Count() > 0)
    {
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Before You Start", key = "BeforeYouStart" })
        <h3>You are managing the following reports:</h3>
        <table class="analysis-table" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <th class="left-cap forty-five">Report
                </th>
                <th class="fifteen">Last Updated
                </th>
                <th class="fifteen">Status
                </th>
                <th class="right-cap ten"></th>
            </tr>
            @foreach (ReportEntity report in Model.Reports)
            {
                if (report.HasAccess(ReportEntity.Permission.UpdateStatus))
                {
                <tr>
                    <td class="left-cap">
                        <a href="@Url.Action("DefineScope", "Analysis", new { id = report.Id })">@report.Title</a>
                    </td>
                    <td class="date">
                        <span>@report.LastUpdated</span>
                    </td>
                    <td class="status @report.ReportStatus.ToLowerInvariant().Replace(" ", "-")">
                        <span>@report.ReportStatus</span>
                    </td>
                    <td class="right-cap">
                        @if (report.HasAccess(ReportEntity.Permission.ExportReport))
                        {
                            <a class="button-review" href="@Url.Action("Export", "Analysis", new { id = report.Id })"><span class="l">Export</span><span class="r"></span></a>
                            <a class="button-review" href="@Url.Action("SubmitReport", "Analysis", new { id = report.Id })"><span class="l">Submit For Review</span><span class="r"></span></a>
                        }
                    </td>
                </tr>
                }
            }
        </table>

    }

</div>
<script data-main="views/dashboard/index" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
@{if (ViewContext.TempData["Completed"] != null && (bool)ViewContext.TempData["Completed"])
  { 
    <div id="notification-modal" title="Thank you!">
        <p class="on">Thank you for providing comments on our draft assessment; we really appreciate your time and expertise in this matter. We will incorporate your feedback into the final draft, which will be posted on our website once it is complete.  If you have any questions, contact <a href="mailto:SFWResearch@mbayaq.org">SFWResearch@mbayaq.org</a>.</p>
    </div>

  }
}


