﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SampleReport.aspx.cs" Inherits="MontereyBayAquiarum.Swat.Web.SampleReport" %>

<%@ Register assembly="ActiveReports.Web, Version=6.2.3681.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" namespace="DataDynamics.ActiveReports.Web" tagprefix="ActiveReportsWeb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <ActiveReportsWeb:WebViewer ID="WebViewer1" runat="server" height="600px" 
            ReportName="ART.Reporting.RecDetail" width="911px" ViewerType="RawHtml">
        </ActiveReportsWeb:WebViewer>
    
    </div>
    </form>
</body>
</html>
