﻿@model ART.ReferenceEntity
@using System.IO;
@{
    ViewBag.Title = (Model.ReferenceId > 0) ? "Edit" : "Add";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
<div class="references edit-page">
<h2>@(Model.ReferenceId > 0 ? "Edit" : "Add") Reference</h2>
            @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "References" })
        <p class="error-message">@(TempData["error"])</p>
@using (Html.BeginForm("Edit", "Reference", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]), referenceId = Convert.ToInt32(ViewContext.RouteData.Values["referenceId"]) }, FormMethod.Post, new { @class = "details", id = "reference-form", enctype = "multipart/form-data" }))
{   <input type="hidden" value="@Model.ReferenceId" id="referenceid" name="referenceid" />
    <input type="hidden" value="@ViewContext.RouteData.Values["id"]" id="reportid" name="reportid" />
    <ul>
        <li>
            <label class="field-name-text">Author(s):</label>
            <input class="required" id="authors" name="authors" value="@Model.Authors" />
        </li>
        <li>
            <label class="field-name-text">Year:</label>
            <input class="required number" id="year" name="year" value="@Model.Year" maxlength="4"/>
        </li>
        <li>
            <label class="field-name-text">Short Name:</label>
            <input class="required" id="shortname" name="shortname" value="@Model.ShortName" />
        </li>
        <li>
            <label class="field-name-text">Bibliography:</label>
            <textarea class="required mceEditor" id="bibliography" name="bibliography">@Model.Bibliography</textarea>
        </li>
        <li class="edit-doc">
            <label class="field-name-text">Documentation:</label>
            <select class="required" id="documentationType" name="documentationType">
                <option value="0">Select One</option>
                <option value="document">Document</option>
                <option value="link">Link</option>
            </select>
            <input class="" value="@if(!Model.isUrl) { @Model.Path}" title="" type="file" id="documentation" name="documentation" />
            <input class="" value="@if(Model.isUrl) { @Model.Path}" title="" type="text" id="link" name="link" />
        </li>
<!-- Edit area starts here -->
        <li  class="view-doc">
            <label class="field-name-text">Documentation:</label>
            @if (Model.Path != null && Model.Path.Length > 0)
            {
                    if (Model.isUrl)
                    {
                        <a href="@Url.Content(Model.Path)">@Model.Path</a>
                    }
                    else
                    {
                        <span class="documentation-text">
                            <a href="/download?filename=@HttpUtility.UrlEncode(Model.Path)">@HttpUtility.UrlDecode(Model.Path)</a>
                        </span>
                    }
            }
        </li>
        <li class="view-doc update-link">
           <a>Update Link</a>
        </li>
        <li><a class="save-area submit button-on"><span class="l">Save Changes</span><span class="r"></span></a><span class="cancel-area"> or <a href="@Url.Action("Index", "Reference")">Cancel</a></span></li>
    </ul>
}
</div>

<div class="clear"></div>
<script data-main="views/reference/edit" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
