﻿@model MontereyBayAquarium.Swat.Web.Models.References.ReferencesViewModel
@using ART;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="references">
<a class="button-review bulk-add"  href="/reports/@ViewContext.RouteData.Values["id"]/references/0/edit">
<span class="l">Add Reference</span>
<span class="r"></span>
<span class="plus"></span>
</a>
<h2>References</h2>
<div id="reference-container">
@Html.Partial("_References", Model)
</div>
</div>
@Html.Partial("_DeleteConfirmationModal")
<script data-main="views/reference/index" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>