﻿@{
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

    <div class="analysis-layout">
        
        <div class="analysis-wrapper">
            
            @Html.Action("AnalysisHeader", "Analysis", new { id = @ViewContext.RouteData.Values["id"] })
            
            <div class="tabbed-wrapper">
                <ul class="tabs">
                    <li><a href="@Url.Action("DefineScope", "Analysis")"><span>Main Species</span></a></li>
                    <li><a href="@Url.Action("Criteria1", "Analysis")"><span>Assessment</span></a></li>
                    <li><a href="@Url.Action("ExecutiveSummary", "Analysis")"><span>Supporting Info</span></a></li>
                    <li class="report-preview"><a href="@Url.Action("Preview", "Analysis")"><span>Report Preview</span></a></li>
                </ul>
                <a class="resources">Resources<span></span></a>
                <ul class="resources-drop">
                    <li><a class="red-link" href="@Url.Action("Index", "Answer")">Answers</a></li>
                    <li><a class="red-link" href="@Url.Action("Index", "Reference")">Reference</a></li>
                    <li><a class="red-link" href="@Url.Action("Index", "ExpertInput")">Expert Input</a></li>
                    <li class="bottom"><a class="red-link" href="@Url.Action("Index", "Image")">Images</a></li>
                </ul>
                <div class="clear"></div>
                <div class="tabbed-content">
                    <div class="top">
                    </div>
                    <div class="middle">
                        @RenderBody()
                    </div>
                    <div class="bottom">
                    </div>
                </div>
            </div>

        </div>

    </div>

  