﻿@model MontereyBayAquarium.Swat.Web.Models.Shared.AnswerCellViewModel
@using MontereyBayAquarium.Swat.Web;
@if (Model.Answer.FactorId > 0)
{
<div class="cell-wrapper">
    <ul class="risk-factor @(Model.IsEditable ? "" : "not-editable")" factorId="@Model.Answer.FactorId" factorTypeId="@Model.Answer.FactorTypeId" data-specie="@Model.Species" data-region="@Model.Location / @Model.BodyOfWater" data-method="@Model.Method" data-factor="@Model.FactorTypeName">
        <li>
            <span class="risk-number">@Model.Answer.Score </span>
            <span class="risk-text">@Model.Answer.ScoreDescription </span>
        </li>
        <li class="answer-reference">
        <span class="risk-answer-ref">@Model.Answer.Label </span>
        @if (Model.Answer.CommentCount > 0)
        {
            <span class="risk-comment">@Model.Answer.CommentCount </span>
        }
        </li>
    </ul>
    <ul class="risk-factor-popup">
        <li class="popup-head">
            Answer: @Model.Answer.Label
        </li>
        <li class="priority">
            <p>
                <span class="number">@Model.Answer.Score</span> <span class="text">@Model.Answer.ScoreDescription</span>
            </p>
        </li>
        <li class="key-info"><span>Key Relevant Info:</span>
            <p>@Html.Raw(Model.Answer.KeyInfo.Truncate(200))</p>
            
        </li>
    </ul>
</div>
}
else
{
    <a class="@(Model.IsEditable ? "add-score" : "")" factorTypeId="@Model.Answer.FactorTypeId" data-specie="@Model.Species" data-region="@Model.Location / @Model.BodyOfWater" data-method="@Model.Method" data-factor="@Model.FactorTypeName">@(Model.IsEditable ? "Add Score" : "")</a>
}
