﻿@model FactorEntity
@using ART;
@{
    Layout = null;
}
        <a class="select-different-answer">
            <span></span>
            Select a different answer
        </a>
        <a class="button-review edit-answer">
            <span class="l"><span></span>Edit Answer</span>
            <span class="r"></span>
        </a>
        <div class="score-grey">
            <span>@Model.FactorScore</span>&nbsp;
            @Model.FactorScoreDescription
        </div>
        <h3>Key Relevant Info:</h3>
        <p class="key-relevant-info">@Html.Raw(Model.KeyInfo)</p>
        <h3>Detailed Rationale</h3>
        <p class="detailed-rationale">@Html.Raw(Model.Rationale)</p>
        <div class="detail-rule"></div>
        <p class="apply-all @(ViewBag.CallingPage != "StockHealth" ? Html.Raw("") : Html.Raw("stockhealth"))">
            <span class="checkbox"></span>
            <input type="checkbox" name="a" class="styled" />
            Apply to this stock for all regions and gear types
        </p>
        <a class="button-on select-answer"><span class="l">Update Score</span><span class="r"></span></a>
        <p class="cancel-area cancel-modal"> or <a href="">Cancel</a></p>
            <div class="ajax-spinner"></div>
    