﻿@model AnswerListViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Shared;

<!--<h2>Select another answer</h2>-->
<a class="button-review" id="go-back" href="#">    <span class="l">Go Back</span>
    <span class="r"></span></a>
<a href="/reports/@ViewContext.RouteData.Values["id"]/answers/0/edit" class="add-answer button-review add-row">
    <span class="l">Add New</span>
    <span class="r"></span>
    <span class="plus"></span>
</a>
<div class="search" reportId="@ViewContext.RouteData.Values["id"]" factorTypeId="@Model.CurrentFactorTypeId">
    <label>Search: </label>
    <input type="text" id="search-answer" />
    <a class="button-review bulk-add search-answer">
        <span class="l">GO</span>
        <span class="r"></span>
    </a>
    <div class="clear"></div>
</div>
   <div id="pager" data-pagesize="@HttpContext.Current.Session["pageSize"]">
   <form>
        
        <a class="first"></a>
		<a class="prev"></a>

		<span class="pagedisplay"></span>

		<a class="next"></a>
        <a class="last"></a>

        <span class="answer-amount">@Model.Answers.Count Answers</span>
        @{
            int pageSize;
            if (HttpContext.Current.Session["pageSize"] != null)
            {
                pageSize = (int)HttpContext.Current.Session["pageSize"];
            }
            else
            {
                pageSize = 10;   
            }
         }
		<select class="pagesize">
			<option @(pageSize == 10 ? "selected='selected'" : "") value="10">10</option>
			<option @(pageSize == 20 ? "selected='selected'" : "") value="20">20</option>
			<option @(pageSize == 30 ? "selected='selected'" : "") value="30">30</option>
			<option @(pageSize == 40 ? "selected='selected'" : "")  value="40">40</option>
		</select>
        <span class="pagesize-text">Answers per page</span>
        <div class="clear"></div>
	</form>
   </div>
    <table id="answer-list" cellspacing="1" class="tablesorter">             
        <thead>
            <tr> 
                <th class="left-cap reference-id">ID</th> 
                <th class="factor">Factor</th>
                <th>Score</th> 
                <th class="justification">Justification</th> 
                <th class="right-cap">&nbsp;</th> 
            </tr> 
        </thead> 
        <tbody> 
        @foreach (FactorEntity factor in Model.Answers)
        {
            <tr> 
                <td class="left-cap"><a class="factor-id" factorId="@factor.Id">@factor.Label</a></td> 

                <td>@{
               var temp = Model.FactorTypes.Where(FactorType => factor.FactorTypeId == FactorType.Key).SingleOrDefault();
               if (temp != null)
               {
                        @(temp.Value)
               }
                    }</td>
                <td class="grey-score"><span class="score-grey">@factor.FactorScore</span>@factor.FactorScoreDescription</td>
                <td class="answer-info">
                   <div class="key-relevant-info">
                    <h4>Key Relevant Info:</h4>
                    <p>@Html.Raw(factor.KeyInfo)</p>
                   </div>
                   <div class="detail-rationale">
                       <h4>Detailed Rationale:</h4>
                       <p>@Html.Raw(factor.Rationale)</p>
                   </div>
                   <a>Show More</a>
                </td>
                <td class="right-cap five">
                    <a class="edit-row"  href="@Url.Action("Edit", "Answer", new { id = ViewContext.RouteData.Values["id"], answerId = factor.Id })"></a>
                    <a class="delete-row" href="@Url.Action("Delete", "Answer", new { id = ViewContext.RouteData.Values["id"], answerId = factor.Id })"></a>
                </td> 
            </tr> 
        }
            <!--<tr> 
                <td class="left-cap"><a>1.1-B</a></td> 
                <td>1.1</td> 
                <td><span class="score-grey">4</span>Unknown or risk of overfishing</td>
                <td class="answers-info">
                  <div class="key-relevant-info">
                    <h4>Key Relevant Info:</h4>
                    <p>I do not think anyone would be interested in catching this fish since it tastes truly disgusting and smells like Ron Jeremy.</p>
                  </div>
                  <div class="detail-rationale">
                     <h4>Detailed Rationale:</h4>
                     <p>This fish is so gross tasting that I would rather eat deep fried elephant poop than to eat this fish.</p>
                  </div>
                  <a>Show More</a>
                </td>
                <td class="right-cap">
                    <a class="edit-row"  href="/reports/1/answers/1/edit"></a>
                    <a class="delete-row"></a>
                </td> 
            </tr> -->
        </tbody> 
    </table>