﻿<div id="answer-modal" reportId="@ViewContext.RouteData.Values["id"]">
    <div class="clear"></div>
    <h2 id="modal-title"></h2>
    <ul class="tabs">
        <li class="on"><a><p>Details</p></a></li>
        <li><a><p>Comments <label id="count"></label></p></a></li>
        <div class="clear"></div>
    </ul>
    <div class="tab-rule"></div>
    <div class="details content on">
    </div>
    <div class="references">
        <h2>Attach References</h2>
        <div id="reference-container">
            @Html.Action("Search", "Reference", new { id = ViewContext.RouteData.Values["id"] }) 
        </div>
    </div>
    <div class="images">
        <h2>Attach Images</h2>
        <div id="image-container">
            @Html.Action("Search", "Image", new { id = ViewContext.RouteData.Values["id"]})
        </div>
    </div>
    <div class="comments content">
        
    </div>
</div>

<script type="text/html" id="risk-factor">
<div class="cell-wrapper">
    <ul class="risk-factor" factorId="<%= criteria.factorId %>" factorTypeId="<%= criteria.factorTypeId %>">
        <li>
            <span class="risk-number"><%= criteria.score %></span>
            <span class="risk-text"><%= criteria.scoreDescription %></span>
        </li>
        <li>
        <span class="risk-answer-ref"><%= criteria.label %></span>
        <%
        if (criteria.commentCount > 0) { %>
            <span class="risk-comment"><%= criteria.commentCount %>
            </span>
        <% } %>
        </li>
    </ul>
    <ul class="risk-factor-popup">
        <li class="popup-head">
            <%= criteria.label %>: <%= criteria.title %>
        </li>
        <li class="priority">
            <p>
                <span class="number"><%= criteria.score %></span> <span class="text"><%= criteria.scoreDescription %></span>
            </p>
        </li>
        <li class="key-info"><span>Key Relevant Info:</span>
            <p><%= criteria.keyInfo %></p>
        </li>
    </ul>
</div>
</script>