﻿@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@model CommentsViewModel
@{
    Layout = null;
}

@{
    if (TempData["Context"] == "Review")
    {
        if (Model.Comments.Where(x => x.UserId == Model.User.Id).Count() > 0)
        {
    <h1 class="comments-header">Comments</h1>   
        }
    }
}

<div class="comment" answerId="@ViewContext.RouteData.Values["answerId"]" reportId="@ViewContext.RouteData.Values["id"]" commentCount="@Model.Comments.Where(x => x.ParentFactorCommentId == 0 && !x.Reviewed).Count()">
    @if (Model != null)
    {
        for (int i = 0; i < Model.Comments.Count; )
        {
            var comment = Model.Comments.ElementAt(i);
            /*if (!Model.User.IsSFWStaff && comment.User.Id != Model.User.Id)
            {
                i++;
                continue;
            }*/
            var temp = i + 1; //look at the next element this increments automatically so the loop doesnt have to.
            var subComments = new List<FactorCommentEntity>();
            while (temp < Model.Comments.Count && Model.Comments.ElementAt(temp).ParentFactorCommentId == comment.FactorCommentId)
            {
                subComments.Add(Model.Comments.ElementAt(temp));
                temp++;
            }
            CommentViewModel model = new CommentViewModel()
            {
                User = Model.User,
                Comment = comment,
                SubComments = subComments
            };
            if (TempData["Context"] == "Review" && Model.User.Id != model.Comment.User.Id)
            {
                i = temp;
                continue; //reviewer side reviewers can only see their own comment
            }
        @Html.Partial("_Comment", model)
            i = temp;

        }
        /*foreach (FactorCommentEntity comment in Model.Comments)
        {
            CommentViewModel model = new CommentViewModel()
            {
                User = Model.User,
                Comment = comment
            };
            @Html.Partial("_Comment", model)
        }*/
    }



    <ul class="new-comment">
        <li class="edit-mode">
            <div class="comment-author">
                <h5>
                    <input type="checkbox" />
                    <p class="author-name">@Model.User.DisplayName</p>
                    <p class="comment-date">@DateTime.Now.ToString("MMMM dd, yyyy")</p>
                </h5>
            </div>
            <div class="comment-content">
                @using (Html.BeginForm("Index", "Comment", FormMethod.Post, new { enctype = "multipart/form-data", target = "upload_target" }))
                {
                    <input type="hidden" name="parentId" value="0" /><!--nested comment edit, no parents -->
                    <p>Enter your Comment:</p>
                    <textarea cols="50" rows="4" id="description" name="description"></textarea>
                    <div class="clear"></div>
         
                    <ul class="files">
                        <li class="add-new-file">
                            <input name="file" type="file" />
                        </li>
                    </ul>
                    <a class="attach">Attach files to this comment...</a>
                    <div class="clear"></div>
                    <a class="save-comment submit button-on"><span class="l">Save</span><span class="r"></span></a>
                    <p class="cancel-area">or <a>Cancel</a></p>
                }
            </div>
            <div class="clear"></div>
        </li>
    </ul>
    <div class="clear"></div>
    <a class="add-comment button-review">
        <span class="l">Post a New Comment</span>
        <span class="r"></span>
        <span class="comment-icon"></span>
    </a>
    <iframe id="upload_target" name="upload_target" src="/comment/blank" style="width: 0; height: 0; border: 0px solid #fff;"></iframe>
</div>

<script type="text/html" id="main-comment-view">
    <div class="comment-author">
        <h5>
            <span class="checkbox"></span>
            <input type="checkbox" class="styled" name="a">
            <p class="author-name">SWF Staff</p>
            <p class="comment-date">Feb. 4th 2012</p>
        </h5>
    </div>
    <div class="comment-content">
        <p>I found a fish in a lake full of fisherman. I took the fish out, and he is no longer in danger.</p>
        <ul class="files">
            <li class="word">
                <span></span>
                <a href="#">SupportDocumentation.doc</a>
            </li>
        </ul>
        <a class="edit-comment"></a>
    </div>
    <div class="clear"></div>

</script>

<script type="text/html" id="nested-comment-view">
    <p class="nested-comment-author">
        <span class="nested-comment-author-name">Annie Analyst</span>
        <span class="nested-comment-date">Feb. 4th 2012</span>
    </p>
    <div class="clear"></div>
    <p class="nested-comment-content">
        We have contacted the fish's attorney. She has submitted a plea bargain and the fish has been released on a $250,000 bail.
    </p>
</script>
