﻿@using MontereyBayAquarium.Swat.Web.Models.Shared;
@model CommentViewModel
@using ART;
@{
    Layout = null;
}
@{
    string commentClass = "";
    string checkedAttribute = "";
    string completedClass = "";
    string hasFile = "";
    if (Model.User != null)
    {
        if (Model.User.IsSFWStaff)
        {
            commentClass = "swat-comment";
        }
        else
        {
            commentClass = "reviewer-comment";
        }
    }
    if (Model.Comment.Reviewed)
    {
        checkedAttribute = "checked=\"checked\"";
        completedClass = "completed";
    }
}

<ul class="@commentClass comment-record @completedClass" commentId="@Model.Comment.FactorCommentId">
    <li class="view-mode">
        <div class="comment-author">
            <h5>
                <input class="checkbox" type="checkbox" name="a" class="styled" @(checkedAttribute) />
                <p class="author-name">@Model.Comment.User.DisplayName</p>
                <p class="comment-date">@Model.Comment.DateCreated.ToString("MMMM dd, yyyy")</p>
            </h5>
        </div>
        <div class="comment-content">
            <p>@Model.Comment.Comment</p>
            @if (Model.Comment.UserId == Model.User.Id)
            {
                <a class="edit-comment"></a>
            }
            <ul class="files">
                @if (Model.Comment.Path != null && Model.Comment.Path.Length > 0)
                {
                    <li class="word"><span></span><a target="_blank" href="/download?filename=@Model.Comment.Path">@Model.Comment.Path</a></li>
                }
            </ul>
        </div>
        <div class="clear"></div>
    </li>
    <li class="edit-mode">
        <div class="comment-author">
            <h5>
                <input type="checkbox" />
                <p class="author-name">@Model.Comment.User.DisplayName</p>
                <p class="comment-date">@Model.Comment.DateCreated.ToString("MMMM dd, yyyy")</p>
            </h5>
        </div>
        <div class="comment-content">
            @using (Html.BeginForm("Index", "Comment", FormMethod.Post, new { enctype = "multipart/form-data", target = "upload_target" }))
            {
                <input type="hidden" name="parentId" value="0" /><!--main comments, no parents -->
                <input type="hidden" class="fileModified" name="fileModified" value="0" />
                <input type="hidden" class="originalPath" name="originalPath" value="@if (Model.Comment.Path != null)
                                                                                     {@(Model.Comment.Path)}" />
                <p>Enter your Comment:</p>
                <textarea name="description" cols="50" rows="4">@Model.Comment.Comment</textarea>
                <div class="clear"></div>
         
                <ul class="files">
                    @if (Model.Comment.Path != null)
                    {
                        hasFile = "hasFile";
                        <li class="word"><span></span><a target='_blank' href="/download?filename=@Model.Comment.Path">@Model.Comment.Path</a><a class="remove">remove/replace</a></li>
                    }
                    <li class="add-new-file">
                        <!--main comment-->
                        <input name="file" type="file" />
                    </li>
                </ul>
                <a class="attach @(hasFile)">Attach files to this comment...</a>
                <div class="clear"></div>
                <a class="save-comment submit button-on"><span class="l">Save</span><span class="r"></span></a>
                <p class="cancel-edit-comment">or <a>Cancel</a></p>
            }
        </div>
        <div class="clear"></div>
    </li>
    <li class="comment-rule">
        <div></div>
    </li>
    <li class="nested-comment-container">
        <ul class="subcomments">
            @if (Model.SubComments != null)
            {
                foreach (var subComment in Model.SubComments)
                {
                <li commentid="@subComment.FactorCommentId">
                    <div class="nested-comment">
                        <p class="nested-comment-author">
                            <span class="nested-comment-author-name">@subComment.User.DisplayName</span>
                            <span class="nested-comment-date">@subComment.DateCreated.ToString("MMMM dd, yyyy")</span>
                        </p>
                        <div class="clear"></div>
                        <p class="nested-comment-content">
                            @subComment.Comment
                        </p>
                        @if (subComment.UserId == Model.User.Id)
                        {
                            <a class="edit-nested-comment"></a>
                        }
                        <!--ul class="files">
                @if (Model.Comment.Path != null)
                {
                    var name = Path.GetFileName(Model.Comment.Path);
                    <li class="word"><span></span><a href="@Model.Comment.Path">@(name)</a></li>
                }
             </ul-->
                    </div>
                    <div class="nested-comment-edit-mode">
                        <div class="comment-content">
                            @using (Html.BeginForm("Index", "Comment", FormMethod.Post, new { enctype = "multipart/form-data", target = "upload_target" }))
                            {
                                <input type="hidden" name="parentId" value="@Model.Comment.FactorCommentId" /><!--nested comment edit, no parents -->
                                <p>Enter your Comment:</p>
                                <textarea name="description" cols="50" rows="4"></textarea>
                                <div class="clear"></div>
                                <a class="save-edit-nested-comment submit button-on"><span class="l">Save</span><span class="r"></span></a>
                                <p class="cancel-edit-nested-comment">or <a>Cancel</a></p>
                            }
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                }
            }
            <li class="add-nested-comment">
                <a>Add Comment...</a>
            </li>
            <li class="new-nested-comment">
                <div class="nested-comment ">
                    <p class="nested-comment-author">
                        <span class="nested-comment-author-name">@Model.User.DisplayName</span>
                        <span class="nested-comment-date">@DateTime.Now.ToString("MMMM dd, yyyy")</span>
                    </p>
                    <div class="clear"></div>
                    <p class="nested-comment-content">
                    </p>
                    <a class="edit-nested-comment"></a>
                </div>
                <div class="nested-comment-edit-mode">
                    <div class="comment-content">
                        @using (Html.BeginForm("Index", "Comment", FormMethod.Post, new { enctype = "multipart/form-data", target = "upload_target" }))
                        {
                            <input type="hidden" name="parentId" value="@Model.Comment.FactorCommentId" /><!--nested comment edit -->
                            <p>Enter your Comment:</p>
                            <textarea name="description" cols="50" rows="4"></textarea>
                            <div class="clear"></div>
                            <a class="save-new-nested-comment submit button-on"><span class="l">Save</span><span class="r"></span></a>
                            <p class="cancel-add-nested-comment">or <a>Cancel</a></p>
                        }
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
    </li>
    <!--nested comment container -->
</ul>
<div class="clear"></div>
