﻿@model IList<Criteria3Entity>
@using ART;

<table class="stock-analysis criteria-33  criteria-content" cellspacing="0" cellpadding="0"
    border="0">
    <tr class="table-header">
        <td class="left-cap dark-bg">
            Region
        </td>
        <td class="dark-bg">
            Method
        </td>
        <td>
            Harvest Strategy
        </td>
        <td>
           Bycatch Strategy
        </td>
        <td class="right-cap">
            Score
        </td>
    </tr>
    @foreach (Criteria3Entity criteria in Model)
    {
        <tr class="table-body rec" id="@criteria.LocationId|@criteria.BodyOfWaterId|@criteria.MethodId">
            <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater
            </td>
            <td class="dark-bg">@criteria.Method
            </td>
            @if (criteria.Score1 != null)
            {
                <td class="no-popup right-cap score ">
                        <span class="risk-number">@criteria.Score1</span>
                    <span class=" risk-text">@criteria.Score1Description</span>
                </td>
            } else {
             <td class="no-popup">&nbsp;</td>   
            }
            @if (criteria.Score2 != null)
            {
                <td class="no-popup right-cap score ">
                        <span class="risk-number">@criteria.Score2</span>
                    <span class=" risk-text">@criteria.Score2Description</span>
                </td>
            }
            else
            {
                <td class="no-popup">&nbsp;</td>   
            }
            @if (criteria.Score != null) {
                <td class="right-cap score @(criteria.Color != null ? criteria.Color.ToLower() : "")">
                <div>
                    <span>@criteria.Score</span>
                </div>
            </td>
            }
            else
            {
                <td>&nbsp;</td>
            }
            
        </tr>
    }
</table>
