﻿@{
    Layout = null;
}
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@model IList<Criteria2Display>
@foreach (Criteria2Display criteria in Model)
{
    var speciesShown = 0;
    <div class="region-container">
        <h1>@criteria.LimitingStock.TargetCommonName - @criteria.LimitingStock.Location / @criteria.LimitingStock.BodyOfWater - @criteria.LimitingStock.Method</h1>
        <div class="scores-container">
            <ul>
                <li>Subscore: <span class="score">@criteria.LimitingStock.HeaderSubScore</span></li>
                <li>Discards+Bait / Landings: <span class="score">@criteria.LimitingStock.HeaderDiscardRate</span></li>
                @if (criteria.LimitingStock.HeaderScoreColor != null)
                {
                    <li>C2 Score: <span class="score @criteria.LimitingStock.HeaderScoreColor.ToLower()">@criteria.LimitingStock.HeaderScore</span></li>
                }
                else
                {
                    <li>C2 Score: <span class="score">@criteria.LimitingStock.HeaderScore</span></li>
                }
            </ul>
        </div>

        <div class="table-header">
            <div class="specie">Species</div>
            <div>Inherent Vulnerability</div>
            <div>Stock Status</div>
            <div>Fishing Mortality</div>
            <div class="subscore">Subscore</div>
        </div>
        @if (criteria.LimitingStock.TargetCommonName != criteria.LimitingStock.CommonName)
        {
            speciesShown++;
            <div class="table-row">
                <div class="specie">@criteria.LimitingStock.CommonName</div>
                <div>
                    @if (criteria.LimitingStock.Factor1.FactorScore != "")
                    {
                        <span class="risk-number">@criteria.LimitingStock.Factor1.FactorScore</span>
                        <span class=" risk-text">@criteria.LimitingStock.Factor1.FactorScoreDescription</span>
                    }
                </div>
                <div>
                    @if (criteria.LimitingStock.Factor2.FactorScore != "")
                    {
                        <span class="risk-number">@criteria.LimitingStock.Factor2.FactorScore</span>
                        <span class=" risk-text">@criteria.LimitingStock.Factor2.FactorScoreDescription</span>
                    }
                </div>
                <div>
                    @if (criteria.LimitingStock.Factor3.FactorScore != "")
                    {
                        <span class="risk-number">@criteria.LimitingStock.Factor3.FactorScore</span>
                        <span class=" risk-text">@criteria.LimitingStock.Factor3.FactorScoreDescription</span>
                    }
                </div>
                <div class="subscore">
                    @criteria.LimitingStock.SubScore
                </div>
            </div>
        }
        @{foreach (Criteria2Entity criteria2 in criteria.OtherStock)
          {
              if (criteria.LimitingStock.TargetCommonName.Trim() == criteria2.CommonName.Trim())
              {
                  continue;
              }
              speciesShown++;
            <div class="table-row">
                <div class="specie">@criteria2.CommonName</div>
                <div>
                    @if (criteria2.Factor1.FactorScore != "")
                    {
                        <span class="risk-number">@criteria2.Factor1.FactorScore</span>
                        <span class=" risk-text">@criteria2.Factor1.FactorScoreDescription</span>
                    }
                </div>
                <div>
                    @if (criteria2.Factor2.FactorScore != "")
                    {
                        <span class="risk-number">@criteria2.Factor2.FactorScore</span>
                        <span class=" risk-text">@criteria2.Factor2.FactorScoreDescription</span>
                    }
                </div>
                <div>
                    @if (criteria2.Factor3.FactorScore != "")
                    {
                        <span class="risk-number">@criteria2.Factor3.FactorScore</span>
                        <span class=" risk-text">@criteria2.Factor3.FactorScoreDescription</span>
                    }
                </div>
                <div class="subscore">
                    @criteria2.SubScore
                </div>
            </div>
          }
          if (speciesShown == 0)
          {
            <div class="table-row">
                <div class="specie none">No other main species caught</div>
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div class="subscore">
                </div>
            </div>
          }
        }
    </div>
}