﻿@model MontereyBayAquarium.Swat.Web.Models.Answer.EditAnswerViewModel
@using ART;

@if (Model.Factor.FactorTypeId != 0)
{
<h2 class="answer-header">Answer: @Model.Factor.Label</h2>
}
else
{
    <h2 class="answer-header">Create a new answer</h2>
}

<!--div class="tab-rule"></div-->
<a class="select-different-answer">
    <span></span>
    Select a different answer
</a>

<form method="post" action="" class="details @{if(Model.Factor.FactorTypeId == 0) { @:new  
 }}" id="reference-form" style="display: block">
    <div id="factor-instruction-container">
        @Html.Action("FactorInstruction", "Analysis", new { title = "Help", factorTypeId = Model.Factor.FactorTypeId })
    </div>
    <ul>
        <li class="hide">
            <label class="field-name-text">Answer Name:</label>
            <input value="@Model.Factor.Title" title=""  class="required" id="title" name="title" />
        </li>
        <li class="hide">
            <label class="field-name-text">Factor:</label>
            <select id="factor" name="factorTypeId" class="required" @(Model.FactorTypes.Count == 1 ? "disabled='disabled'" : "")>
              <option value="Select One">Select One</option>
              @foreach (RowsourceEntity factorType in Model.FactorTypes)
              {
                if (factorType != null)
                {
                    <option value="@factorType.Key" @(Model.FactorTypes.Count == 1 || factorType.Key == Model.Factor.FactorTypeId ? "selected='selected'" : "")>@factorType.Value</option>
                }
              }
            </select>
            @{
                if(Model.FactorTypes.Count == 1){
                    <input type="hidden" name="factorTypeId" value="@Model.Factor.FactorTypeId" />   
                }
            }
        </li>
        <li>
            <label class="field-name-text">Score:</label>
            <select id="score" name="scoreid" class="required">
            @if (Model.Scores == null)
            {
              <option value="0" selected="">Select One</option>
            }
              @if (Model.Scores != null)
              {
                  foreach (RowsourceEntity score in Model.Scores)
                  {
                  <option value="@score.Key" @(score.Value ==  Model.Factor.FactorScoreDescription ? "selected='selected'" : "")>@score.Value</option>
                  }
              }
              <!--<option value="1 - Low">1 - Low</option>
              <option value="2 - Medium">2 - Medium</option>
              <option value="3 - High">3 - High</option>-->
            </select>
        </li>
        <li>
            <label class="field-name-text full-line">Key Relevant Info: <span>(We recommend a maximum of 800 characters)</span></label>
            <div class="clear"></div>
            <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span><span class="document-insert-icon"></span></a>
            <div class="clear"></div>
            <textarea class="mceEditor" id="keyInfo" name="keyInfo">@Model.Factor.KeyInfo</textarea>
        </li>
        <li>
            <label class="field-name-text full-line">Detailed Rationale: <span> (Optional)</span></label>
            <div class="clear"></div>
            <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span><span class="document-insert-icon"></span></a>
            <a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
            <div class="clear"></div>
            <textarea class="mceFullEditor" id="rationale" name="rationale">@Model.Factor.Rationale</textarea>
        </li>
        <li><a class="save-area submit button-on"><span class="l">Save</span><span class="r"></span></a><span class="cancel-area cancel-modal"> or <a href="@Url.Action("Index", "Answer", new { id = ViewContext.RouteData.Values["id"] })">Cancel</a></span></li>
        <li>&nbsp;</li>
        </ul>
</form>

<div class="clear"></div>
<div id="validation-modal">
    <p class="active">Please select a score.</p>
</div> 
