﻿@model  IList<ImageEntity>
@using ART;
@{
    Layout = null;
}
    @if (ViewBag.Context == "Modal")
    {
        <p>Note that images are simply denoted as {Image name} until rendered in the final report</p>
    }
<div class="search" reportId="@ViewContext.RouteData.Values["id"]">
    <label>Search: </label>
    <input type="text" id="search-image" name="keywords" />
    <a class="button-review bulk-add search-image">
        <span class="l">GO</span>
        <span class="r"></span>
    </a>
    @if (ViewBag.Context == "Modal")
    {
        <a class="button-review go-back-button cancel-add-image">
            <span class="l">Go Back</span>
            <span class="r"></span>
        </a>
    }
    <div class="clear"></div>
</div>
   <div id="pager" data-pagesize="@HttpContext.Current.Session["pageSize"]">
   <form>
        
        <a class="first"></a>
		<a class="prev"></a>

		<span class="pagedisplay"></span>

		<a class="next"></a>
        <a class="last"></a>

        <span class="answer-amount">@Model.Count Images</span>
        @{
            int pageSize;
            if (HttpContext.Current.Session["pageSize"] != null)
            {
                pageSize = (int)HttpContext.Current.Session["pageSize"];
            }
            else
            {
                pageSize = 10;   
            }
         }
		<select class="pagesize">
			<option @(pageSize == 10 ? "selected='selected'" : "") value="10">10</option>
			<option @(pageSize == 20 ? "selected='selected'" : "") value="20">20</option>
			<option @(pageSize == 30 ? "selected='selected'": "") value="30">30</option>
			<option @(pageSize == 40 ? "selected='selected'": "")  value="40">40</option>
		</select>
        <span class="pagesize-text">Images per page</span>
        <div class="clear"></div>
	</form>
   </div>
    <table cellspacing="1" class="tablesorter">             
        <thead>
            <tr> 
                @if (ViewBag.Context == "Modal")
                {
                    <th class="left-cap"></th>
                    <th class="">Thumbnail</th> 
                }
                else
                {
                    <th class="left-cap ">Thumbnail</th>
                }
                <th class="author">Image Name</th> 
                <th class="short-name">Caption</th> 
                <th class="right-cap">&nbsp;</th> 
            </tr> 
        </thead> 
        <tbody> 
        @foreach (ImageEntity image in Model)
        {
            <tr data-image-id="@image.ImageId"> 
                 @if (ViewBag.Context == "Modal")
                 {
                    <td class="left-cap"><input type="checkbox"/></td>
                    <td class="year"><img src="/ConstrainImage.ashx?imgUrl=@(image.Path)&mw=75&mh=75" /></td> 
                 }
                 else
                 {
                    <td class="left-cap year"><img src="/ConstrainImage.ashx?imgUrl=@(image.Path)&mw=75&mh=75" /></td>
                 }
                <td>@image.Name</td>
                <td>@Html.Raw(image.Description)</td>
                <td class="right-cap five">
                    <a class="edit-row" href="@Url.Action("Edit", "Image", new { imageId = image.ImageId, id = ViewContext.RouteData.Values["id"] })"></a>
                    <a class="delete-row" href="@Url.Action("Delete", "Image", new { imageId = image.ImageId, id = ViewContext.RouteData.Values["id"] })"></a>
                </td> 
            </tr> 
        }
        </tbody> 
    </table>
    @if (ViewBag.Context == "Modal")
    {
        <a class="button-review" id="insert-image"><span class="l">Insert Image</span><span class="r"></span><span class="document-insert-icon"></span></a>
        <span class="cancel-add-image"> or <a href="">Cancel</a></span>
    }