﻿@using MontereyBayAquarium.Swat.Web

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic|Cabin+Condensed:400,700|Questrial' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic|Questrial' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.7.2.css")"  rel="Stylesheet" type="text/css"/>

    <link href="@Url.Content("~/Content/Site.less")" rel='stylesheet' type='text/css' />


    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
</head>
<body>
    <div class="main-header">
        <div class="public-wrapper">
            <a class="logo"></a>
            <ul class="nav">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/help" target="_blank">Help</a>
                </li>
                <li>
                    @Html.ActionLink("Logout", "Logout", "Home")
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="footer">
        <ul>
            <li>The Monterey Bay Aquarium Seafood Watch program helps consumers and businesses make choices for healthy oceans.</li>
            <li>
                <div class="social">
                    <a class="facebook" href="http://www.facebook.com/seafoodwatch" target="_blank"></a>
                    <a class="email" href="http://www.montereybayaquarium.org/newslettermgmt/web/SubscriptionDetails.aspx?k=sn&e=Enter%20E-mail%20Address" target="_blank"></a>
                    <a class="twitter" href="http://www.twitter.com/seafoodwatch" target="_blank"></a>
                </div>
                <div class="clear"></div>
            </li>
            <li class="copyright">1999-2012, Monterey Bay Aquarium Foundations, 866 Cannery Row, Monterey, CA 93940 Tel: (831) 648-4800</li>
        </ul>
    </div>
    <script>
        require(["views/shared/authenticationTimeout"]);
    </script>
    <div id="timeout-modal" title="You have been inactive for a week.">
        <p>For your security, you will be signed off in 15 minutes.</p>
        <p>Select Continue to remain signed on or select Sign Out to end your session now.</p>
        <a class="button-review" id="resetTimeout" href="#"><span class="l">Continue</span><span class="r"></span></a>
        <a class="button-review" id="signUserOut" href="#"><span class="l">Sign Out</span><span class="r"></span></a>
    </div>
</body>
</html>
