﻿@using MontereyBayAquarium.Swat.Web

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic|Cabin+Condensed:400,700|Questrial' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic|Questrial' rel='stylesheet' type='text/css'>
    
    @*Url.LessCss("~/Scripts/libs/less-1.3.0.min.js", "~/Content/Site.less.css")*@

    <link href="@Url.Content("~/Content/Site.less")" rel='stylesheet' type='text/css' />


    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
</head>

<body>
    
    <div class="main-header">
        <div class="public-wrapper">
            <a href="/" class="logo"></a>
            <ul class="nav">
                <li>
                    <a href="/home/login">Reviewer/Analyst login</a>
                </li>
                <li>
                    <a href="http://www.montereybayaquarium.org/cr/seafoodwatch.aspx">Seafood Watch Website</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>

    @RenderBody()

    <div class="clear"></div>

    <div class="footer">
        <ul>
            <li>The Monterey Bay Aquarium Seafood Watch program helps consumers and businesses make choices for healthy oceans.</li>
            <li>
                <div class="social">
                    <a class="facebook" href="http://www.facebook.com/seafoodwatch" target="_blank"></a>
                    <a class="email" href="http://www.montereybayaquarium.org/newslettermgmt/web/SubscriptionDetails.aspx?k=sn&e=Enter%20E-mail%20Address" target="_blank"></a>
                    <a class="twitter" href="http://www.twitter.com/seafoodwatch" target="_blank"></a>
                </div>
                <div class="clear"></div>
            </li>
            <li class="copyright">1999-2012, Monterey Bay Aquarium Foundations, 866 Cannery Row, Monterey, CA 93940 Tel: (831) 648-4800</li>
        </ul>
    </div>

</body>
</html>
