﻿@model MontereyBayAquarium.Swat.Web.Models.References.ReferencesViewModel
@using ART;
@{
    Layout = null;
}
    @if (ViewBag.Context == "Modal")
    {
        <p>Note that references are displayed as {Scottsfield 2012} until rendered in the final report</p>
    }
<div class="search" reportId="@ViewContext.RouteData.Values["id"]">
    <label>Search: </label>
    <input type="text" id="search-reference" name="keywords" />
    <a class="button-review bulk-add search-reference">
        <span class="l">GO</span>
        <span class="r"></span>
    </a>
    @if (ViewBag.Context == "Modal")
    {
        <a class="button-review go-back-button cancel-add-reference">
            <span class="l">Go Back</span>
            <span class="r"></span>
        </a>
    }
    <div class="clear"></div>
</div>
   <div id="pager" data-pagesize="@HttpContext.Current.Session["pageSize"]">
   <form>
        
        <a class="first"></a>
		<a class="prev"></a>

		<span class="pagedisplay"></span>

		<a class="next"></a>
        <a class="last"></a>

        <span class="answer-amount">@Model.References.Count References</span>
        @{
            int pageSize;
            if (HttpContext.Current.Session["pageSize"] != null)
            {
                pageSize = (int)HttpContext.Current.Session["pageSize"];
            }
            else
            {
                pageSize = 10;   
            }
         }
		<select class="pagesize">
			<option @(pageSize == 10 ? "selected='selected'" : "") value="10">10</option>
			<option @(pageSize == 20 ? "selected='selected'" : "") value="20">20</option>
			<option @(pageSize == 30 ? "selected='selected'": "") value="30">30</option>
			<option @(pageSize == 40 ? "selected='selected'": "")  value="40">40</option>
		</select>
        <span class="pagesize-text">References per page</span>
        <div class="clear"></div>
	</form>
   </div>
    <table cellspacing="1" class="tablesorter">             
        <thead>
            <tr> 
                @if (ViewBag.Context == "Modal")
                {
                    <th class="left-cap"></th>
                    <th class="year">Year</th> 
                }
                else
                {
                    <th class="left-cap year">Year</th>
                }
                <th class="author">Author</th> 
                <th class="short-name">Shortname</th> 
                <th>Bibliography</th> 
                <th class="right-cap">&nbsp;</th> 
            </tr> 
        </thead> 
        <tbody> 
        @foreach (ReferenceEntity reference in Model.References)
        {
            <tr> 
                 @if (ViewBag.Context == "Modal")
                 {
                    <td class="left-cap"><input type="checkbox"/></td>
                    <td class="year">@reference.Year</td> 
                 }
                 else
                 {
                    <td class="left-cap year">@reference.Year</td>
                 }
                <td>@reference.Authors</td>
                <td>@reference.ShortName</td>
                <td>@reference.Bibliography</td> 
                <td class="right-cap five">
                    <a class="edit-row" href="/reports/@ViewContext.RouteData.Values["id"]/references/@reference.ReferenceId/edit"></a>
                    <a class="delete-row" href="/reports/@ViewContext.RouteData.Values["id"]/references/@reference.ReferenceId/delete"></a>
                </td> 
            </tr> 
        }
        </tbody> 
    </table>
    @if (ViewBag.Context == "Modal")
    {
        <a class="button-review" id="insert-reference"><span class="l">Insert Reference</span><span class="r"></span><span class="document-insert-icon"></span></a>
        <span class="cancel-add-reference"> or <a href="">Cancel</a></span>
    }