﻿@{
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

 <div class="review-layout">
        
        <div class="review-wrapper">
            <div class="submit-button-container">
                <a class="button-review review-complete" href="@Url.Action("CompleteReview", "Dashboard", new { id = @ViewContext.RouteData.Values["id"]})"><span class="l">Submit Review to Seafood Watch</span><span class="r"></span></a>
            </div>
            @Html.Action("AnalysisHeader", "Analysis")

            <div class="tabbed-wrapper">
                <ul class="tabs">
                    <li><a href="/reports/@ViewContext.RouteData.Values["id"]/review/executive-summary"><span>Executive Summary</span></a></li>
                    <li><a href="/reports/@ViewContext.RouteData.Values["id"]/review/introduction"><span>Introduction</span></a></li>
                    <li><a href="/reports/@ViewContext.RouteData.Values["id"]/review/criteria1"><span>Assessment</span></a></li>
                    <li ><a href="/reports/@ViewContext.RouteData.Values["id"]/review/final-recommendation" ><span class="double-line">Draft<br />Recommendations</span></a></li>
                    @*<li><a href="/reports/@ViewContext.RouteData.Values["id"]/review/overall-recommendation"><span class="double-line">Final Recommendation</span></a></li>*@
                    <li><a href="/reports/@ViewContext.RouteData.Values["id"]/review/references"><span>References</span></a></li>
                    <li><a href="/reports/@ViewContext.RouteData.Values["id"]/review/appendix"><span>Appendix</span></a></li>
                </ul>
                <div class="clear"></div>
                <div class="tabbed-content">
                    <div class="top">
                    </div>
                    <div class="middle">
                        @RenderBody()
                    </div>
                    <div class="bottom">
                    </div>
                </div>
            </div>

        </div>

    </div>



