﻿               <li>
                    <div class="nested-comment">
                        <p class="nested-comment-author">
                            <span class="nested-comment-author-name">Annie Analyst</span>
                            <span class="nested-comment-date">Feb. 4th 2012</span>
                        </p>
                        <div class="clear"></div>
                        <p class="nested-comment-content">
                            This is good news. It will be nice to see the fish back in the ocean and free of all charges.
                        </p>
                    </div>
                </li>