﻿@model ReportEntity
@using ART;
@{
    Layout = null;
}
<h2>@Model.Title</h2> 

@if (ViewBag.IsSFWStaff)
{
    <select id="report-status-select" reportid="@Model.Id">
        <option value="1" @(Model.ReportStatus == "In Progress" ? "selected=selected" : "")>In Progress</option>
        <option value="3" @(Model.ReportStatus == "Internal Review 1" ? "selected=selected" : "")>Internal Review 1</option>
        <option value="4" @(Model.ReportStatus == "External Peer Review" ? "selected=selected" : "")>External Peer Review</option>
        <option value="5" @(Model.ReportStatus == "Internal Review 2" ? "selected=selected" : "")>Internal Review 2</option>
        <option value="6" @(Model.ReportStatus == "Finalization" ? "selected=selected" : "")>Finalization</option>
        <option value="7" @(Model.ReportStatus == "Complete" ? "selected=selected" : "")>Complete</option>
    </select>
}
else
{
<a class="status @Model.ReportStatus.ToLowerInvariant().Replace(" ", "-")"><span>@Model.ReportStatus</span></a>
}