﻿@model String

<ul class="sub-tabs">

    <li class="@(Model.Equals("criteria1") ? "on" : "")">
        <a href="criteria1">Criterion 1</a>
        <span></span>
    </li>
    <li class="@(Model.Equals("criteria2") ? "on" : "")">
        <a href="criteria2">Criterion 2</a>
        <span></span>
    </li>
    <li class="@(Model.Equals("criteria3") ? "on" : "")">
        <a href="criteria3">Criterion 3</a>
        <span></span>
    </li>
    <li class="@(Model.Equals("criteria4") ? "on" : "")">
        <a href="criteria4">Criterion 4</a>
        <span></span>
    </li>
</ul>