﻿@model IList<Criteria21Entity>
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@using MontereyBayAquarium.Swat.Web;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{
    Layout = "";
}

@{
    if (Model.Count > 0)
    {
        var curSpecies = "";
        foreach (Criteria21Entity criteria in Model)
        {
            if (curSpecies != criteria.CommonName)
            {
                curSpecies = criteria.CommonName;
                if (curSpecies != "") { Html.Raw("</table>"); }
                @Html.Raw("<table class=\"stock-analysis\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">")
    <tr class="click-to-collapse">
        <th class="left-cap" colspan="5"><span></span>@curSpecies</th>
        <th class="right-cap"></th>
    </tr>
    <tr class="table-header collapse">
        <td class="left-cap dark-bg">Region</td>
        <td class="dark-bg">Gear Type</td>
        <td>Inherent Vulnerability</td>
        <td>Stock Status</td>
        <td>Fishing Mortality</td>
        <td class="right-cap">Score</td>
    </tr>
            }
    <tr class="collapse table-body rec" id="@criteria.RecId">
        <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater</td>
        <td class="dark-bg">@criteria.Method</td>
        <td>
            <div class="cell-wrapper">
                @{
            AnswerCellViewModel model = Helpers.MakeAnswerCellViewModel(criteria.Factor1, 1, "Inherent Vulnerability",
                    criteria.CommonName, criteria.Location, criteria.BodyOfWater, criteria.Method);
                }
                @Html.Partial("_AnswerCell", model)
            </div>
        </td>
        <td>
            <div class="cell-wrapper">
            @{
            model = Helpers.MakeAnswerCellViewModel(criteria.Factor2, 2, "Stock Status",
                criteria.CommonName, criteria.Location, criteria.BodyOfWater, criteria.Method);
            }
            @Html.Partial("_AnswerCell", model)
            </div>
        </td>
        <td>
        <div class="cell-wrapper">
            @{
            model = Helpers.MakeAnswerCellViewModel(criteria.Factor3, 3, "Fishing Mortality",
                criteria.CommonName, criteria.Location, criteria.BodyOfWater, criteria.Method);
            }
            @Html.Partial("_AnswerCell", model)
            </div>
        </td>
        <td class="right-cap score @(criteria.Color != null ? criteria.Color.ToLower() : "")">
                @if (@criteria.Score != null){
            <div>
                <span>@criteria.Score</span>
            </div>
                    }
        </td>
    </tr>
        }
    }
}
</table>
