﻿@model Criteria2ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@using MontereyBayAquarium.Swat.Web;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{
    Layout = "";
}
<ul class="criteria-tabs">
    <li class="on"><span></span>Population Impacts (C2.1-C2.3)</li>
    <li><span></span>Discards+Bait / Landings (C2.4) </li>
    <li class="right-tab"><span></span>Criterion 2 Summary </li>
</ul>
<div class="criteria-content on">
        <div class="clear"></div>
        <a class="button-review grey expand-all"><span class="l">Expand All</span><span class="r"></span></a>
        <a class="button-review grey collapse-all"><span class="l">Collapse All</span><span class="r"></span></a>
        <div class="clear"></div>
            @Html.Partial("_Criteria21", Model.Criteria21)
</div>
<div class="criteria-content">
           @Html.Partial("_Criteria24", Model.Criteria24)
</div>
<div class="criteria-content">
           @Html.Partial("_Criteria2Summary", Model.Criteria)
           <div class="clear"></div>
        @using (Html.BeginForm("SaveSynthesis", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "criteria2Form", @class = "synthesis" }))
        {
            @Html.Hidden("criteriaId", "2")
            @Html.Hidden("nextAction", "Criteria2");
            <h3>Synthesis: <span>(Optional)</span></h3>
            <textarea class="mceFullEditor" id="synthesis" name="synthesis">@Model.Synthesis</textarea>
        }
</div>
