﻿@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@using MontereyBayAquarium.Swat.Web;
@using ART;
@model IList<Criteria24Entity>
@{
    Layout = null;
}


@{
    if (Model.Count > 0)
    {
    <div class="discard-rate-table">
    <div class="table-header">
        <h1 class="region">Region</h1>
        <h1 class="method">Method</h1>
        <h1 class="discard">Discards+Bait / Landings</h1>
    </div>
        @{
            string temp = "";
            string method = "";
          }
        @foreach (Criteria24Entity criteria in Model)
        {
            if (temp == criteria.Location + " / " + criteria.BodyOfWater && method == criteria.Method )
            {
                continue;
            }
            else
            {
                temp = criteria.Location + " / " + criteria.BodyOfWater;
                method = criteria.Method;
            }
    <div class="rec" id="@criteria.LocationId|@criteria.BodyOfWaterId|@criteria.MethodId">
       <h2 class="region">@temp</h2>
       <h2 class="method">@criteria.Method</h2>
       <div class="discard-rate-container">

            @{
           var answerCellModel = Helpers.MakeAnswerCellViewModel(criteria.Factor4, 4, "Discard Rate/Landings",
            criteria.Location + " : " + criteria.BodyOfWater , criteria.Location, criteria.BodyOfWater, criteria.Method);
            }
            @Html.Partial("_AnswerCell", answerCellModel)

        </div>
    </div>
        }
    </div>
}
}