﻿@model IList<Criteria4Entity>
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@using MontereyBayAquarium.Swat.Web;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{
    Layout = null;
}
         <table class="stock-analysis" cellspacing="0" cellpadding="0" border="0">
            <tr class="table-header">
                <td class="left-cap dark-bg">Region</td>
                <td class="dark-bg">Gear Type</td>
                <td>Fishing Gear on the Substrate</td>
                <td>Mitigation of Gear Impacts</td>
                <td>EBFM</td>
                <td class="right-cap">Score</td>
            </tr>
            @foreach (Criteria4Entity criteria in Model)
            {
            <tr class="table-body rec" id="@criteria.LocationId|@criteria.BodyOfWaterId|@criteria.MethodId">
                <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater</td>
                <td class="dark-bg">@criteria.Method</td>
                <td>
                @{
                AnswerCellViewModel model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                    criteria.Factor1Label, criteria.Factor1CommentCount, criteria.Factor1Title, criteria.Factor1KeyInfo, 7, "Gear Type and Substrate",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                }
                @Html.Partial("_AnswerCell", model)
                </td>
                <td>
                @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor2Id, criteria.Factor2Score, criteria.Factor2ScoreDescription,
                    criteria.Factor2Label, criteria.Factor2CommentCount, criteria.Factor2Title, criteria.Factor2KeyInfo, 8, "Mitigation of Gear Impacts",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                }
                @Html.Partial("_AnswerCell", model)
                </td>
                <td>
                @{
                model = Helpers.MakeAnswerCellViewModel(criteria.Factor3Id, criteria.Factor3Score, criteria.Factor3ScoreDescription,
                    criteria.Factor3Label, criteria.Factor3CommentCount, criteria.Factor3Title, criteria.Factor3KeyInfo, 9, "EBFM",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                }
                @Html.Partial("_AnswerCell", model)
                </td>
                <td class="right-cap score @(criteria.Color != null ? criteria.Color.ToLower() : "")">
                        @if (@criteria.Score != null)
                        {
                    <div>
                        <span>@criteria.Score</span>
                    </div>
                        }
                </td>
            </tr>
            }

        </table>