﻿@model MontereyBayAquarium.Swat.Web.Models.Analysis.GuidingPrincipleViewModel
@using ART;
@{
    Layout = null;
}
        <div class="guiding-principles">
            <a class="button-review"><span class="information"></span>@Model.Title</a>
            <div class="clear"></div>
            <div class="information-box">
                <h3>@Model.Title</h3><a class="hide-information-box top-hide">Hide</a>
                    @{ARTService service = new ARTService();}
                    @(Html.Raw(service.GetHelp(Model.Key)))
                <a class="hide-information-box">Hide @Model.Title</a>
            </div>
        </div>

