﻿@model MontereyBayAquarium.Swat.Web.Models.Analysis.Criteria3Display
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@using MontereyBayAquarium.Swat.Web;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{ AnswerCellViewModel model = null; }
<ul class="criteria-tabs">
    <li class="on">Harvest Strategy</li>
    <li>Bycatch Strategy</li>
    <li class="right-tab">Summary </li>
</ul>
<div class="criteria-scroll criteria-content" style="display: block">
    <table class="stock-analysis criteria-31" cellspacing="0" cellpadding="0" border="0">
        <tr class="table-header">
            <td class="left-cap dark-bg header-color">
                Region
            </td>
            <td class="dark-bg header-color">
                Gear Type
            </td>
            <td>
                Critical?
            </td>
            <td class="fixed-size">
                Strategy
            </td>
            <td class="fixed-size">
                Recovery
            </td>
            <td class="fixed-size">
                Research
            </td>
            <td class="fixed-size">
                Advice
            </td>
            <td class="fixed-size">
                Enforce
            </td>
            <td class="fixed-size">
                Track
            </td>
            <td class="fixed-size">
                Inclusion
            </td>

        </tr>        
        @foreach (Criteria31Entity criteria in Model.Criteria31)
        {
            
            <tr class="table-body rec" id="@criteria.LocationId|@criteria.BodyOfWaterId|@criteria.MethodId">
                <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater
                </td>
                <td class="dark-bg">@criteria.Method
                </td>
                @if (criteria.Factor1ScoreDescription == "Yes")
                {
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                        criteria.Factor1.FactorLabel, criteria.Factor1.FactorCommentCount, criteria.Factor1.FactorTitle, criteria.Factor1.FactorKeyInfo, 10, "Critical?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method); //this is not correct, placeholder til the backend gets updated
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                }
                else
                {
                    <td>
                                                @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                        criteria.Factor1.FactorLabel, criteria.Factor1.FactorCommentCount, criteria.Factor1.FactorTitle, criteria.Factor1.FactorKeyInfo, 10, "Critical?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method); //this is not correct, placeholder til the backend gets updated
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>

                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor2Id, criteria.Factor2Score, criteria.Factor2ScoreDescription,
                        criteria.Factor2Label, criteria.Factor2CommentCount, criteria.Factor2Title, criteria.Factor2KeyInfo, 11, "Mgmt Strategy / Implement",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor3Id, criteria.Factor3Score, criteria.Factor3ScoreDescription,
                        criteria.Factor3Label, criteria.Factor3CommentCount, criteria.Factor3Title, criteria.Factor3KeyInfo, 12, "Recovery of Stock Concerns",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor4Id, criteria.Factor4Score, criteria.Factor4ScoreDescription,
                        criteria.Factor4Label, criteria.Factor4CommentCount, criteria.Factor4Title, criteria.Factor4KeyInfo, 13, "Scientific Research / Monitoring",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor5Id, criteria.Factor5Score, criteria.Factor5ScoreDescription,
                        criteria.Factor5Label, criteria.Factor5CommentCount, criteria.Factor5Title, criteria.Factor5KeyInfo, 14, "Scientific Advice",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor6Id, criteria.Factor6Score, criteria.Factor6ScoreDescription,
                        criteria.Factor6Label, criteria.Factor6CommentCount, criteria.Factor6Title, criteria.Factor6KeyInfo, 15, "Enforce",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor7Id, criteria.Factor7Score, criteria.Factor7ScoreDescription,
                        criteria.Factor7Label, criteria.Factor7CommentCount, criteria.Factor7Title, criteria.Factor7KeyInfo, 16, "Track Record",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor8Id, criteria.Factor8Score, criteria.Factor8ScoreDescription,
                        criteria.Factor8Label, criteria.Factor8CommentCount, criteria.Factor8Title, criteria.Factor8KeyInfo, 17, "Stakeholder Inclusion",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                }

            </tr>
        }
    </table>
</div>
<div class="criteria-scroll criteria-content">
    <table class="stock-analysis criteria-32" cellspacing="0" cellpadding="0" border="0">
        <tr class="table-header">
            <td class="left-cap dark-bg header-color">
                Region
            </td>
            <td class="dark-bg header-color">
                Method
            </td>
            <td class="all-retained">
                All Kept?
            </td>
            <td class="critical">
                Critical?
            </td>
            <td class="fixed-size">
                Strategy
            </td>
            <td class="fixed-size">
                Research
            </td>
            <td class="fixed-size">
                Advice
            </td>
            <td class="fixed-size">
                Enforce
            </td>
        </tr>
        @foreach (Criteria32Entity criteria in Model.Criteria32)
        {
            <tr class="table-body rec" id="@criteria.LocationId|@criteria.BodyOfWaterId|@criteria.MethodId">
                <td class="left-cap dark-bg">@criteria.Location / @criteria.BodyOfWater
                </td>
                <td class="dark-bg">@criteria.Method
                </td>
                @if (criteria.Factor1ScoreDescription == "Yes")
                {
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                        criteria.Factor1Label, criteria.Factor1CommentCount, criteria.Factor1Title, "", 18, "All Species Retained?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes all-retained">
                        All Species Retained
                    </td>
                }
                else if (criteria.Factor1ScoreDescription == "No" && criteria.Factor2ScoreDescription == "Yes")
                {
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                        criteria.Factor1Label, criteria.Factor1CommentCount, criteria.Factor1Title, "", 18, "All Species Retained?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor2Id, criteria.Factor2Score, criteria.Factor2ScoreDescription,
                        criteria.Factor2Label, criteria.Factor2CommentCount, criteria.Factor2Title, "", 19, "Critical?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="if-yes">
                    </td>
                    <td class="right-cap score black">
                        <span>CRITICAL</span>
                    </td>
                }
                else
                {
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor1Id, criteria.Factor1Score, criteria.Factor1ScoreDescription,
                        criteria.Factor1Label, criteria.Factor1CommentCount, criteria.Factor1Title, "", 18, "All Species Retained?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor2Id, criteria.Factor2Score, criteria.Factor2ScoreDescription,
                        criteria.Factor2Label, criteria.Factor2CommentCount, criteria.Factor2Title, "", 19, "Critical?",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor3Id, criteria.Factor3Score, criteria.Factor3ScoreDescription,
                        criteria.Factor3Label, criteria.Factor3CommentCount, criteria.Factor3Title, criteria.Factor3KeyInfo, 20, "Mgmt Strategy / Implement",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor4Id, criteria.Factor4Score, criteria.Factor4ScoreDescription,
                        criteria.Factor4Label, criteria.Factor4CommentCount, criteria.Factor4Title, criteria.Factor4KeyInfo, 21, "Scientific Research / Monitoring",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor5Id, criteria.Factor5Score, criteria.Factor5ScoreDescription,
                        criteria.Factor5Label, criteria.Factor5CommentCount, criteria.Factor5Title, criteria.Factor5KeyInfo, 22, "Scientific Advice",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                    <td>
                        @{
                    model = Helpers.MakeAnswerCellViewModel(criteria.Factor6Id, criteria.Factor6Score, criteria.Factor6ScoreDescription,
                        criteria.Factor6Label, criteria.Factor6CommentCount, criteria.Factor6Title, criteria.Factor6KeyInfo, 23, "Enforce",
                    "", criteria.Location, criteria.BodyOfWater, criteria.Method);
                        }
                        @Html.Partial("_AnswerCell", model)
                    </td>
                }
            </tr>
        }
    </table>
</div>

@Html.Partial("_Criteria3Summary", Model.SummaryCriteria)