﻿@model String

<ul class="sub-tabs">

@{string [] pages = new string [] {"Executive Summary", "Introduction", "Acknowledgements", "Appendix", "Draft Overall Recommendations"};
  
foreach (string page in pages){
    var lower = page.ToLower().Replace(' ', '-');
    <li class="@(Model.Equals(page) ? "on" : "") @lower">
        <a href="@lower">@page</a>
        <span></span>
    </li>
}
}  
</ul>
<div class="clear">
</div>