﻿@{
    ViewBag.Title = "Acknowledgements";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
@using (Html.BeginForm("Acknowledgements", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "acknowledgementsForm" }))
{
 <div class="analysis-review acknowledgements">
    @Html.Partial("_SupportingInfoSubTabs", "Acknowledgements")
    <div class="analysis-review-content">
        <h2>Acknowledgements</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="introduction"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on acknowledgements-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "Acknowledgement" })
        <textarea class="mceFullEditor" id="acknowledgements" name="acknowledgements">@ViewBag.Acknowledgements</textarea>
        @Html.Hidden("nextAction", "Acknowledgements")
    </div>
 </div>
}
<script data-main="views/analysis/acknowledgements" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>