﻿@model MontereyBayAquarium.Swat.Web.Models.Analysis.AppendixViewModel
@using ART;
@{
    ViewBag.Title = "Appendix";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
@using (Html.BeginForm("Appendix", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "appendixForm" }))
{
 <div class="analysis-review appendix">
    @Html.Partial("_SupportingInfoSubTabs", "Appendix")
    <div class="analysis-review-content">
        <h2>Appendix</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="acknowledgements"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on appendix-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "Appendices" })
        <!-- are there values for the appendix in the dB? -->
        @if (@Model.Appendices.Count > 0)
        { <!-- variable count of apendix divs rendered here -->
            <div class='appendix-form'>
           @for (var i = 0; i < Model.Appendices.Count; i++)
           {
               <div class='appendix-item'>
                  <h2>Appendix 
                  <a class='remove'>remove</a></h2>
                  <div class='clear'><label>Title: </label>
                  <input type='hidden' class="letter" name="appendixId" value="@Model.Appendices[i].Id" />
                  <input class="title" type='text' name='appendixTitles' id='@Html.Raw("appendixTitles" + @i.ToString())' value='@Html.Raw(@Model.Appendices[i].Title)' /></div>
                  
                   <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a><a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
                  <textarea style='width:917px' class='mceFullEditor' name='appendixDetails' id='@Html.Raw("appendixDetails" + @i.ToString() + "")' >@Html.Raw(@Model.Appendices[i].Appendix)</textarea>
                </div>
            }
            </div>
        }
        else
        {<!-- no Appendix data in dB render empty apendix divs -->
             <div class='appendix-form'><div class='appendix-item'>
                  <h2>Appendix <span></span><a class='remove'>remove</a></h2>
                  <div class='clear'><label>Title: </label>
                  
                  <input class="title" type='text' name='appendixTitles[0]' id='appendixTitles0' /></div>
                  <input type='hidden' class="letter" name="appendixId[0]" value="0" />
       
                  <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a><a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
                  <textarea style='width:917px' class='mceFullEditor' name='appendixDetails[0]' id='appendixDetails0' ></textarea>
                </div></div>
        }   
        <a class="button-on login-button add-appendix"><span class="l">Add Another</span><span class="r"></span></a><br />
        <br />
        <h2>Review Schedule</h2><div style="clear: both"></div>
        <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a><a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
        <textarea style="width:917px" class="mceFullEditor" name="reviewSchedule" id="reviewSchedule">@Model.ReviewSchedule</textarea>
        @Html.Hidden("nextAction", "Appendix")
    </div>
</div>
}@Html.Partial("_AnswerModal")
<script data-main="views/analysis/appendix" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>

 <script id="appendix-item-form" type="text/html">
    <div class="appendix-item">
         <h2>Appendix <span></span> <a class="remove">remove</a></h2>



         <div class="clear">
            <label>Title:</label>
            
         <input class="title" type='text' name='appendixTitles' id='appendixTitles<%=appendixCount%>' />
            <input class='letter' type='hidden' name="appendixId" value="0" />
        </div>

          <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a><a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
         <textarea  style="width:917px" class="mceFullEditor newEditor" name='appendixDetails' id='appendixDetails<%=appendixCount%>'></textarea>
      </div>
</script>

