﻿@model MontereyBayAquarium.Swat.Web.Models.Analysis.Criteria1ViewModel
@using ART;
@{
    ViewBag.Title = "Criteria1";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="analysis-review criteria-1">
    @Html.Partial("_AnalysisSubTabs", "criteria1")
    <div class="clear"></div>
    <div class="analysis-review-content">
        <h2>Criterion 1: Impacts of the Fishery on the Stock for which you want a Recommendation</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="@Url.Action("DefineScope")"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on criteria1-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Scoring and Rank", key = "C1Principles" })
        @Html.Partial("_AssessmentGuides", "C1Assessment")
        <div class="clear"></div>
        <a class="button-review grey expand-all"><span class="l">Expand All</span><span class="r"></span></a>
        <a class="button-review grey collapse-all"><span class="l">Collapse All</span><span class="r"></span></a>
        <div class="clear"></div>
        <div class="parentTable" url="/reports/@ViewContext.RouteData.Values["id"]/analysis/stock-analysis/criteria1">
        @Html.Partial("_StockAnalysis", Model.Criteria)
        </div>
        <div class="clear"></div>
        @using (Html.BeginForm("SaveSynthesis", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "criteria1Form", @class = "synthesis" }))
        {
            @Html.Hidden("criteriaId", "1")
            @Html.Hidden("nextAction", "Criteria1"); //save button goes to same page, next action button goes to next
            <h3>Synthesis: <span>(Optional)</span></h3>
            <textarea class="mceFullEditor" id="synthesis" name="synthesis">@Model.Synthesis</textarea>
        }
    </div>
</div>

@Html.Partial("_AnswerModal")

<script data-main="views/analysis/criteria1" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
