﻿@model Criteria4ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@using MontereyBayAquarium.Swat.Web;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{
    ViewBag.Title = "Criteria4";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="analysis-review criteria-4">
    @Html.Partial("_AnalysisSubTabs", "criteria4")
    <div class="clear"></div>
    <div class="analysis-review-content">
        <h2>Criterion 4: Impacts on Habitat and Ecosystem</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey"  href="@Url.Action("Criteria3")"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on criteria4-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
         @Html.Action("GuidingPrinciple", "Analysis", new { title = "Scoring and Rank", key = "C4Principles" })
         @Html.Partial("_AssessmentGuides", "C4Assessment")
         <div class="clear"></div>
         <div class="parentTable" url="/reports/@ViewContext.RouteData.Values["id"]/analysis/criteria4data">
            @Html.Partial("_Criteria4", Model.Criteria)
         </div>
        <div class="clear"></div>
        @using (Html.BeginForm("SaveSynthesis", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "criteria4Form", @class = "synthesis" }))
        {
            @Html.Hidden("criteriaId", "4")
            @Html.Hidden("nextAction", "Criteria4");
            <h3>Synthesis: <span>(Optional)</span></h3>
            <textarea class="mceFullEditor" id="synthesis" name="synthesis">@Model.Synthesis</textarea>
        }
    </div>
</div>

@Html.Partial("_AnswerModal")

<script data-main="views/analysis/criteria4" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>