﻿@model Criteria3ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@{
    ViewBag.Title = "Criteria3";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="analysis-review criteria-3">
    @Html.Partial("_AnalysisSubTabs", "criteria3")
    <div class="clear"></div>
    <div class="analysis-review-content">
        <h2>Criterion 3: Effectiveness of Fishery Management</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="@Url.Action("Criteria2")"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on criteria3-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Guiding Principles", key = "C3Principles" })
        @Html.Partial("_AssessmentGuides", "C3Assessment")
         <div class="clear"></div>
         <div class="parentTable" url="/reports/@ViewContext.RouteData.Values["id"]/analysis/criteria3data">
            @Html.Partial("_RegionMethodAnalysis", Model.Criteria)
         </div>
        <div class="clear"></div>
        @using (Html.BeginForm("SaveSynthesis", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "criteria31Form", @class = "synthesis" }))
        {
            @Html.Hidden("criteriaId", "31")
            @Html.Hidden("nextAction", "Criteria3");
            <h3>Management 3.1 Synthesis: <span>(Optional)</span></h3>
            <textarea class="mceFullEditor" id="synthesis31" name="synthesis" >@Model.Synthesis1</textarea>
        }
        @using (Html.BeginForm("SaveSynthesis", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "criteria32Form", @class = "synthesis" }))
        {
            @Html.Hidden("criteriaId", "32")
            @Html.Hidden("nextAction", "Criteria3");
            <h3>Management 3.2 Synthesis: <span>(Optional)</span></h3>
            <textarea class="mceFullEditor" id="synthesis32" name="synthesis" >@Model.Synthesis2</textarea>
        }
        @using (Html.BeginForm("SaveSynthesis", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "criteria33Form", @class = "synthesis" }))
        {
            @Html.Hidden("criteriaId", "33")
            @Html.Hidden("nextAction", "Criteria3");
            <h3>Summary Synthesis: <span>(Optional)</span></h3>
            <textarea class="mceFullEditor" id="synthesis33" name="synthesis" >@Model.Synthesis3</textarea>
        }
    </div>
</div>

@Html.Partial("_AnswerModal")
<script data-main="views/analysis/criteria3" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>