﻿@model Criteria2ViewModel
@using ART;
@using MontereyBayAquarium.Swat.Web.Models.Analysis;
@using MontereyBayAquarium.Swat.Web;
@using MontereyBayAquarium.Swat.Web.Models.Shared;
@{
    ViewBag.Title = "Criteria2";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="analysis-review criteria-2">
    @Html.Partial("_AnalysisSubTabs", "criteria2")
    <div class="clear"></div>
    <div class="analysis-review-content">
        <h2>Criterion 2: Impacts of the Fishery on Bycatch and Other Retained Species</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey"  href="@Url.Action("Criteria1")"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on criteria2-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
         @Html.Action("GuidingPrinciple", "Analysis", new { title = "Scoring and Rank", key = "C2Principles" })
         @Html.Partial("_AssessmentGuides", "C2Assessment")
        <div class="clear"></div>
        <div class="parentTable" url="/reports/@ViewContext.RouteData.Values["id"]/analysis/stock-analysis/criteria2">
            @Html.Partial("_Criteria2", Model)
        </div>
        <div class="clear"></div>

    </div>
</div>

@Html.Partial("_AnswerModal")
<script data-main="views/analysis/criteria2" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>

