﻿@model MontereyBayAquarium.Swat.Web.Models.Analysis.DefineScopeViewModel
@using ART;
@{
    ViewBag.Title = "DefineScope";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
<span id="reportId" style="display: none">@ViewContext.RouteData.Values["id"]</span>
<div class="define-scope">
    <a class="button-on" href="criteria1"><span class="l"><span class="right"></span>Next</span><span class="r"></span></a>
    <h2>Define all main species caught in all the fisheries being assessed</h2>
    @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "MainSpecies" })
        <a class="button-review add-row"><span class="l">Add Single</span><span class="r"></span></a>           
    <a class="button-review bulk-add"><span class="l">Add Multiple</span><span class="r"></span></a>
    <table class="define-scope-table">
        <tr>
            <th class="left-cap recommendation">Recommendation</th>
            <th class=" eighteen name">Species/Stock</th>
            <th class="eighteen">Location</th>
            <th class="eighteen">Body of Water</th>
            <th class="eighteen">Gear Type</th>
            <th class="right-cap five"></th>
        </tr>
        @foreach (RecEntity rec in Model.Recommendations)
        { //sort with yes first
            if (rec.RecommendationType == "Yes")
            {
                <tr recommendationId="@rec.RecommendationId" class="yes">
                    <td class="left-cap">
                        <input class="recCheckbox" type="checkbox" @(rec.RecommendationType == "Yes" ? "checked='checked'" : "")/>
                    </td>
                    <td class="specie-name" key="@rec.SpeciesId">@rec.CommonName <span class="scientific-name">(@rec.ScientificName)</span></td>
                    <td key="@rec.LocationId">@rec.Location</td>
                    <td key="@rec.BodyOfWaterId">@rec.BodyOfWater</td>
                    <td key="@rec.MethodId">@rec.Method</td>
                    <td class="right-cap">
                        <a class="edit-row"></a>
                        <a class="delete-row"></a>
                    </td>
                </tr>
            }
        }
        @foreach (RecEntity rec in Model.Recommendations)
        { //sort with yes first
            if (rec.RecommendationType != "Yes")
            {
                <tr recommendationId="@rec.RecommendationId">
                    <td class="left-cap">
                        <input class="recCheckbox" type="checkbox" @(rec.RecommendationType == "Yes" ? "checked='checked'" : "")/>
                    </td>
                    <td class="specie-name" key="@rec.SpeciesId">@rec.CommonName <span class="scientific-name">(@rec.ScientificName)</span></td>
                    <td key="@rec.LocationId">@rec.Location</td>
                    <td key="@rec.BodyOfWaterId">@rec.BodyOfWater</td>
                    <td key="@rec.MethodId">@rec.Method</td>
                    <td class="right-cap">
                        <a class="edit-row"></a>
                        <a class="delete-row"></a>
                    </td>
                </tr>
            }
        }
    </table>

</div>

<div id="bulk-add">
    <div class="list-wrapper">
        <h5>Species:</h5>
        <ul id="speciesList">
            <li class="none">
                <p>None</p>
            </li>
            <li class="add">
                <a class="button-review grey add-button"><span class="l">Add</span><span class="r"></span></a>
                <input class="add-new-item" item="species" />
                <a class="cancel">Cancel</a>
            </li>
        </ul>
    </div>
    <div class="list-wrapper">
        <h5>Location:</h5>
        <ul id="locationList">
            <li class="none">
                <p>None</p>
            </li>
            <li class="add">
                <a class="button-review grey add-button"><span class="l">Add</span><span class="r"></span></a>
                <input class="add-new-item" item="location" />
                <a class="cancel">Cancel</a>
            </li>
        </ul>
    </div>
    <div class="list-wrapper">
        <h5>Body of Water:</h5>
        <ul id="bowList">
            <li class="none">
                <p>None</p>
            </li>
            <li class="add">
                <a class="button-review grey add-button"><span class="l">Add</span><span class="r"></span></a>
                <input class="add-new-item" item="bodyOfWater" />
                <a class="cancel">Cancel</a>
            </li>
        </ul>
    </div>
    <div class="list-wrapper">
        <h5>Gear:</h5>
        <ul id="methodList">
            <li class="none">
                <p>None</p>
            </li>
            <li class="add">
                <a class="button-review grey add-button"><span class="l">Add</span><span class="r"></span></a>
                <input class="add-new-item" item="method" />
                <a class="cancel">Cancel</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>

    <div class="ajax-spinner"></div>
    <a class="button-on create-combination"><span class="l">Create Combinations</span><span class="r"></span></a>
    <a class="cancel-add">or Cancel</a>
</div>

<div id="notification-modal">
    <p class="edit">Please save or cancel your current edit before editing a new item.</p>
    <p class="type">Please make sure all the fields are filled out.</p>
    <p class="combination">This combination already exists</p>
</div>

<script type="text/html" id="bulk-add-item">
<li key="<%= key %>">
    <p><%= value %></p>
    <a class="delete"></a>
</li>
</script>

<script type="text/html" id="view-scope">
       <tr recommendationId="<%= item.recommendationId %>">
            <td key="<%= item.typeId %>" class="left-cap">
                <input class="recCheckbox" type="checkbox" <% if (item.recommendation == "checked"){  %> checked='checked' <% } %> />
            </td>
            <td key="<%= item.speciesId %>" class="specie-name"><%= item.species %></td>
            <td key="<%= item.locationId %>"><%= item.location %></td>
            <td key="<%= item.bodyOfWaterId %>"><%= item.bow %></td>
            <td key="<%= item.methodId %>"><%= item.gear %></td>
            <td class="right-cap">
                <a class="edit-row"></a>
                <a class="delete-row"></a>
            </td>
        </tr>
</script>
<script type="text/html" id="edit-scope">
   <tr class="edit" recommendationId="<%= item.recommendationId %>">
            <td key="<%= item.typeId %>" class="left-cap">
                <input class="recCheckbox" type="checkbox" <% if (item.recommendation == "checked"){  %> checked='checked' <% } %> />
            </td>
            <td >
                <input class="species" value="<%= item.species %>" item="species" key="<%= item.speciesId %>" />
            </td>
            <td>
                <input class="location" value="<%= item.location %>" item="location" key="<%= item.locationId %>" />
            </td>
            <td>
                <input class="bow"  value="<%= item.bow %>" item="bodyOfWater" key="<%= item.bodyOfWaterId %>" />
            </td>
            <td>
                <input class="gear"  value="<%= item.gear %>" item="method" key="<%= item.methodId %>" />
            </td>
            <td class="right-cap">
                <a class="save-row"></a>
                <a class="cancel-row"></a>
            </td>
        </tr>
</script>

<script type="text/html" id="add-scope">
   <tr class="edit" recommendationId="0">
            <td key="0" class="left-cap">
                <input class="recCheckbox" type="checkbox"  />
            </td>
            <td>
                <input class="species" value="" item="species" />
            </td>
            <td>
                <input class="location" value="" item="location" />
            </td>
            <td>
                <input class="bow"  value="" item="bodyOfWater" />
            </td>
            <td>
                <input class="gear"  value="" item="method" />
            </td>
            <td class="right-cap">
                <a class="save-row"></a>
                <a class="cancel-row"></a>
            </td>
        </tr>
</script>
<script data-main="views/analysis/defineScope" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>