﻿@{
    ViewBag.Title = "Draft Overall Recommendations";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
@using (Html.BeginForm("DraftOverallRecommendations", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "draft-overall-recommendations" }))
{
 <div class="analysis-review draft-overall-recommendations">
    @Html.Partial("_SupportingInfoSubTabs", "Draft Overall Recommendations")
    <div class="analysis-review-content">
        <h2>Draft Overall Recommendations</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="appendix"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <!--li class="next">
                <a class="button-on acknowledgements-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li-->
        </ul>
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "summary" })
        <h3>Text Summary</h3>
        <textarea class="mceFullEditor" id="textSummary" name="textSummary">@ViewBag.TextSummary</textarea>
        <h3>Eco-certification/FIP information (required only if the fishery is eco-certified (or under assessment) or in a FIP)</h3>
        <textarea class="mceFullEditor" id="ecoCertification" name="ecoCertification">@ViewBag.EcoCertification</textarea>
        @Html.Hidden("nextAction", "DraftOverallRecommendations")
        @Html.Action("FinalRecommendationTable", "Review", new { id = ViewContext.RouteData.Values["id"] })
    </div>
 </div>
}
<script data-main="views/analysis/draftOverallRecommendations" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>