﻿@{
    ViewBag.Title = "ExecutiveSummary";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
@using (Html.BeginForm("ExecutiveSummary", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "executiveSummaryForm" }))
{
    <div class="analysis-review executuve-summary">
        @Html.Partial("_SupportingInfoSubTabs", "Executive Summary")
        <div class="analysis-review-content">
            <h2>
                Executive Summary</h2>
            <ul class="direction">
                <li class="back"><a class="button-grey" href="criteria4"><span class="l"><span class="left">
                </span>Go Back</span><span class="r"></span></a> </li>
                <li class="next"><a class="button-on executive-summary-button"><span class="l"><span class="right">
                </span>Next Step</span><span class="r"></span></a> </li>
            </ul>
            <div class="clear">
            </div>
            @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "ExecSummary" })
            <textarea class="mceFullEditor" id="executiveSummary" name="executiveSummary">@ViewBag.ExecutiveSummary</textarea>
            @Html.Hidden("nextAction", "ExecutiveSummary")
        </div>
    </div>
}
<script data-main="views/analysis/executiveSummary" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
