﻿@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
@using ART;
@using (Html.BeginForm("Introduction", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "introductionForm" }))
{
  <div class="analysis-review introduction">
     @Html.Partial("_SupportingInfoSubTabs", "Introduction")
    <div class="analysis-review-content">
        <h2>Introduction</h2>

        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="executive-summary"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on introduction-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
        @Html.Action("GuidingPrinciple", "Analysis", new { title = "Help", key = "IntroScope" })
        <div class="subheader">
           <h3>Scope of the analysis and ensuing recommendation 

           </h3>

        </div>
        <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a> <a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
        <textarea class="mceFullEditor" id="introductionScope" name="introductionScope" >@ViewBag.IntroductionScope</textarea>
        <div class="subheader">
           <h3>Overview of the species and management bodies
           </h3>

        </div>
        <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a> <a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
        <textarea class="mceFullEditor" id="introductionSpeciesOverview" name="introductionSpeciesOverview" >@ViewBag.IntroductionSpeciesOverView</textarea>
         <div class="subheader">
           <h3>Production Statistics
           </h3>

        </div>
        <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a> <a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
        <textarea class="mceFullEditor" id="productionStatistics" name="productionStatistics" >@ViewBag.ProductionStatistics</textarea>
                 <div class="subheader">
           <h3>Importance to the US/North American market.
           </h3>

        </div>
        <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a> <a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
        <textarea class="mceFullEditor" id="importanceToMarket" name="importanceToMarket" >@ViewBag.ImportanceToMarket</textarea>
         <div class="subheader">
           <h3>Common and market names.
           </h3>

        </div>
        <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a> <a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
        <textarea class="mceFullEditor" id="commonMarketNames" name="commonMarketNames" >@ViewBag.CommonMarketNames</textarea>
                 <div class="subheader">
           <h3>Primary product forms.
           </h3>

        </div>
        <a class="button-review document-insert"><span class="l">Insert Reference</span><span class="r"></span></a> <a class="button-review image-insert"><span class="l">Insert Image</span><span class="r"></span></a>
        <textarea class="mceFullEditor" id="productForms" name="productForms" >@ViewBag.ProductForms</textarea>
        @Html.Hidden("nextAction", "Introduction")
    </div>
  </div>
}

@Html.Partial("_AnswerModal")
<script data-main="views/analysis/introduction" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
