﻿@using MontereyBayAquiarum.Swat.Web
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Scoring Legend</title>
     <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic|Cabin+Condensed:400,700|Questrial' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic|Questrial' rel='stylesheet' type='text/css'>
    
    @Url.LessCss("~/Scripts/libs/less-1.3.0.min.js", "~/Content/Site.less")


    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/libs/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
</head>
<body>
    <div class="legend">
        <ul class="tabs">
          <li class="on">Criterion 1</li>
          <li>Criterion 2</li>
          <li>Criterion 3</li>
          <li>Criterion 4</li>
        </ul>
        <div class="clear"></div>
        <ul class="content">
           <li>
              <h2>1.1 Inherent Resilience</h2>
                <h4>1: Low</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>2: Medium</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>3: High</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.
           </li>
           <li>
                <h2>1.1 Criteria 2 stuff</h2>
                <h4>1: Low</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>2: Medium</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>3: High</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.
           </li>
           <li>
                <h2>1.1 Criteria 3 stuff</h2>
                <h4>1: Low</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>2: Medium</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>3: High</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.
           </li>
           <li>
                <h2>1.1 Criteria 4 stuff</h2>
                <h4>1: Low</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>2: Medium</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.

                <h4>3: High</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius est ac augue adipiscing ut hendrerit quam laoreet. Etiam non est nulla. Donec vel lacinia elit. Phasellus sed ligula diam. Fusce ac sem nunc, eu ullamcorper sem.
           </li>
        </ul>
    </div>
</body>
</html>
<script data-main="views/analysis/legend" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
