﻿@{
    ViewBag.Title = "Preview";
    TempData["Context"] = "Preview";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="report-preview">
    <a class="button-on" href="@Url.Action("SubmitReport")"><span class="l">Submit for Review</span><span class="r"></span></a>
    <h2>Report Preview</h2>
    <p>Here is a preview of the printed report. &nbsp;Please review your work and make changes as necessary in each of the tabbed sections. &nbsp;Once you are satisfied with your analysis, click the Submit for Review button to notify the Seafood Watch team that your report is ready for review.</p>
    <h3>Final Recommendation</h3>
    @Html.Action("FinalRecommendationTable", "Review", new { id = ViewContext.RouteData.Values["id"] })

    @Html.Action("ExecutiveSummaryText", "Review", new { id = ViewContext.RouteData.Values["id"] })

    @Html.Action("IntroductionText", "Review", new { id = ViewContext.RouteData.Values["id"] })

    <h3>Analysis</h3>

    @Html.Action("Criteria1Review", "Review", new { id = ViewContext.RouteData.Values["id"] })

    @Html.Action("Criteria2Review", "Review", new { id = ViewContext.RouteData.Values["id"] })
    <div class="criteria-3">
    @Html.Action("Criteria3Review", "Review", new { id = ViewContext.RouteData.Values["id"] })
    </div>
    
    @Html.Action("Criteria4Review", "Review", new { id = ViewContext.RouteData.Values["id"] })

    @Html.Action("ReferencesTable", "Review", new { id = ViewContext.RouteData.Values["id"] , keywords = ""})

    @Html.Action("OverallRecommendationTable", "Review", new { id = ViewContext.RouteData.Values["id"] })

    @Html.Action("AppendixList", "Review", new { id = ViewContext.RouteData.Values["id"] })


</div>

<script data-main="views/analysis/preview" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>