﻿@model IList<Criteria1Entity>
@using ART;
@{
    ViewBag.Title = "StockHealth";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="analysis-review stock-health">
   @Html.Partial("_AnalysisSubTabs", "stock-health")
    <div class="clear"></div>
    <div class="analysis-review-content">
        <h2>Stock Health</h2>
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="define-scope"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on" href="criteria1"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
        <a class="button-review expand-all"><span class="l">Expand All</span><span class="r"></span></a>
        <a class="button-review collapse-all"><span class="l">Collapse All</span><span class="r"></span></a>
        <div class="clear"></div>
        <div id="parentTable" url="/reports/@ViewContext.RouteData.Values["id"]/analysis/stock-analysis/stock-health">
            <div id="callingPage" style="display:none">StockHealth</div>
            @Html.Partial("_StockAnalysis", Model)
        </div>
    </div>
</div>

@Html.Partial("_AnswerModal")

<script data-main="views/analysis/stockAnalysis" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
