﻿@{
    ViewBag.Title = "Supplemental Info";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}
@using (Html.BeginForm("SupplementalInfo", "Analysis", new { id = Convert.ToInt32(ViewContext.RouteData.Values["id"]) }, FormMethod.Post, new { id = "supplementalInfoForm" }))
{
  <div class="analysis-review supplemental-info">
    <ul class="sub-tabs">
        <li>
            <a href="executive-summary">Executive Summary</a>
            <span></span>
        </li>
        <li>
            <a href="introduction">Introduction</a>
            <span></span>
        </li>
        <li>
            <a href="acknowledgements">Acknowledgements</a>
            <span></span>
        </li>
        <li class="on">
            <a href="supplemental-info">Supplemental Info</a>
            <span></span>
        </li>
        <li>
            <a href="appendix">Appendix</a>
            <span></span>
        </li>
    </ul>
    <div class="clear"></div>
    <div class="analysis-review-content">
        <h2>Supplemental Information Section</h2>
        
        <ul class="direction">
            <li class="back">
                <a class="button-grey" href="acknowledgements"><span class="l"><span class="left"></span>Go Back</span><span class="r"></span></a>
            </li>
            <li class="next">
                <a class="button-on supplementalinfo-button"><span class="l"><span class="right"></span>Next Step</span><span class="r"></span></a>
            </li>
        </ul>
        <div class="clear"></div>
        <p>Fill out this section as needed, e.g. if there are health concerns/advisories associate dwith the consumption of the fish/shellfish being researched. </p>
        <textarea class="mceFullEditor" id="supplementalInfo" name="supplementalInfo">@ViewBag.SupplementalInfo</textarea>
        @Html.Hidden("nextAction", "SupplementalInfo")
    </div>
  </div>
}
<script data-main="views/analysis/supplementalInfo" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>
