﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="answers edit-page">
@{
    var answerId = ViewContext.RouteData.Values["answerId"].ToString();
}



@Html.Action("EditAnswer", "Answer", new { id = ViewContext.RouteData.Values["id"], answerId = answerId, factorTypeId = 0 })
</div>

<div class="clear"></div>
<div id="reference-modal">
            <h2>Attach References</h2>
        <div id="reference-container">
            @Html.Action("Search", "Reference", new { id = ViewContext.RouteData.Values["id"] }) 
        </div>
</div>
<div id="image-modal">
    <h2>Attach Images</h2>
    <div id="image-container">
        @Html.Action("Search", "Image", new { id = ViewContext.RouteData.Values["id"]})
    </div>
</div>
<script data-main="views/answer/edit" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>

