﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnalysisLayout.cshtml";
}

<div class="references">

<h2>Answers</h2>
<div id="answer-list">
    @Html.Action("AnswerList", "Answer", new { id = ViewContext.RouteData.Values["id"], factorTypeId = 0 }) <!--0 means get all -->
</div>
</div>
@Html.Partial("_DeleteConfirmationModal")
<script data-main="views/answer/index" src="@Url.Content("~/Scripts/libs/require.js")" type="text/javascript"></script>

