﻿@model MontereyBayAquarium.Swat.Web.Models.Shared.AnswerCellViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="/scripts/jquery-1.4.4.js" type="text/javascript"></script>
</head>
<body>
    <div id="content">
        @Html.Partial("~/Views/Shared/_AnswerCell.cshtml", Model)
    </div>
</body>
</html>
